[2015-02-19 19:34] jairideout commented on #829
Thanks @Jorge-C, sorry that we missed the `scaling` parameter to the `scores` method. Here's a couple potential solutions (which aren't necessarily mutually exclusive) that might make the API more intuitive for our target users:

- Keep the OO interface so that users interested in different scalings can efficiently compute these. Provide high-level procedural interfaces that simply use the OO inte

[2015-02-19 19:44] mortonjt commented on #829
In the future, I'm planning on adding in some SVD methods.  But they would most likely be tied with the contingency table.  Do you think they would belong in the Ordination classes, or a separate PCA class?

[2015-02-19 19:54] ebolyen commented on #829
I'm looking at some of the source code for what scaling does. In some cases it looks trivial, and in others its just a scalar (go figure). I'm not entirely sure how yet, but I feel like we may be able to sidestep this concern entirely with the correct factoring.

[2015-02-19 20:14] josenavas commented on #668
After looking at my notes, the current code accept 2 metadata columns: the trajectory one and the sorting one. An extra 3rd column is required: individual. This one is used to represent which is the column name that defines an individual within a trajectory group. I'm still unsure which are the implications on the code and I will need to discuss it with @antgonza to see which are the next steps th

[2015-02-19 21:33] ebolyen opened #855 "Checklist.py should verify the copyright headers on each file."
The current standard for scikit-bio's copyright headers is defined [here](http://scikit-bio.org/docs/latest/development/new_module.html). What checklist should be able to validate:

If there is a module level docstring:
 1. The docstring appears at the top of the file. Variant isn't important (can be `r"""....` or plain `"""....` and any style of quotation).
 2. This docstring is immediately follo

[2015-02-19 22:10] MikeTrizna commented on #409
I ran into a lot of trouble with trying to install scikit-bio on my Windows 7 work computer recently. The fix finally came when I commented out the line in setup.py:
[code]
I have 32-bit Python 2.7.6 installed and using mingw32's version of g++ to compile python libaries, but my computer reports platform.machine() to be "AMD64", so the -msse2 flag was skipped during install. You can see that I am

[2015-02-20 06:50] anderspitman opened #857 "Tests fail when run twice in a row"
When running tests via ``numpy.testing.Tester``, if you run them twice in a row the second time fails:

[code]

The errors seem to indicate that expected warnings aren't happening:
``AssertionError: No warning raised when calling PCoA``

This makes sense, because I've noticed certain warnings only occur the first time you use the procedure after importing it.

[2015-02-20 08:40] anderspitman commented on #844
It turns out ``numpy.testing.Tester`` isn't equivalent to running ``nosetests`` from the command line. This can be illustrated by running:

[code]
which passes, and comparing it to

[code]

Which fails. I'm still trying to understand exactly what is different. The way it parses some of the test comparisons doesn't seem to work the same.

So technically our use of ``numpy.testing.Tester`` is curren

[2015-02-20 15:33] josenavas commented on #857
We had this issue in qiita. The warnings are raised only the first time that they're hit in a python session. They're then cached and they're not raised again. You can apply a filter to python so it always raises the warning by doing:

[code]

[2015-02-20 16:47] ElDeveloper commented on #857
Yeah, that would work but I would say that in the case of scikit-bio we
want the warnings to only show up once. Hoping not tu clutter the stderr
of applications using the library, for example QIIME.

On (Feb-20-15| 7:33), josenavas wrote:

[2015-02-20 18:10] anderspitman commented on #857
We might be able to reset the warnings cache manually when the tests are run. I'll look into that as part of my work on #808.

[2015-02-20 18:36] jairideout commented on #409
Thanks for reporting this issue @MikeTrizna! I'll reopen this issue so someone can work on a fix.

[2015-02-20 19:16] jairideout commented on #844
Thanks for investigating this @anderspitman! I agree it'd be nice to be able to run the unit tests after a pip-install. Can you post the output of a failing doctest via `numpy.testing.Tester`?

In the meantime (to get #808 merged), we can probably just update the docs to instruct developers to run `make test` when developing, and then update the user-facing docs to have the long `nosetests` comman

[2015-02-20 20:22] anderspitman commented on #844
Here's a good example. It looks like the numpy tester is splitting the strings into tuples or something:

[code]

[2015-02-20 20:23] anderspitman commented on #844
And I think I have a working wrapper around nose. It's actually very simple. I think numpy had to add a bunch of stuff specific to their environment, but all we really need is to run basic ``nosetests`` with doctests and ignore. I've testing my implementation in isolation. I'm integrating it into skbio now.

[2015-02-20 20:38] jairideout commented on #844
Sounds good, thanks!

[2015-02-20 20:55] jairideout commented on #668
Thanks for the update @josenavas!

[2015-02-20 21:57] Jorge-C commented on #844
This might have been discussed before, but keep in mind that doctests only run on Py2 (they don't work on Py3 because of representation issues) so we wouldn't like users/developers to think things are broken in the new Python versions :)

[2015-02-20 22:03] anderspitman commented on #844
I actually didn't know that! We can either include a parameter or detect py2 vs py3.

[2015-02-20 22:06] Jorge-C commented on #844
That'd be great, thanks @anderspitman!

[2015-02-20 23:12] ElDeveloper commented on #830
PR in https://github.com/scipy/scipy/pull/4540

[2015-02-21 06:33] olgabot opened #859 "hello!"
Hello there! I'm Olga and I'm working on a machine learning framework for bioinformatics, focused on RNA-seq: https://github.com/YeoLab/flotilla
Our problems are similar and possibly overlapping, and I figured it would be good to introduce myself so we may combine forces in the future.
Olga

[2015-02-22 01:39] mortonjt commented on #848
At this point, it seems that we agree on the following

* The Contingency table should be completely separate from the BIOM API
* BIOM parsers will need to be built
* A ```pandas.DataFrame``` should be used as the core data type

I thought a bit about @gregcaporaso comment about pandas multiIndex and I actually think it is a really good idea - it naturally allows for an intuitive display/organizat

[2015-02-22 16:14] mortonjt commented on #835
Perhaps this isn't dependent on the Contingency Table.

If so, I'll be submitting a PR for this really soon.  I'll probably add a new file called ```skbio.stats.composition```

It'll contain the following functionality

* ```closure(mat)```
* ```zero_replacement(mat)```
* ```perturb(x, y)```
* ```perturb_inv(x, y)```
* ```power(x, y)```
* ```clr(mat)```
* ```centre(mat)```

These are all of the fu

[2015-02-22 19:55] ebolyen commented on #848
Thanks for bringing up the interesting point about observations being of different types, @mortonjt. Also, keep in mind that we aren't really worried about how to do something, it may be true that a pandas dataframe is convenient, but we may also find a numpy array is all we need, either way, that is a decision to make after we decide what we want to accomplish, rather than constraining ourselves

[2015-02-23 03:23] mortonjt commented on #661
Looks like this issue has been around for a while.  Maybe it would be appropriate to ask some of the sphinx developers on their mailing list?

[2015-02-23 04:22] Jorge-C commented on #661
:+1:

[2015-02-23 05:45] anderspitman commented on #661
[Fixed in latest Sphinx possibly?](https://github.com/sphinx-doc/sphinx/issues/1585)

[2015-02-23 14:53] gregcaporaso commented on #859
Hi @olgabot, thanks for getting in touch. Would love to get together and chat - I'll be at UCSD the week of March 9th. Will you be around?

[2015-02-23 16:08] vivekiitkgp commented on #855
@ebolyen I would like to give a shot to this issue. Could you please assign?

[2015-02-23 16:57] ebolyen commented on #855
@gregcaporaso, @vivekiitkgp needs to be added as a contributor to be assigned issues.

In the mean-time, @vivekiitkgp is handling this issue.

Thanks!

[2015-02-23 17:18] ElDeveloper commented on #835
Yes, I'll have a look!

On (Feb-22-15| 8:14), mortonjt wrote:

[2015-02-23 17:51] jairideout commented on #830
Thanks! Let's leave this issue open so that we can deprecate scikit-bio's `spatial` subpackage once `procrustes` is in a scipy release.

[2015-02-23 17:57] ElDeveloper commented on #830
Sounds good.

On (Feb-23-15| 9:51), Jai Ram Rideout wrote:

[2015-02-23 18:12] jairideout commented on #661
Just tried the latest Sphinx (1.3b3dev-20150223) and got a different error:

[code]

[2015-02-23 18:16] Jorge-C commented on #661
Is that a legitimate error or spurious?

[2015-02-23 18:18] anderspitman commented on #844
@jairideout 2 questions:

1) Would you prefer auto detect py2 vs py3 or explicit doctest parameter for skbio.test()?

2) Do you want me to roll that functionality into #808 or open a separate issue?

[2015-02-23 18:20] ebolyen commented on #844
I think autodetection would be ideal, as we really do want to run the doctests whenever we are testing in a python2.7 env. I don't know how difficult that is to do however.

[2015-02-23 18:20] jairideout commented on #661
Not sure how much this particular warning matters to the correctness of the docs. We have Sphinx warnings promoted to errors because it's caught other (legitimate) doc problems in the past. I'm able to reproduce it each time I run `make html` so it doesn't seem like a random error. Sorry if I misread your question!

[2015-02-23 18:26] jairideout commented on #844
Agree with @ebolyen that autodetection would be really nice. I think this makes sense to add to #808 so that Py3 users don't think that scikit-bio is broken if they test their installation. It should be pretty easy to detect the Python version by using `sys.version_info`. @anderspitman does that sound good to you? If it ends up being a large amount of work we can also tackle it after #808 is merge

[2015-02-23 18:28] anderspitman commented on #844
Yup, I was leaning that way. Should be easy to add.

[2015-02-23 18:29] ElDeveloper commented on #844
Since we only need to know if it is py3k or not, you could use
`from future.utils import PY3`, where `PY3` is a boolean value.

On (Feb-23-15|10:26), Jai Ram Rideout wrote:

[2015-02-23 18:47] anderspitman commented on #844
:+1: for ``future.utils.PY3``

[2015-02-23 21:20] gregcaporaso commented on #859
Great, I'll follow up by email.

[2015-02-23 21:20] #859 closed

[2015-02-24 00:08] mortonjt commented on #835
Thanks!

[2015-02-24 15:21] vivekiitkgp opened #861 "Segmentation fault on nosetests"
Hi,

I cloned scikit-bio and installed as directed in the [README](https://github.com/biocore/scikit-bio#installation-of-development-version). However, on running `nosetests --with-doctest`, I get segmentation fault on one of the tests.

[Here](https://gist.github.com/vivekiitkgp/48c31993f5c0ee1fd8ab) is the gist of the output.

nosetests version 1.3.4

[2015-02-24 16:00] ebolyen commented on #861
Can you import skbio from a python interpreter? There is likely something going on with the compiled code.

[2015-02-24 16:05] vivekiitkgp commented on #861
Yes. The import is successful.

On Tue Feb 24 2015 at 9:32:09 PM Evan Bolyen <notifications@github.com>
wrote:

[2015-02-24 16:07] ebolyen commented on #861
What operating system do you use?

[2015-02-24 16:11] vivekiitkgp commented on #861
Linux ubuntu 3.13.0-24-generic i686 GNU/Linux

On Tue Feb 24 2015 at 9:37:45 PM Evan Bolyen <notifications@github.com>
wrote:

[2015-02-24 16:21] ebolyen commented on #861
Where is your python located, and is nosetests using the same one? Assuming you are, try running `pip install -e .` in the root of scikit-bio again.

[2015-02-24 16:30] vivekiitkgp commented on #861
Yes. I'm using Python 2.7 and nosetests-2.7 to ensure that same version of
python is being used.

Re-running the command didn't change the output.

On Tue Feb 24 2015 at 9:51:36 PM Evan Bolyen <notifications@github.com>
wrote:

[2015-02-24 16:43] ebolyen commented on #861
type `which nosetests | xargs less` the top line should be the same location as `which python`

[2015-02-24 16:48] vivekiitkgp commented on #861
[code]

[2015-02-25 16:11] gregcaporaso commented on #855
I've sent @vivekiitkgp an invitation to join the team.

[2015-02-25 19:02] mortonjt commented on #848
I like that idea about associating taxonomy with an id
Here are a couple of questions

* Would we want to enforce symmetry between sample metadata and observation metadata?  For example, it makes sense to collapse observations based on taxonomy.  But would we interested in collapsing metadata based on location for instance (aka collapsing samples by state or country).
* Would we want to have diffe

[2015-02-25 20:05] wasade commented on #848
Yes, in the case of sample replicates or even sample taxonomy (in the case
of comparative genomics)

On Wed, Feb 25, 2015 at 12:02 PM, mortonjt <notifications@github.com> wrote:

[2015-02-27 22:14] mortonjt commented on #848
Ok.  That would complicate things a bit.  That would implicate the multiple metadata fields could serve as an index for observations/samples.  In addition, how would samples be combined?  That would imply that there is some normalization scheme allowing samples to be compared to each other.  As far as I can tell, that is an unanswered question.

Let me take a step back and pose the following quest

[2015-02-27 23:00] Jorge-C commented on #848
:+1: being able to answer that question will get us much closer to a proposal that is both concrete and improves on the state of the art.

[2015-02-27 23:20] wasade commented on #848
@gregcaporaso, what repo did the code for handling sample replicates go into? Can't find it right now

@mortonjt, looking through, potentially just `apply`, although it is nearly the same as `transform` with the exception that you might want to apply to the whole table, not just per sample or observation.

To be honest, we have spent a _lot_ of time over the last few years refining the API, in par

[2015-02-28 01:34] Jorge-C commented on #848
I agree with @wasade's comments. What are the drawbacks of porting biom's table with its current API / reasons to start from scratch?

[2015-03-02 06:29] vivekiitkgp commented on #855
@ebolyen Can you please review the PR?

[2015-03-02 15:28] gregcaporaso commented on #848
I agree that we should discuss this. Could this be a discussion topic for
next week's sprint?

On Fri, Feb 27, 2015 at 6:34 PM, Jorge Cañardo Alastuey <
notifications@github.com> wrote:

[2015-03-02 16:25] antgonza commented on #848
Yup, we should put all issues we want to discuss in the hackpad

[2015-03-05 00:25] gregcaporaso commented on #848
Thanks for the input everyone, we've been discussing this and are thinking that we should hold off on this for now as there are other higher priority issues. We can discuss further next week if we want more discussion at this time.

[2015-03-06 20:08] ebolyen commented on #781
Some unit tests that definitely should exist for this functionality:

 * The case where an empty line occurs in the middle of a record should fail
 * The case where an empty line occurs instead of the sequence should fail
 * The case where an empty line occurs between records should succeed

[2015-03-06 20:09] ebolyen commented on #781
@anderspitman Would you be up for tackling this issue? Should be relatively straight-forward and will introduce you to IO. I am happy to explain anything in regards to IO as well.

[2015-03-06 20:11] Jorge-C commented on #781
Just curious, is there a standard for these files? Does it say anything
about blank lines?
On Mar 6, 2015 1:08 PM, "Evan Bolyen" <notifications@github.com> wrote:

[2015-03-06 20:17] ebolyen commented on #400
We should probably replace the ascii in the readme with our actual logo, now that we have one. @johnchase Would you be up for doing this? The logo on the front of our homepage should work fine for this.

[2015-03-06 20:26] ElDeveloper commented on #400
But `ASCII >> graphics`.

On (Mar-06-15|12:17), Evan Bolyen wrote:

[2015-03-06 20:29] ElDeveloper commented on #781
I haven't checked in a while but can we also add that it should report
what was the last record it successfully parsed? Usually useful to
figure out what's wrong with your file.

On (Mar-06-15|12:08), Evan Bolyen wrote:

[2015-03-06 20:30] ebolyen commented on #400
True, but `logo ⊆ professional packages`

[2015-03-06 20:30] jairideout commented on #781
From the file format descriptions I could find for FASTA/Q, blank/whitespace-only lines aren't part of the format. However, we've had users with files that had a trailing blank line at the end of the file, or with records separated by newlines (maybe for readability?).

I think we should support ignoring these lines only if they appear *between* records. If they appear in the middle of a record it

[2015-03-06 20:33] jairideout commented on #400
:+1: I think having the ASCII art in `skbio.__init__` makes sense, but we should use our logo on the web.

[2015-03-06 20:39] Jorge-C commented on #781
That's very reasonable.

I don't have any thoughts regarding whether it should be possible to error
or not on blank lines.

2015-03-06 13:30 GMT-07:00 Jai Ram Rideout <notifications@github.com>:

[2015-03-06 20:53] ElDeveloper commented on #400
:+1: (but at heart I :-1: this change :P).

On (Mar-06-15|12:30), Evan Bolyen wrote:

[2015-03-06 20:59] johnchase commented on #400
So we are at a consensus that the logo is going to be the actual graphic and not the ASCII art? If so I will make that change.

[2015-03-06 21:05] ElDeveloper commented on #400
Yes, you are right @johnchase!

On (Mar-06-15|12:59), John Chase wrote:

[2015-03-07 00:58] JTFouquier opened #866 "ascii_art() in class TreeNode cannot handle long organism names when extending"
update :hand: Hmmmm...  I think I might have been confusing myself using the ascii art.  I don't think you'd really want to "extend" in this manner.  Meaning the names shouldn't ever get cut off.  Probably can close this issue :)

I was just using the ascii_art() to play around with the TreeNode class and noticed an issue.  When extending or appending a node, it cuts off the node you'd like to app

[2015-03-07 07:52] #866 closed

[2015-03-07 07:55] JTFouquier commented on #866
Yeah, I'm going to go with nevermind. :)

[2015-03-07 14:53] jairideout commented on #844
Fixed in #808.

[2015-03-07 14:53] #844 closed

[2015-03-07 14:56] jairideout commented on #799
Fixed in #808.

[2015-03-07 14:56] #799 closed

[2015-03-07 15:00] jairideout commented on #606
Fixed in #808.

[2015-03-07 15:00] #606 closed

[2015-03-07 15:12] jairideout opened #867 "update/fix outdated user/dev docs"
Lots of our user/dev (non-API) docs are outdated due to changes over the past several months (e.g., different testing strategies, documentation guidelines, issue labeling, etc.). I'll take a pass through and fix any issues. This should make things clearer for users and devs getting started with scikit-bio contributions.

Will address #850 as part of this.

[2015-03-07 15:13] jairideout commented on #850
Will address as part of #867.

[2015-03-07 16:42] anderspitman commented on #857
#808 ended up getting somewhat cluttered. I'll work on this separately.

[2015-03-07 16:43] anderspitman commented on #861
@vivekiitkgp are you still running into problems with this?

[2015-03-08 05:39] vivekiitkgp commented on #861
@anderspitman Yes. I couldn't resolve it.

[2015-03-08 17:41] #855 closed

[2015-03-08 21:20] mortonjt opened #869 "Ordination methods restricted to DistanceMatrix"
Looking at the Ordination methods that we have now, it seems that they can only be used on Distance Matrices.

This is a bit restrictive, since these Ordination methods cannot be applied to raw abundance tables - which is a necessity for feature ordination (aka reducing feature spaces)

Can we either
1. Add an `apply` method to the DistanceMatrix, DissimilarityMatrix and the Contingency table (onc

[2015-03-08 22:17] rob-knight commented on #869
This was intentional as it allows distance matrices calculated with auxiliary information, notably the phylogenetic tree, that is external to the feature table to be used.

In the past (2009-era) when we tested it feature-level ordination was not very useful. However I agree that the scale of data has changed so much since then that it is worth revisiting this, LLE, equation learning, topic modeli

[2015-03-08 22:28] mortonjt commented on #869
Makes sense!

It is also possible that feature ordination didn't work well in the past because it wasn't analyzed in the proper sample space.   I would be happy to elaborate during our Tuesday meeting.

[2015-03-09 14:43] mortonjt commented on #869
Switching gears.

Coming to think of it, eigenvalue decomposition doesn't even work on rectangle matrices.  So having the DistanceMatrix requirement is actually a really good design decision!

On the otherhand, the SVD works just fine on rectangular matrices.  In fact, I would think it would be a bit redundant to apply an SVD on a symmetric square matrix `X`, because `np.dot(X, X.T)==np.dot(X.T, X

[2015-03-09 16:58] jairideout commented on #869
@mortonjt out of the 4 available ordination techniques in scikit-bio, only PCoA requires the input to be a `DistanceMatrix` object. The rest accept `array_like`, which can be rectangular matrices representing raw abundance tables. Ultimately this will be integrated with (or replaced by) the `ContingencyTable` object when it is ready, but for now we're using a lower-level data structure (`numpy.nda

[2015-03-09 16:58] #869 closed

[2015-03-09 17:12] mortonjt commented on #869
Sounds good!

[2015-03-09 22:07] josenavas opened #870 "Add 'metadata' attribute to BiologicalSequence"
In some cases it is useful to attach some metadata/precomputed values to the BiologicalSequence so we can access those values later. I think a dict will suffice.

[2015-03-09 22:29] ebolyen commented on #870
:+1: We are heading in this same direction. We will also need this for stockhom formats. Likely related to #827 in some way.

[2015-03-10 17:04] MikeDeberg commented on #791
Hey guys,
I believe I understand @ebolyen's intended solution and will take a look at this.

[2015-03-10 17:05] ebolyen commented on #791
Thanks @MikeDeberg!
@gregcaporaso @jairideout, @MikeDeberg is a current student here at NAU and would like to get involved in skbio.

@MikeDeberg I am happy to help you out in getting familiar with our codebase and processes.

[2015-03-10 17:06] ebolyen commented on #791
@gregcaporaso Can you assign?

[2015-03-10 18:28] MikeDeberg commented on #791
Thank you @ebolyen I will definitely take you up on that offer.

[2015-03-10 21:11] gregcaporaso commented on #791
Great, welcome @MikeDeberg! I just invited you as a collaborator on the repository. Once you accept that you should be able to self-assign the issue.

[2015-03-10 23:43] jairideout commented on #791
@gregcaporaso I don't think @MikeDeberg will be able to self-assign since collaborators have read-only permissions.

@MikeDeberg just let us know when you've accepted the invite and we'll assign to you.

[2015-03-11 00:04] MikeDeberg commented on #791
Thank you @gregcaporaso,

I have accepted the invite, ready for assignment.

[2015-03-11 00:17] jairideout commented on #791
Assigned to you, thanks @MikeDeberg!

[2015-03-11 00:20] MikeDeberg commented on #791
Awesome, thanks @jairideout

[2015-03-11 01:26] anderspitman commented on #861
@vivekiitkgp looking at your results from running the commands @ebolyen suggested, it looks like ``nosetests-2.7`` is using a different python interpreter (``/usr/bin/python``) than your shell (``/usr/local/bin/python``). Can you run the same commands with ``nosetests`` instead of ``nosetests-2.7``?

On a side note, I highly recommend using Anaconda or at least virtualenv. Saves a lot of headaches

[2015-03-11 01:37] anderspitman opened #871 "tests can't be run in interactive session"
After the changes I made to the testing procedures, particularly using nose's ``run_exit`` method, running tests within an interactive python session causes the session to exit, and running from within ``IPython`` throws the following exception:

[code]

Looks like I'll need to detect whether we're running interactively.

[2015-03-11 01:50] anderspitman commented on #871
Hm this might be a little tricky, since ``python -c "import skbio; skbio.test()"`` is technically an interactive session, as far as I can tell. Unless someone else knows a way to differentiate. The easiest way to solve this would be to add an ``exit`` parameter to ``TestRunner.test`` and update ours docs to instruct the users to do the following when running interactively:

[code]

An alternative

[2015-03-11 06:48] Jorge-C commented on #871
That's too bad... If we need an argument, I feel it might be better to make it necessary for the `python -c "import ...` version rather than in a more "interative" usage (it seems more likely that users are copy/pasting the first command when following the installation instructions, whereas if they stumble upon the `skbio.test` they won't realize they need an extra argument).

[2015-03-11 14:35] gregcaporaso commented on #791
Ok, thanks!

[2015-03-11 15:38] jairideout commented on #871
I think we can work around this by changing the user-level instructions to be:

[code]

instead of

[code]

Then have `TestRunner` return the exit code instead of using `run_exit` and update `skbio.__init__` to pass this value to `sys.exit` within `if __name__ == '__main__':`. That way the exit code will be retained when executing the tests non-interactively, and simply returned in an interactive

[2015-03-11 15:39] jairideout commented on #871
@anderspitman can I assign this to you?

[2015-03-11 17:03] anderspitman commented on #871
@jairideout yep I got it. I like this solution.

[2015-03-11 17:36] anderspitman commented on #871
Seems to work. @jairideout what do you think about adding a ``run_tests.py`` file in ``skbio`` rather than having this live in ``__init__.py``?

``python -m skbio.run_tests``

seems more clear than

``python -m skbio.__init__``

Not sure if it's worth adding another file though.

[2015-03-11 17:47] anderspitman commented on #871
Also, invoking this way makes it so we can't pass arguments directly to ``TestRunner.test``. Currently we're only doing this to flag verbosity. Would it be preferable to add argument parsing to ``skbio.__init__`` (or ``skbio.run_tests``) or remove the verbosity option?

[2015-03-11 17:51] anderspitman commented on #781
@ebolyen Somehow I didn't notice you tagged me until @jairideout suggested this issue today. Sorry about that. Happy to work on this.

[2015-03-11 18:04] jairideout commented on #830
Noticed that scipy/scipy#4540 was merged, thanks for working on this @ElDeveloper!

[2015-03-11 18:15] jairideout commented on #871
I think removing the verbosity option for now is fine (we can always add it back later if it becomes important).

I like your idea of having a separate module for this -- what about `python -m skbio.test`?

[2015-03-11 18:59] anderspitman commented on #871
I like ``python -m skbio.test``. I implemented it that way. One semantic caveat of that is that the ``test.py`` file shadows the ``skbio.test`` method. So if for some reason you wanted to do

[code]
That won't work anymore because it's going to import the module instead of the ``TestRunner.test`` instance. I don't think this matters.

[2015-03-11 19:04] jairideout commented on #871
Good catch! I agree that this probably isn't a big deal.

[2015-03-11 19:18] ElDeveloper commented on #830
Not a problem, the code review helped improve the code a lot (mainly by making better use of the numpy API).

[2015-03-11 20:23] Jorge-C opened #873 "coverage comments"
Should we disable coveralls comments in PRs? I think they add excessive email noise, with information that hardly ever changes.

[2015-03-11 20:26] ElDeveloper commented on #873
It's a good way to know that builds are ready though. I :-1: removing
the @coveralls comments.

On (Mar-11-15|13:23), Jorge Ca�ardo Alastuey wrote:

[2015-03-11 20:32] #400 closed

[2015-03-11 20:34] ebolyen commented on #873
I don't have strong feelings on the matter. Since coveralls puts the information in the build status it doesn't really matter too much. And I would hope no one merges PR's which are yellow (a.k.a. being tested).

[2015-03-11 20:37] jairideout commented on #873
:+1: for disabling coverage emails now that we have that info in the build status. I think the developer submitting the PR should post a comment letting reviewers know that it's time for another review (that's the only time these coverage emails have been useful to me at least).

[2015-03-11 20:37] ElDeveloper commented on #873
@ebolyen What I mean is that having a comment posted to the PR is a
good way for me to get a notification on my email that the build is
done.

On (Mar-11-15|13:34), Evan Bolyen wrote:

[2015-03-11 20:38] ebolyen commented on #873
@ElDeveloper That makes more sense. But I agree with @jairideout that we can't know for sure when the PR is ready for re-review.

[2015-03-11 20:48] jairideout commented on #871
Fixed in #872.

[2015-03-11 20:48] #871 closed

[2015-03-11 21:04] anderspitman commented on #871
@jairideout somewhat random coincidence, especially since we just merged this, but I was just looking at #857 and discovered that the ``test`` module/method shadowing may actually be a problem for running the tests interactively twice in a row. If you run

[code]

In an interactive shell it works the first time, but during the run the ``skbio.test`` module gets imported. So trying to run again in

[2015-03-11 21:10] anderspitman commented on #871
Or even easier, remove the ``skbio.test`` method instance from ``skbio.__init__.py``. ``skbio`` level testing is handled by ``skbio.test.py`` now so it's really not necessary. We can leave the ones in the submodule init files to permit targeted testing.

[2015-03-11 21:14] ebolyen commented on #871
:+1: for dropping it from the  __init__` it is pretty easy to just say `from skbio.test import test; test()` (which works just fine presently)

[2015-03-11 21:19] ebolyen commented on #871
Actually some interesting news in regards to running them twice from the same environment. Our warnings aren't raised a second time, so the tests for those fail. This is just how python behaves so I think we can probably just say that we don't support testing twice from the same interactive shell. (I still don't entirely know why it would be needed anyways). If anything this "bug" (*cough* feature

[2015-03-11 21:34] anderspitman commented on #871
One argument for leaving `test` in `__init__.py` is that it allows the user to run all the tests in verbose mode (though realistically there will probably never be more than a couple of us who ever know or care about this fact. Hell I wrote it and I'm not even sure I care) . But this works fine the first time. So yeah I say leave it as is and close #857 until someone complains about not being able

[2015-03-11 21:35] ebolyen commented on #871
Even if someone did, there isn't a good way to actually accommodate them as our tests fail the second time regardless of mechanism, as a result of the warnings being suppressed.

[2015-03-11 21:36] anderspitman commented on #871
Right, we opened #857 to resolve that issue, possibly by doing some black magic behind the scenes to reset the warnings after running the tests.

[2015-03-11 21:38] ebolyen commented on #871
Oh yup, there’s an entire issue about this that I have missed. Sorry about that!

[2015-03-11 21:39] anderspitman commented on #871
No worries, like I said my vote is that it's not important enough to fix unless it becomes a viable use case.

[2015-03-11 21:57] jairideout commented on #871
:+1:

[2015-03-11 21:58] jairideout commented on #871
So is #857 good to close?

[2015-03-11 21:58] ebolyen commented on #871
:+1: for close.

[2015-03-11 22:01] jairideout commented on #857
Closing, see discussion in #871 for details.

[2015-03-11 22:01] #857 closed

[2015-03-11 22:01] jairideout commented on #871
done

[2015-03-11 22:08] anderspitman commented on #871
:+1:

[2015-03-12 04:40] MikeDeberg commented on #791
So, the idea was put into my head to use something more descriptive than just a user warning.

I figure the warning itself will provide the opportunity the explain the situation to the user but if I'm going to add a class to warnings it would be cool, if possible, to write something that could be used in other similar situations where substitutions have been used to enable something to operate suc

[2015-03-13 05:27] JTFouquier opened #874 "Method that does subset of SequenceCollection would be nice, similar to Alignment.subalignment()"
When writing fasta seqs it would be nice to have method that quickly does "seqs_to_keep" (subset) just like in the Alignment class.  Feature suggestion.

seqs_to_keep : list, optional

http://scikit-bio.org/docs/0.2.3/generated/skbio.alignment.Alignment.subalignment.html?highlight=subalignment

[2015-03-13 16:30] ebolyen commented on #874
Is this in regards to `SequenceCollection`? Or are you interested in a kwarg which accomplishes this in the writer itself?

[2015-03-14 05:48] JTFouquier commented on #874
From what I see, it would make sense to have a subset in the `SequenceCollection`

to get these sequences:    seq_list = ["C1", "C2"]

from a `SequenceCollection` object I do this:

def get_seq_from_list():
    seqs = SequenceCollection.read("otu_seqs.fasta", format="fasta")
    for i in seq_list:
        seq_in_list = seqs.get_seq(i)
        yield seq_in_list

skbio.write(get_seq_from_list(), int

[2015-03-14 17:46] ebolyen commented on #874
That makes sense. Also just as a tip for your example code above, you can use a generator rather than a sequence collection by using `skbio.read` your code will look basically identical, but it will be very memory efficient.

[2015-03-14 18:10] JTFouquier commented on #874
Yeah, these files should be small, but you're right, I'll use a generator.  Thanks!

[2015-03-17 00:44] anderspitman opened #876 "None of the doctests in skbio/io/fasta.py are run"
Not actually sure if those comments are considered doctests, so maybe this is expected behavior, but just wanted to be sure. It would be ideal for that example code to be executed.

[2015-03-17 02:10] anderspitman commented on #781
@jairideout we want to implement this as an option and not default behavior, correct? The current documentation explicitly says blank spaces aren't valid.

@ebolyen Looking through the potential test cases you mention. I know in the interest of performance we don't currently validate records unless/until the user calls ``is_valid``, correct? In that case do we want to do whitespace validation ever

[2015-03-17 15:58] ebolyen commented on #876
That code *should* be executed as a doctest. It is actually pretty bizarre that they aren't being run. The module doesn't even start with an underscore...

[2015-03-17 16:06] anderspitman commented on #876
Agreed. I'll figure out what's going on.

On Tuesday, March 17, 2015, Evan Bolyen <notifications@github.com> wrote:

[2015-03-17 16:33] jairideout commented on #781
@ebolyen and I think this should be the default (and only) behavior, no flag/option necessary.

I think this whitespace handling should be enabled at all times (it already is, so we shouldn't have too much of a performance hit). `BiologicalSequence.is_valid` checks whether the characters are within the IUPAC alphabet so we leave that check off since it could have a large performance impact.

[2015-03-17 20:10] anderspitman commented on #876
Ok well I'm not able to reproduce my results from yesterday. I can confirm that the doctests are working using both the old testing method ``nosetests --with-doctest -I DO_NOT_IGNORE_ANYTHING skbio/io`` and the new one ``python -c "import skbio; skbio.io.test()"``. I must have been doing something weird yesterday. Pretty sure we can close this as a false alarm.

[2015-03-17 21:24] anderspitman commented on #781
Ah ok I didn't realize we were already doing some validation outside of ``is_valid``.

[2015-03-17 21:25] #876 closed

[2015-03-19 18:13] antgonza opened #878 "Rename current working branch to 0.3.0-dev"
Testing with https://github.com/biocore/scikit-bio/commit/23b5930a75211849c3c7b3c82f020a638ed51eb2 and https://github.com/biocore/qiime/commit/294422b3f378d4caeb056935cf93bd157ba87d14, gives the following error:
[code]
Not sure the full impact of changes.

[2015-03-19 18:16] ElDeveloper commented on #878
Oddly enough testing with 0.2.3 seems to work just fine :\

[2015-03-19 18:18] Jorge-C commented on #878
Weird, subsample was renamed back in November: https://github.com/biocore/scikit-bio/commit/bc4c15baec3dbcbf84ab90940566bc128a85f32c

[2015-03-19 20:21] ebolyen commented on #878
QIIME depends on API version 0.2.x this was made clear in our [roadmap](https://github.com/biocore/scikit-bio/wiki/beta-release-roadmap#02x) (Also note the range in QIIME's [setup.py](https://github.com/biocore/qiime/blob/master/setup.py#L439) (this was intentional)). There is no intention of being backwards compatible with API version 0.2.x, testing QIIME against the latest master isn't meaningfu

[2015-03-19 20:36] antgonza commented on #878
I'm confused, in the roadmap it says that qiime will work with
scikit-bio >= 0.2.3, < 0.3.0. The current branch is 0.2.3-dev so not
sure why is it fine to be broken, do you mind clarification?

[2015-03-19 20:37] ebolyen commented on #878
That will get bumped to 0.3.0 on release. We aren't actively developing the 0.2.x branch.

[2015-03-19 20:39] antgonza commented on #878
That's not clear anywhere, is it? Perhaps calling this branch
0.3.0-dev vs. 0.2.3-dev will be clearer, right?

[2015-03-19 20:42] ebolyen commented on #878
As with every release (in all of our projects), we make no prior assumptions about what the final released version will be. Because there are backwards incompatible changes, our next release will by *definition* be 0.3.x.

[2015-03-19 20:49] antgonza commented on #878
I think this is a bit different cause these are consider mayor
changes, right? If a dev within the group gets confused due to the
naming "flexibility", what can we expect about external ones?

[2015-03-19 21:07] ebolyen commented on #878
The only correct solution to this problem would require a development cycle we simply cannot support with our team size. If we had a branch for 0.2.4, and 0.3.0 then we could deal with not knowing the version ahead of time, because all possible versions would have a branch. This would mean when we release we have the following branches:

* 1.0.0
    * 1.0.1
    * 1.1.0
* 2.0.0

While this would be

[2015-03-19 21:10] antgonza commented on #878
Agree that it sucks but I think it has to be done. Imagine we find a
skbio bug and we have to do a quick 2.3.1 release ...

[2015-03-19 21:12] ebolyen commented on #878
In that case, we would branch off of the last release, and fix the bug...

[2015-03-19 21:13] antgonza commented on #878
OK, if it's that easy why not name the current branch 0.3.0-dev and
avoid this kind of discussion?

[2015-03-19 21:14] ebolyen commented on #878
Because we didn't invent a new deployment cycle for this package. We just adopted QIIME's.

[2015-03-19 21:16] antgonza commented on #878
Not sure that's an excuse for closing the issue vs. leaving it open so
somebody fixes it. Remember we are trying to stop reproducing past
mistakes.

[2015-03-19 21:17] ebolyen commented on #878
I have already asked you to create a **NEW** issue if you feel strongly about this.

[2015-03-19 21:25] ebolyen commented on #878
@antgonza This is not a new issue. Nor does it address the core of the complaint, which is the development process. Simply changing the version string does not represent a consensus for the change in the development process. Which should be a discussion, between more than just the two of us.

Once again, I plead that you create a new issue, where we can discuss the version strategy on it's own mer

[2015-03-19 21:25] #878 closed

[2015-03-19 21:26] antgonza commented on #878
What's the difference between opening a new issue vs. continue discussion here?

[2015-03-19 21:28] ebolyen commented on #878
Quoted from above:

[2015-03-19 21:30] antgonza commented on #878
Sorry but I do not see the benefit or why this issue prevents other
people to participate ...

[2015-03-21 22:57] JWDebelius opened #880 "Make Power Code faster"
I'd like to improve the run time on the power calculation. Depending on the computer and the test, the run time can be quite long. Running permutations on the American Gut dataset can take upwards of an hour.

This typically involves 10 runs x 5 - 10 points/run x 500 iterations / point  = 25,000 tests - 50,000 tests. When I profiled about 85% of the time was spent on running tests. I'm sure with b

[2015-03-21 23:06] ebolyen commented on #870
Just some additional thoughts:
We would like to support ranged metadata, though we aren't quite sure what that API would look like. (It is a shame that the python slice syntax must be used in getitem, else we could imagine something like: `DNA('...', introns=[0:3, 5:10]`)

[2015-03-21 23:17] mortonjt commented on #880
Awesome!

This may be a good place for my fast permutation test.

[2015-03-22 00:00] josenavas commented on #880
How do we want to handle parallelization on scikit-bio? I've seen [joblib](https://pythonhosted.org/joblib/) which is being used, e.g., by scikit-learn. I did not play with it but probably is something that we want to give a shot? What others think?

[2015-03-22 01:10] ebolyen commented on #880
Joblib looks like it would make a lot of sense in the context of scikit-learn where the focus is on the algorithms (not the structures) and creating a lightweight pipeline DSL. I'm not sure how well that will work with our current understanding of scikit-bio.

I'm not sure how we want to deal with it. It seems a little beyond our scope, unless we could provide some relatively transparent way to su

[2015-03-22 20:57] wasade commented on #880
@JWDebelius, can you post the profile results (just top 10 functions) sorted by cumulative time and by total time please?

[2015-03-22 22:02] gregcaporaso commented on #878
The solution to the issue that you raise for now is that you should not be importing from a development version of scikit-bio in packages that depend on its API. I have clarified this in the [roadmap document](https://github.com/biocore/scikit-bio/wiki/beta-release-roadmap).

We are not violating the promise made in that document that *release versions numbered >= 0.2.0, < 0.3.0 are backward compa

[2015-03-23 06:13] rob-knight commented on #878
This sounds reasonable; thanks, Greg.

Rob

On Mar 22, 2015, at 3:02 PM, Greg Caporaso <notifications@github.com<mailto:notifications@github.com>> wrote:

The solution to the issue that you raise for now is that you should not be importing from a development version of scikit-bio in packages that depend on its API. I have clarified this in the roadmap document<https://github.com/biocore/scikit-bio

[2015-03-23 22:12] JWDebelius commented on #880
@wasade, I used line profiler, so it may not be the most accurate representation of actual time. I didn't profile the test, but it's defined as

[code]

Here are my results:
[code]

[2015-03-23 22:59] steve-federowicz opened #881 "Integer IDs in SequenceCollection crash SequenceCollection.write()"
Hi,

I noticed that when I create a SequenceCollection of DNASequence() objects and use integers as the id in the DNASequence() constructor, the SequenceCollection.write() method crashes with the following.

Maybe this is a feature and not a bug but could probably just cast every id to str or spit out a warning in the DNASequence() constructor.

-Steve

[code]

[2015-03-23 23:01] wasade commented on #880
Can you please use the cProfile? This is too specific while masking
interaction with operators making it hard to interpret. It would be useful
to make sure the test method is included as well. You can use cProfile in
IPython by just doing %prun or %%prun.

On Mon, Mar 23, 2015 at 4:12 PM, J W Debelius <notifications@github.com>
wrote:

[2015-03-23 23:05] ebolyen commented on #881
Hey @steve-federowicz thanks for creating an issue! This is a bit of a bug in the constructor that should be resolved relatively soon as we are going through those objects with more robust validation during #826. Our current plan is to just error when constructing a sequence with an ID that is not a `str` type, but we could be convinced to cast if you think that would be useful (as long as it was

[2015-03-24 02:19] steve-federowicz commented on #881
Hmmmm ok well it sounds like there is a strong reason why id should be `str` and not `object` so I would say definitely just throw the error in construction.  I agree that casting blindly would not be a good idea.

Thanks!!

[2015-03-24 15:02] ebolyen commented on #881
Your situation is basically the reason we need id's to be strings. That being said, ints have a very reasonable string interpretation that wouldn't surprise anyone (in fact the lack of an interpretation would be confusing, as evidenced by this issue). @jairideout any thoughts on this?

[2015-03-24 15:24] jairideout commented on #881
I think IDs should be stored internally as strings but we could definitely support (some) casting of inputs for convenience. Integers definitely make sense, probably others too.

The reason why we don't want to store IDs as their native type (i.e., something that's hashable) is to prevent confusion when indexing into data structures. For example, you can currently index into `DistanceMatrix` by ei

[2015-03-24 18:27] JWDebelius commented on #880
Here's cProfile, cumulative:
[code]
And, here's total time:
[code]

[2015-03-24 18:42] wasade commented on #880
Thanks! Is it possible to use a simpler test? The test method itself is consuming the bulk of the runtime which might mask where the performance bottlenecks are of the actual framework. I suspect this is likely due to:

[code]

...or is that real world? My guess is that there is quite a bit of random access, which I believe is supported given that the majority of the runtime appears to be associat

[2015-03-24 19:08] JWDebelius commented on #880
That is real world for `subsample_paired_power`. I ran this on a variable from the American Gut data the same way I typically run it for American Gut. One of the challenges of the test is that it can be really variable in the run length. It takes way longer when I run a permanova-based test.

I can run a test data set I've been playing, but that uses `subsample_power` instead of `subsample_paired_

[2015-03-24 19:16] JWDebelius commented on #880
When I run
[code]
And then, profile the code, the test is still expensive:

[code]
And sorted by time
[code]

[2015-03-24 19:35] wasade commented on #880
So this is much faster likely as it avoids the indexing in pandas.

The bulk of the expense now is within numpy and scipy. There aren't many
targets to optimize. It may make sense to explore some level of parallelism
here but that is a larger can of worms as if that route is taken it needs
to be done in a fashion that is consistent with how skbio in general wants
to handle parallelism.

On Tue, Ma

[2015-03-26 17:46] MikeDeberg commented on #719
@ebolyen
I would like to work on this

[2015-03-27 15:23] gregcaporaso commented on #555
@ekopylova, has there been any movement on adding support for global alignment to SSW?

[2015-03-27 15:34] ekopylova commented on #555
Unfortunately not from my end, however there is ongoing effort to release a dedicated library using the SWIPE approach for local alignment (faster than SSW) and which can be adapted to global alignment as done in VSEARCH and SWARM. @torognes gives more details on how to do this in this [thread](https://github.com/biocore/scikit-bio/issues/254).

[2015-03-27 15:42] torognes commented on #555
The master student @RonnySoak mentioned by @ekopylova is about to finish his thesis and I think the library is in pretty good shape now. It has both global and local alignment capabilities and works both with SSE2 and AVX2. It seems to be faster than any comparable library. In contrast to SSW, it requires one query sequence to be compared to multiple sequences in parallel. I don't know if this is

[2015-03-27 16:06] torognes commented on #254
See the libssa library for a library implementing both global and local alignments using SSE2 or AVX2 with the approach used in SWIPE: https://github.com/RonnySoak/libssa

[2015-03-27 16:08] ekopylova commented on #254
thanks @torognes !

[2015-03-27 16:27] gregcaporaso commented on #555
Thanks. That definitely looks useful, and something we may ultimately be interested in wrapping in Cython for scikit-bio, though we do also need a fast global pairwise aligner (i.e., just Needleman-Wunsch, without the database search part). And ideally, we'd have one that could also align sequences to alignments and alignments to alignments, as in [our python implementation](https://github.com/bio

[2015-03-27 16:27] gregcaporaso commented on #555
Any chance you guys would be willing to release libssa under a BSD-compatible license?

[2015-03-27 17:09] MikeDeberg commented on #719
@ebolyen @jairideout

I have found some evidence that solexa/illumina formats were already being included in the range checking component of _base.py, It looks like the illumina 1.5 format was not being considered.

Is this intentional or should I include the 1.5 variation (which doesn't use 0 or 1) in the "variant" possibilities?

[2015-03-27 17:21] ebolyen commented on #719
Does the 1.5 variant begin at an ASCII offset of 64? or does it begin at an ASCII offset of 66 (in which case it would be encompassed by 1.3)?

[2015-03-27 17:22] ebolyen commented on #719
Or rather, is a `2` represented by an `A` or a `C`? If `A` we may have a problem.

[2015-03-27 17:37] wasade commented on #254
The README indicates it is AGPLv3 but the license file seems to indicate
GPLv3. Will open an issue there. I believe AGPLv3 is compatible with BSD.

On Fri, Mar 27, 2015 at 10:08 AM, Evguenia Kopylova <
notifications@github.com> wrote:

[2015-03-27 21:38] MikeDeberg commented on #719
@ebolyen
No, the offset is the same.

The difference is that in 1.3 and 1.8 values of 0 and 1 are valid but in 1.5 they are not. So when I am checking for the range 0 and 1 should be invalid when using the 1.5 "variant" though this was not represented in the existing code so I was wondering if this is an intended omition

[2015-03-27 22:02] ebolyen commented on #719
Just to confirm then in 1.5, you would never see the letter's `A` or `B` as they are invalid in 1.5, though they are valid in 1.3. Omission would have been out of ignorance rather than intent, but the reason for validation was to ensure the correct phred score was achieved, so as long as the right phred score happens with 1.3 I don't think we need to worry about 1.5.

[2015-03-27 22:26] ebolyen commented on #719
Talked with @MikeDeberg and @jairideout offline. It looks like we are fine. Illumina1.5 simply made the decision to cutoff sequence scores at 2.

[2015-03-27 22:37] gregcaporaso commented on #254
Ah, thanks for checking into it and for bringing it up with them.

On Fri, Mar 27, 2015 at 10:37 AM, Daniel McDonald <notifications@github.com>
wrote:

[2015-03-27 23:03] ebolyen opened #884 "Is scikit-bio/ipynbs/ useful?"
It's been about a year since we created that directory and there are only two presentations in it (both out of date at this point). I think the initial intention was something very much like the current [scikit-bio-cookbook](https://github.com/biocore/scikit-bio-cookbook) so I am wondering if this directory is still relevant? It seems like most of what should go there has a better home elsewhere,

[2015-03-28 01:33] gregcaporaso commented on #884
I think it could be dropped, maybe in favor of a separate repo for
presentations?

Sent from my phone, please excuse typos and brevity.
On Mar 27, 2015 4:03 PM, "Evan Bolyen" <notifications@github.com> wrote:

[2015-03-30 16:38] jairideout commented on #884
:+1:

[2015-04-01 02:17] Jorge-C commented on #873
To summarize, there's a slight preference for disabling them: :+1: :-1: +:zero: :+1: so I'll do that soon. Main arguments: we still need a message from the developer saying code is ready for re-review, the information is still available at the build status. Thank you guys!

[2015-04-01 02:17] #873 closed

[2015-04-01 18:55] gregcaporaso opened #887 "local_pairwise_align_ssw can give traceback"
if you have two sequences that don't align at all:

[code]

It should return an empty alignment(?) or at least a better error message.

[2015-04-01 19:11] gregcaporaso opened #888 "fraction_same fails with length 1 sequences"
[code]

[2015-04-01 20:01] jairideout commented on #835
@mortonjt can this be closed now that #860 is merged?

[2015-04-01 20:02] mortonjt commented on #835
I'd like to make 1 more PR with the following functionality

`clr_inv` - inverse clr transform
`ilr` - isometric log ratio transform
`ilr_inv` - inverse isometric log ratio transform
`inner` - Aitchison inner product (tests for orthogonality and is required in ilr)

This PR will be significantly smaller.  But once that's merged, then yes, I think this issue can be closed.

[2015-04-01 20:07] jairideout commented on #835
Sounds good, thanks for the details!

[2015-04-02 15:18] ebolyen opened #889 "[0.2.3] TreeNode.extend seems to mangle the results"
@JTFouquier was working with the `TreeNode` object and was unable to make extend produce the expected results.

Here we create two subtrees and `append` them to a specific node on a scaffold.
http://hastebin.com/ewihulekib.py

When we change this to `extend` on the children, we would expect the root to be substituted by the scaffold node.
http://hastebin.com/qevonatuha.py
However, certain children

[2015-04-02 15:31] wasade commented on #889
Can you expand on the `from_newick` difference? I'm not seeing it in the
code above. The (incorrect) tree produced from extend seems to be the same
if its `from_newick` or `read`?

I think I see what's going on. The call to `TreeNode._adopt` is issuing a
`node.parent.remove`. This looks like it will modify the list that is being
iterated over in the `TreeNode.extend` call.

On Thu, Apr 2, 2015 at

[2015-04-02 15:35] ebolyen commented on #889
@wasade There isn't a difference, I was just trying to control for the new IO, by using the old IO.

The mutation of the mini_trees isn't really a problem, so much as the incomplete capture of their children. Notice when we compare the `append` to the `extend` we lose children.

[2015-04-02 15:38] wasade commented on #889
Yes, which I believe is due to the modification of the iterable in the
`extend` call

On Thu, Apr 2, 2015 at 9:35 AM, Evan Bolyen <notifications@github.com>
wrote:

[2015-04-02 15:43] ebolyen commented on #889
@wasade Sorry I misunderstood your original comment. That definitely seems like the problem.

Does it seem reasonable to tree to extend on the children of a different tree? That was the first thing that occurred to me to do.

[2015-04-03 18:39] MikeDeberg commented on #791
@jairideout : While implementing the numpy solution you suggested for this issue I noticed that numpy.testing is imported as nptest. I learned from an offline conversation with @ebolyen that it should be getting imported as npt as it is in every other case I could find.

Would you like me to refactor this in the _tree_test I am working in as part of this issue?

[2015-04-03 18:57] Jorge-C commented on #791
That sounds great to me :+1:

[2015-04-03 22:24] #889 closed

[2015-04-03 22:31] jairideout commented on #791
That'd be great if you don't mind making the changes, but not required for merge.

[2015-04-07 05:25] Jorge-C commented on #781
I just came across a file, downloaded from NCBI, which had an empty line at the end. I haven't tested @anderspitman PR yet, hope it fixes that :)

[2015-04-07 07:10] anderspitman commented on #781
@Jorge-C it should work. I'm happy to try it real quick if you want to link or send me the file.

[2015-04-07 16:02] Jorge-C commented on #781
Thanks!! It's a small genome, can be downloaded [here](http://www.ncbi.nlm.nih.gov/sviewer/viewer.cgi?tool=portal&sendto=on&log$=seqview&db=nuccore&dopt=fasta&sort=&val=108885074&from=begin&to=end&maxplex=1). If the link expires, it can also be found [here](http://www.ncbi.nlm.nih.gov/nuccore/108885074?report=fasta&to=580076). Then click on "send" and choose destination "file".

[2015-04-07 16:30] anderspitman commented on #781
Thanks! It always helps to test with real data early on. I an confirm that that sequence does not work on master, but does work after the changes in this PR, so that's a good sign.

[2015-04-07 16:39] Jorge-C commented on #781
Sweet, thanks for checking!

[2015-04-10 20:30] anderspitman commented on #781
@jairideout @ebolyen concerning FASTQ files. It appears we're using some of the same test files as the Open Bioinformatics Foundation. One of the files, `error_trunc_at_seq.fastq`, is considered invalid by OBF but would be valid after implementing the functionality in this issue. Should we diverge here or not allow blanks in FASTQ? I'm assuming diverge but want to make sure.

[2015-04-10 20:35] anderspitman commented on #781
Sorry I meant `error_no_qual.fastq`, and I believe the file is still invalid but it shouldn't fail because of the blanks.

[2015-04-10 20:55] anderspitman commented on #781
Wow, wrong again. That file is completely missing quality scores (who would have guessed). Ignore the last 3 comments.

[2015-04-10 21:24] anderspitman commented on #781
Here's a more useful question: Should we give preference to blank line exceptions or invalid qual character exceptions with qual data?

[2015-04-13 05:59] mortonjt opened #894 "Truncated string representation for TreeNode"
It would be totally awesome if we could have a way to have a truncated string representation of a tree similar to Pandas DataFrames and numpy arrays.

Right now when I'm debugging and I accidentally display a TreeNode object in iPython, my screen basically explodes and I have to force shutdown my session.

What do you guys think?  This feature would also be nice to have in the BIOM object / Contin

[2015-04-13 06:03] #894 closed

[2015-04-13 06:08] mortonjt commented on #894
Probably spoke too soon.  Was referring to the Newick string representation.  The Treenode object already has a nice string representation.

[2015-04-15 18:38] mortonjt opened #896 "Adding capability to convert multifurcating trees to bifurcating trees"
I know that there are some algorithms that can only work with bifurcating trees.

Right now, I'm working on a function to convert a multifurcating tree to a bifurcating tree.
Once this is done, mind if I could submit a PR for it?

[2015-04-16 00:00] mortonjt commented on #896
The bifurcating tree code is ready to push for a PR!

[2015-04-17 18:23] JWDebelius opened #897 "Multivariate regression of distance matrices"
It would be really useful to have a multivariate regression for distance matrices in Python. It seems like the only one currently implemented is Adonis in R, and that isn't a regression, it's a MANOVA.

[2015-04-17 18:28] Jorge-C commented on #897
:+1: Do you have pointers to existing implementations/papers?

[2015-04-17 18:40] mortonjt commented on #897
Maybe something like [ecodist](http://cran.r-project.org/web/packages/ecodist/ecodist.pdf)?

[2015-04-17 21:23] JWDebelius commented on #897
The `corgen` in ecodist is one example.  The lmdist package (which is proprietary) is another.

[Lichstein 2007](http://people.biology.ufl.edu/jlichstein/downloads/publications/Lichstein_2007_Plant_Ecol.pdf) (although I think he wrote ecodist) and [Smouse et al 1986](ftp://zhoulab.rccc.ou.edu/Wu/Reference/Multiple%20regression%20and%20correlation%20extensions%20of%20the%20Mantel%20test%20of%20matr

[2015-04-17 22:22] jairideout commented on #897
:+1:, this sounds like a useful addition to the distance-based stats in scikit-bio. Related to #407 since Lichstein 2007 says MRM is an extension of partial Mantel. Maybe it makes sense to get partial Mantel added first?

If anyone is interested/available to work on #407 and/or this issue, let me know and I'll assign.

[2015-04-20 21:31] JWDebelius commented on #897
@jairideout: I'd like to start on #407, and maybe move into this. I may need some help with the math, though.

Thanks!

[2015-04-20 22:10] Jorge-C commented on #897
@JWDebelius I don't know much about #407, but I'm always happy to help with math!

[2015-04-21 15:49] gregcaporaso opened #898 "update install of ipython"
In setup.py ([here](https://github.com/biocore/scikit-bio/blob/master/setup.py#L102)), we should update to ``ipython[notebook]``.

[2015-04-21 16:41] ElDeveloper opened #899 "Add BLAST parser"
Are there any plans in getting a BLAST parser added to the project?

[2015-04-21 16:44] RNAer commented on #899
+1. it would be useful. and there are other pieces of software such as
diamond, with output format compliant to the same format.

On Tue, Apr 21, 2015 at 9:41 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2015-04-21 16:45] ebolyen commented on #899
That would be awesome, is there anyone interested in contributing the necessary logic to IO?

[2015-04-21 16:49] antgonza commented on #899
I think it will be great to add not only the "classic" format (what
qiime uses) but also the new version and sortmerna blast output, which
I think is the same than the newest blast output.

[2015-04-21 16:49] rob-knight commented on #899
You probably want to start with the one from pycogent which has a fair amount of development behind it…

On Apr 21, 2015, at 9:45 AM, Evan Bolyen <notifications@github.com<mailto:notifications@github.com>> wrote:

That would be awesome, is there anyone interested in contributing the necessary logic to IO?

—
Reply to this email directly or view it on GitHub<https://github.com/biocore/scikit-bio/is

[2015-04-21 16:51] ebolyen commented on #899
@antgonza :+1: this falls into the idea of versioned formats for IO, (we don't have this yet, but we have always expected a need for it).

[2015-04-21 17:10] gregcaporaso commented on #899
:+1: for starting with cogent parser, and for supporting BLAST and BLAST+ output formats (I don't know off-hand what the differences are).

[2015-04-21 17:29] gregcaporaso commented on #899
It would also be awesome to support reading a BLAST (e.g. bl9) file into a BIOM table, where you parameterize similarity thresholds, etc. This would allow us to very easily compare read mapping approaches that support bl9, which is a lot of them (diamond, blat, vsearch, usearch, blast, ...). We have some basic support for this in QIIME now that could easily be adapted.

I might be able to work on

[2015-04-21 17:32] ElDeveloper commented on #899
That's awesome!

On (Apr-21-15|10:29), Greg Caporaso wrote:

[2015-04-21 18:06] jairideout commented on #897
Thanks @JWDebelius for offering to work on #407! That one is now assigned to you. I'd also be happy to help with the math, API design, or any other questions.

[2015-04-21 18:44] anderspitman commented on #899
I'd be happy to help if necessary. This would be a fairly straight forward transition from my work on #781.

[2015-04-21 18:56] gregcaporaso commented on #899
Ok, let's chat about it asap and figure out a plan for who will do what.

[2015-04-21 19:18] anderspitman commented on #899
Sounds good.

[2015-04-21 22:17] gregcaporaso commented on #899
@anderspitman and I are going to discuss this shortly.

Some of my initial thoughts: Initial support should be for the blast "tabular" (i.e., ``-m8``) format. This is the format that is generated by the different mappers that I mentioned above, and is also generated by BLAST+ with ``-outfmt 6``, so seems like a logical place to start. If this parser ignores lines starting with ``#``, it also suppo

[2015-04-21 22:27] genomematt commented on #899
It is also worth doing a check of the type pattern with -outfmt 6 to see if it is consistent with the assumed headers

[2015-04-21 22:32] gregcaporaso commented on #899
@genomematt, this would just be to parse the results though, so wouldn't assume that BLAST+ was installed. Would that require BLAST+ be installed?

[2015-04-21 22:33] wasade commented on #899
@gregcaporaso, the BIOM table idea sounds really awesome. Good call

On Tue, Apr 21, 2015 at 4:27 PM, Matthew Wakefield <notifications@github.com

[2015-04-21 22:44] gregcaporaso commented on #899
@genomematt, I think I understand now - we can check the types without calling BLAST+.

[2015-04-21 22:53] wasade commented on #899
Thinking slightly further, there is a general case here with respect to
biom. What you want is, given a tabular file, a way to indicate what is the
column ID, row ID, and what to pack into the filled in value. Once this
method is in place, which is fairly light, extending it to blast or other
apps that dump tabular would be easy. The open question is about the rest
of the data that are in the tabu

[2015-04-21 23:06] gregcaporaso commented on #899
Re: parsing into a DataFrame, I have a quick-and-dirty example [here](http://nbviewer.ipython.org/github/gregcaporaso/qdr-issue14/blob/master/analyses.ipynb) that I just remember. That might be useful as a reference.

@wasade, remember that by default with the BLAST tabular output we can have multiple hits per query (so that's why I mentioned filtering by e-value threshold, etc). What you're descr

[2015-04-21 23:13] wasade commented on #899
Do you mean the query hitting the subject multiple times, or the query
hitting multiple subjects? Former is annoying, latter is taken care of
free. With the `groupby(...).sum()`, what would the entires in the biom
table be, number of times the query hit the subject?

On Tue, Apr 21, 2015 at 5:06 PM, Greg Caporaso <notifications@github.com>
wrote:

[2015-04-21 23:19] gregcaporaso commented on #899
Both are common with BLAST.

With ``groupby(...).sum()``, it'd depend on what you have in the ``DataFrame``. In the case of BLAST, I'd see filtering that between parsing the BLAST result and building a BIOM table to contain only the hits that you want to consider. I think is getting a little off-topic here though, I'll bring this idea up on the biom tracker instead later and link back to here (nee

[2015-04-21 23:20] wasade commented on #899
Sounds good, thanks!

On Tue, Apr 21, 2015 at 5:19 PM, Greg Caporaso <notifications@github.com>
wrote:

[2015-04-22 17:15] anderspitman commented on #781
@jairideout FYI I rediscovered what that last question was about. Consider the following FASTQ file:

[code]

In this case the error is somewhat ambiguous, due to the fact that '@' is a valid quality character. Is there a blank space embedded within the quality scores of the first sequence, or is the second sequence (id 'QR') missing it's data, in addition to the first sequence having truncated qu

[2015-04-22 17:40] jairideout commented on #781
This is an interesting case, thanks for brining this up. I agree that a blank line error makes sense, since a blank line occurs before we've found the expected number of quality scores. Thus, we know that a blank line occurred within a record, which we aren't allowing. @ebolyen do you agree with this behavior?

[2015-04-22 18:27] ebolyen commented on #781
@jairideout That makes sense to me.

[2015-04-22 21:02] gregcaporaso commented on #899
@anderspitman, @ebolyen, and @jairideout and I just a brief call to discuss this. We're going to start with support for the tabular formats for BLAST and BLAST+, as I mention above.

@anderspitman, [here](https://github.com/pycogent/pycogent/blob/master/tests/test_parse/test_blast.py#L157) is the test data in PyCogent that I mentioned, though it's a little sparse. I'll email you a few more example

[2015-04-22 21:11] anderspitman commented on #899
@gregcaporaso great, thanks!

[2015-04-22 23:40] gregcaporaso opened #900 "io should support reading from URLs"
This will most likely involve updating [``open_files``](https://github.com/biocore/scikit-bio/blob/master/skbio/io/util.py#L92) to pull files from URLs with ``requests`` to temporary files (as generated by the python ``tempfile`` module).

Note that ``open_file`` is deprecated, so don't need to do any work there.

[2015-04-22 23:44] wasade commented on #900
I don't think all IO methods would need to go via an intermediary. For instance, couldn't `parse_fasta` just read directly from a socket?

[2015-04-22 23:50] ebolyen commented on #900
@wasade we would be reading from the socket object (more or less). What this is meant to address is allowing "smart" handling of URLs where you could say: `Alignment.read("http://example.com/something.fasta")` and IO would recognize it is a URL, and open a file handle (we are going to use ``requests``). This is similar to how you can pass a filepath instead of a fileobject.

[2015-04-23 00:06] wasade commented on #900
Yup. Just was wondering the need for using `tempfile` (in all cases)

[2015-04-23 00:10] ebolyen commented on #900
@wasade Oh I understand your comment now. Sorry, the tempfile thing wasn't made super clear in the original post. The tempfile would be in support of basic caching, that way if a format isn't given, each sniffer (as IO tests the file) isn't downloading a fresh copy each time.

[2015-04-23 00:16] wasade commented on #900
Ah, okay. The concern I have is if it is always creating a temp file and
storing all of the retrieved data, then sourcing from some large remote
file will bloat /tmp. This is not usually a problem, but it is a problem in
shared environments. For instance, the pando compute nodes are 64-threads
but only like 90GB of /tmp, and typically running jobs from many users at
once. We've had /tmp issues in

[2015-04-23 00:36] genomematt commented on #900
What about using a http Range request to get just the start of the file for format sniffing.  You need to do two server requests but the first is much more lightweight (at least on servers that support range queries).
Failure is relatively graceful if costly as you get the whole file back.

[2015-04-23 03:46] gregcaporaso commented on #900
@wasade, note that you can customize where temp files get written with the ``tempfile`` module based on one of a few environment variables (described [here](https://docs.python.org/2/library/tempfile.html#tempfile.tempdir)).

[2015-04-23 03:49] wasade commented on #900
Ya, but that doesn't mean programs like QIIME are setting it

On Wed, Apr 22, 2015 at 9:46 PM, Greg Caporaso <notifications@github.com>
wrote:

[2015-04-24 17:18] jairideout commented on #896
Thanks @mortonjt! @wasade or @ebolyen can you please let @mortonjt know how to proceed with this feature addition?

[2015-04-27 16:49] ElDeveloper commented on #899
Just FYI here's @wasade's implementation that's currently in use in Platypus-Conquistador.

https://github.com/biocore/Platypus-Conquistador/blob/master/platypus/parse.py#L31

[2015-04-27 16:51] wasade commented on #899
This really is just minimal though and I think we want a richer object on
top like what was in cogent

On Mon, Apr 27, 2015 at 10:49 AM, Yoshiki Vázquez Baeza <
notifications@github.com> wrote:

[2015-04-27 22:16] jairideout opened #905 "reorganize package structure (stats)"
`A user finds statistics in a consistent location relative to the scikit-bio object they are using.`

Refactor the package structure to include `stats` subpackages under each data structure's subpackage. We think this is better than duplicating the package hierarchy within `skbio.stats`.

- [ ] biocore/scikit-bio#913

[2015-04-27 22:22] #850 closed

[2015-04-27 22:25] jairideout opened #906 "travis-ci improvements"
The travis build could be improved by:

- [x] ~~building docs in a separate job~~
- [x] ~~testing coverage (without doctests) in a separate job to prevent doctests from inflating coverage~~

[2015-04-28 14:34] jrderuiter opened #907 "Speed-up fastq reading (by not converting phred scores?)"
I have been working on some code where I read sequences from a fastq file, perform some operations on these sequences and then write said sequences to a new fastq file. I use the generator interface from io for this, as this allows me to perform the work with low memory overhead for large files. I have noticed however, that a considerable amount of time is being spent on reading/writing fastq sequ

[2015-04-28 14:34] jrderuiter commented on #690
Any eta on this?

[2015-04-28 16:30] anderspitman commented on #907
:+1: I really like this idea. scikit-bio's io system has a lot of potential in conversion pipelines. There may be some issues initially storing the phred scores as text and only verifying/converted if/when they are used. For example, users aren't too surprised if reading a file takes some time, but it might seem odd if reading was really fast and then your first operation was slow. But if we can f

[2015-04-28 20:37] jrderuiter commented on #907
I made a quick notebook to play around with some options here: http://nbviewer.ipython.org/gist/anonymous/9e30c828b08137e678cb. In this notebook I essentially read 1000 fastq sequences from a file and time the reading.

Just using skbio takes around ~55 ms. My 'quick-and-dirty' reader with a simple sequence class reduces this to ~2.5 ms, though it doesn't perform any validation or conversion. Addi

[2015-04-29 14:23] jrderuiter commented on #907
Using the skbio's reading code with an adjusted reader that skips conversion and a simpler sequence class with no validation, gives me a speed-up of ~5x. Additional speed-up might be obtained on the reading side, though I don't know how much faster it can get with the required checks and multi-line fastq compatibility.

On another note, would cythonizing the code provide any benefits? (I have litt

[2015-04-29 14:59] gregcaporaso commented on #907
Thanks for looking into this @jrderuiter!

@jairideout, @ebolyen can you comment? Do you expect your updates to the ``Sequence`` object to achieve this same/similar speed-up? If not, we definitely need to be able to support suppressing validation for applications like this.

[2015-04-29 17:24] ebolyen commented on #907
Hey @jrderuiter, one thing that will provide an immediate improvement is if you add the keyword `verify=False` to the read call. Without that, scikit-bio will double check that the file is in fact fasta
before continuing.

@gregcaporaso None of our changes to sequence are relevant at this point as it's interface is a numpy array.

In regards to delayed quality parsing, I think that is a good idea,

[2015-04-29 18:38] wasade commented on #907
@ebolyen, I thought the vectorizing was already planned for? I think this is an excellent idea that has potential to offer immediate performance benefits.

@jrderuiter, cython could be great here too but I think we want to make sure the interface is hardened first as it is an increased maintenance burden.

[2015-04-29 19:01] ebolyen commented on #907
@jrderuiter Is it possible for you to email me the test file you are using? (I have a gmail account with this same username.) I seem to be unable to reproduce these runtimes on python 2.7 with the latest master. I suspect sequence length has something to do with the discrepancy.

[2015-04-29 19:05] ebolyen commented on #907
Actually, looks like we are using different python versions. I will change the kernel to use py3 and try again.

[2015-04-29 19:48] jrderuiter commented on #907
With vectorisation you mean using numpy to convert phred scores? We should be able to do that with numpy as follows:

[code]

I haven't been able to time this yet, as timeit is warning me about possible caching of results because of timing differences. Maybe something to do with time needed for memory allocation in bumpy?

[2015-04-29 19:54] ebolyen commented on #907
@jrderuiter I have a new branch of skbio that is using essentially that technique (fromstring is much faster, btw). Benchmarking now.

[2015-04-29 19:54] jrderuiter commented on #907
OK, nice. I have been using the fromstring variant in my own code as well.

[2015-04-29 20:05] ebolyen commented on #907
Really promising results:

Before vectorization:
http://nbviewer.ipython.org/gist/ebolyen/c615d63a1840623bbbd8
After:
http://nbviewer.ipython.org/gist/ebolyen/7e7286e704b1934191d0

Plain skbio:
From 92.5 ms to 48.2 ms

Simple implementation with conversion:
From 50.8 ms to 15.7 ms

I'll issue a PR for this soon. @jrderuiter, we are also in the process of re-factoring our sequence objects to make t

[2015-04-29 20:06] wasade commented on #907
That is awesome!!

On Wed, Apr 29, 2015 at 2:05 PM, Evan Bolyen <notifications@github.com>
wrote:

[2015-04-29 20:31] ebolyen commented on #690
@jrderuiter Not a solid one at this time, but it is a very simple addition to make. This can be achieved very similarly to #903. (Waiting for #903 to be merged would be a good idea). I am sure one of use will get around to this soon, but if you are interested in contributing this change, we would be happy to help you get started!

[2015-04-29 20:37] jrderuiter commented on #690
@ebolyen I think I have working version now (need to test it some more). I will wait on the #903 being merged first and then open a pull request if all is working.

[2015-04-29 20:44] ebolyen commented on #690
That's really exciting @jrderuiter! Hopefully #903 will get merge very soon (just waiting on some doc updates).

[2015-05-01 17:53] JWDebelius opened #910 "subsample_paired_power draws subsamples in the wrong place"
After simulation, and some consideration, it looks like the current implementation of [`subsample_paired_power`](https://github.com/biocore/scikit-bio/blob/master/skbio/stats/power.py#L328) needs to draw subsamples before each test to fully explore the space and collapse the number of permutations needed.

This addresses some of the issues in #880.

[2015-05-01 20:01] gregcaporaso commented on #910
@JWDebelius, do you have an ETA for a fix on this? We're hoping to release 0.3.0 next Thursday, before the sprint, but we don't want to do that release with a known bug.

[2015-05-01 20:30] JWDebelius commented on #910
I think I have a fix. It worked for test data, and I'm running on the American Gut now to confirm. I should have a  new PR in by tomorrow.

[2015-05-01 20:49] gregcaporaso commented on #910
Fantastic, thank you!

[2015-05-04 20:06] #900 closed

[2015-05-04 20:19] ebolyen opened #912 "URL loading in IO shouldn't lead the entire contents into memory"
Currently loads the contents into a `BytesIO` object, which works, but we could be more memory efficient.

[2015-05-04 20:19] ebolyen commented on #912
Past discussion at #903

[2015-05-04 20:37] gregcaporaso opened #913 "create skbio.sequence.stats and initially populate with sequence distance metrics"
This will be where we store sequence-specific statistics. Two initial functions that we'll include here will be ``hamming`` and ``kmer_distance``.

- [x] ``hamming`` will be a wrapper around ``scipy.spatial.distance.hamming``, which takes two ``skbio.Sequence`` objects, confirms that they are the same length as raises an informative error if not, converts them into input to ``scipy.spatial.distanc

[2015-05-04 20:38] ebolyen commented on #913
:+1:

[2015-05-04 21:45] ElDeveloper opened #914 "Improve URL streaming in open_file"
As noted in [this discussion](https://github.com/biocore/scikit-bio/pull/903#discussion_r29390201) from #903, opening URLs through `open_file`/`open_files` could be improved in a way that the contents of a request are not all loaded into memory and instead are read from disk.

I've proposed a strategy that will likely work just fine, however this depends on an open issue in the `CacheControl` repo

[2015-05-04 21:46] ElDeveloper commented on #914
Duplicate do #912

[2015-05-04 21:46] #914 closed

[2015-05-04 21:46] ElDeveloper commented on #914
:snail:

[2015-05-05 18:23] jrderuiter commented on #907
I guess #908 addresses this issue. The other issues (concerning setting of quality scores on Sequence objects, which is also slow) are being addressed elsewhere right?

[2015-05-05 18:25] ebolyen commented on #907
@jrderuiter Not yet, but I think it is worthwhile to add some kind of mechanism to ignore features you don't care about when reading (such as quality).

[2015-05-06 20:08] #781 closed

[2015-05-06 20:19] jairideout commented on #781
what was the last record it successfully parsed? Usually useful to
figure out what's wrong with your file.

@ElDeveloper can you please create a new issue for this feature? I agree this would be good to have but it didn't make it into #893 / #916.

[2015-05-06 21:40] ElDeveloper opened #917 "FASTA/FASTQ parsing errors should highlight the line where the error occurs"
It would be very useful if errors while parsing a FASTA/FASTQ file indicated where the problem happened, as it is commonly helpful to diagnose a problem in a file.

See #781 for some initial discussion on this.

[2015-05-06 22:29] jairideout commented on #917
:+1:

[2015-05-06 22:36] wasade commented on #917
Perhaps line number too?

On Wed, May 6, 2015 at 4:29 PM, Jai Ram Rideout <notifications@github.com>
wrote:

[2015-05-08 00:03] mortonjt opened #918 "Setting a standard for commits"
Would we be interested in setting a standard for git commits?
(i.e., following commit/rebase standards set in [scipy](http://docs.scipy.org/doc/numpy/dev/gitwash/development_workflow.html) )

It could potentially ease future debugging across multiple commits.  For example it would make applications such as [git bisect](http://git-scm.com/docs/git-bisect) a bit more practical to use.  It would also

[2015-05-08 00:11] gregcaporaso opened #919 "remove custom numpydoc distro and `.. shownumpydoc` hack"
`.. shownumpydoc` is currently used to show the numpy doc for the dunder (i.e., ``__<whatever>__``) methods, but these tend to clutter the API web docs (see *Methods* [here](http://scikit-bio.org/docs/0.2.3/generated/skbio.sequence.BiologicalSequence.html#skbio.sequence.BiologicalSequence), and prevent us from using the latest and greatest ``numpydoc`` (e.g., the new ``Yields`` section). We should

[2015-05-08 00:23] ebolyen commented on #919
Reminder: we will need our own extension soon to monkey-patch a certain decorator for our docs. (Currently in the numpydoc __init__ file)

[2015-05-08 04:53] ElDeveloper commented on #919
Can this be contributed to upstream?

On (May-07-15|17:23), Evan Bolyen wrote:

[2015-05-08 13:27] gregcaporaso commented on #919
I was about ask the same thing.

[2015-05-08 21:17] ebolyen opened #921 "Uniform handling of API changes and stability"
`A user knows what objects, methods, and functions are stable and which are subject to change`

[2015-05-08 21:55] jairideout commented on #888
This was fixed in #920:

[code]

[2015-05-08 21:55] #888 closed

[2015-05-08 22:02] jairideout commented on #881
This was resolved in #920. We decided to only support `str` IDs for `Sequence` objects to avoid implicit conversions that might be confusing if users are expecting the IDs to be stored/retrieved as integers. A better error message is raised now by the `Sequence` constructor, for example:

[code]

[2015-05-08 22:02] #881 closed

[2015-05-08 22:04] jairideout commented on #60
Fixed in #920. Still more performance benchmarking and improvements to make (part of the upcoming sprint's goals) but `ndarray` is used internally in `Sequence` objects now.

[2015-05-08 22:04] #60 closed

[2015-05-08 22:06] jairideout commented on #556
Fixed in #920:

[code]

[2015-05-08 22:06] #556 closed

[2015-05-08 22:12] ebolyen commented on #556
:+1: This is so cool because it can be composed with the rest of the Sequence API now as well!

[2015-05-11 22:12] wasade opened #923 "Stable, experimental and deprecated functionality"
A user should know:

- Whether functionality is stable, experimental or deprecated
- If the functionality is deprecated, the user should have an expectation about when it will be removed, and why
- If the functionality is experimental, the user should know when the functionality was added

A developer can specify the status of functionality. Experimental functionality is to be experimental for <=

[2015-05-12 16:14] ElDeveloper commented on #912
The developer answered, essentially NCBI header's suggest no caching, see the response [here](https://github.com/ionrock/cachecontrol/issues/77). There are two different options:

(1) we use a new CacheControl heuristic and force to always cache the data (risk here is that requests that advise against caching, would be cached regardless), if the data is cached then we can simply return a file hand

[2015-05-13 22:44] mortonjt opened #926 "Stabilize Ordination file format"
The Ordination file format needs to be finalized.  The current format is lossy (i.e. the axes labels are not being recorded in the file)

[2015-05-15 01:06] anderspitman commented on #517
After investigating `asv` over the last couple days, it's looking pretty good. We still have the following action items:

1. Figure out what tests are going to be added to our benchmarking suite. We discussed possibly generating some of them from our doctests.

2.  Figure out how the benchmarking tests will be maintained. Will it be the responsibility of developers to add/update benchmark tests wh

[2015-05-15 01:16] johnchase commented on #517
Thanks, @anderspitman I agree about keeping the benchmarks in scikit-bio but the results elsewhere.

One additional note, due to the import structure of scikit-bio we unfortunately cannot run asv on any commits in the past, however it is currently working and will be moving forward.

[2015-05-15 18:19] anderspitman commented on #517
Also see [my issue on the asv tracker](https://github.com/spacetelescope/asv/issues/272).

[2015-05-15 18:55] adamrp commented on #517
Last I heard (which was a while ago) there were no hooks for CI (travis,
jenkins, etc.). Being that this is benchmarking, consistent hardware is
important, so settling on a machine and configuration will be important. If
the machine changes, benchmarks run on the new machine won't be directly
comparable to benchmarks run on the previous machine.

On Fri, May 15, 2015 at 12:19 PM, Anders Pitman <no

[2015-05-16 00:11] jairideout commented on #921
Closing in favor of #921.

[2015-05-16 00:11] #921 closed

[2015-05-16 00:14] jairideout opened #928 "fix Sequence object performance issues"
The following `Sequence `performance issues were identified during the code sprint:

- [x] `NucleotideSequence.translate`
- [x] `Sequence.kmers`
- [x] `Sequence` construction
- [x] `Sequence._to`

[2015-05-20 23:10] ebolyen opened #929 "slice_from_regex is broken on non-boolean vectors"
[code]

[2015-05-20 23:11] ebolyen commented on #929
I think there is probably a better way to handle this entirely, such that the array `a` could have been valid input, instead of being inverted blindly and then sliced from a negative offset.

[2015-05-20 23:13] ebolyen commented on #929
Furthermore I think we can unify some of this logic with getitem, such that whatever getitem supports, `ignore` and any other "vectory" operations will as well.

[2015-05-22 00:32] jairideout opened #930 "skbio.stats.gradient unit test failure"
With the latest version of the `natsort` package, the following `skbio.stats.gradient` unit test fails:

[code]

@josenavas is this a legitimate failure or does the test just need to be modified to be less strict?

[2015-05-22 01:43] josenavas commented on #930
@jairideout I'm unsure on what to say. It all comes down on how natural sorting is defined. It looks like in this latest version, `natsort` changed the definition of natural sorting.

Before, the correct sorting was: `['a-10', 'a10']`, but now is sorting those strings like this: `['a10', 'a-10']`. Those strings represent sample names and they sorting is used to state the sorting in the gradient.

[2015-05-22 01:44] antgonza commented on #930
Agree on following natsort definition.

[2015-05-22 19:33] ebolyen commented on #930
@josenavas since the difference is purely cosmetic, I will update the tests and bump the minimum version.

[2015-05-22 19:50] josenavas commented on #930
@ebolyen note that the difference is not purely cosmetic. It actually defines the order in which the samples should be analyzed. That's why I was rising the concern about the "correct" natural sorting.

In that case, it should be ok, but if natsort keeps changing their definition of "natural sorting" it is possible that the analysis won't be reproducible. At this point it is ok, as AFAIK, this cod

[2015-05-22 19:57] ebolyen commented on #930
@josenavas They say this:

Out of curiosity, why does the sample id have any bearing on the order of analysis? Doesn't that imply I can manipulate the results by changing ids? (Or perhaps I completely misunderstand where this id comes from)

[2015-05-24 15:49] josenavas commented on #930
The default behavior if the user doesn't provide a column for sorting their values it's using the sample ids. Anyway, if the user provides a column to sort the samples, we cannot make sure that we are using a numeric column, which will lead to the same behavior.

Given that they point out that this will change the results on science and engineering, I think we should start using their new `realsor

[2015-05-26 16:33] jairideout commented on #930
:+1:, and update setup.py to rely on natsort >= 4.0.0. Is anyone available to work on a PR with this fix?

This code is used in QIIME's compare_trajectories.py script. @gregcaporaso and I have updated QIIME's setup.py to specify natsort < 4.0.0 to retain the current sorting behavior.

[2015-05-27 23:38] #930 closed

[2015-06-01 18:21] #929 closed

[2015-06-01 19:46] mortonjt commented on #918
Closing this, since it is already outlined in `CONTRIBUTING.md` under `Submitting code to scikit-bio` bullet 8.

[2015-06-01 19:46] #918 closed

[2015-06-02 05:54] wwood opened #934 "Underscores in newick tip names get removed"
Hey, I'm using skbio to clean up some newick files since it is more flexible than some, but ran into this:
[code]
I wasn't expecting skbio to remove the `_` after the `a`, i.e. I was expecting
[code]

This is with 0.2.3, I attempted to install from master branch but was unable to - apologies if this is a duplicate.

Thanks,
ben

[2015-06-02 12:01] ebolyen commented on #934
Hey @wwood, `to_newick` is deprecated, we recommend using `write` or `str` instead. So your command should look like this:

[code]

`write` is called internally by `str`

[2015-06-02 15:58] josenavas commented on #934
Hey @wwood,

accordingly to the newick format, the "_" characters are interpreted as spaces, so that is another thing to take into account.

[2015-06-02 16:00] ebolyen commented on #934
@josenavas The problem is that the `_` characters are being replaced with spaces when encoded, which is exactly the opposite of what one would want to have happen.

The new `reader` and `writer` do not have this issue.

[2015-06-02 23:56] wwood commented on #934
Hi, thanks for the quick response. Somehow I'd noticed `from_newick` was deprecated, but missed that `to_newick` was too.

However, my larger problem is not solved, because I specifically do not want single quotes around the names as FastTree doesn't recognise the quotes as far as I can tell. (hence `escape_names=False`). Is there some way to do this with `str` or otherwise? e.g. replicate
[code]

[2015-06-03 00:37] ebolyen commented on #934
@wwood I see what is happening. Your name starts out as `'a_2'` because it is already escaped (with the quotes) it will treated as a literal string resulting in a node which has `a_2` as its name. When that is written again, `a_2` will be escaped as the node's name has an `_` (it isn't converting with a simple replace it because it isn't a space). According to what little standards seem to exist,

[2015-06-03 00:40] ebolyen commented on #934
Essentially it will only quote something if one of the characters in the name is in `set(",:_;()[]")`. So if you have any of those you might want to replace them as well. Otherwise it will always choose the simplest escaping possible.

[2015-06-03 01:26] wwood commented on #934
OK, makes sense - I agree that is the most correct behaviour.

[2015-06-03 01:26] #934 closed

[2015-06-03 04:40] mortonjt opened #936 "Request: Add more flexibility to `assign_ids`"
Right now, the only way to use `assign_ids` within `TreeNode` objects is to assign the ids according to a postorder topology.

It would be awesome if the user can pass in an arbitrary ordering (i.e. levelorder) and can call this function as follows

[code]

[2015-06-03 14:38] gregcaporaso opened #937 "explore marisa-trie in place of our trie implementation"
This may be important for future OTU picking in QIIME 2. [marisa-trie](https://pypi.python.org/pypi/marisa-trie).

[2015-06-03 15:27] wasade commented on #937
:+1:

On Wed, Jun 3, 2015 at 8:38 AM, Greg Caporaso <notifications@github.com>
wrote:

[2015-06-03 17:27] wasade commented on #936
Can you describe a use case please? One issue with allowing a user to define the ordering is that the order information then needs to be stored on the tree in order to know how to interpret the IDs.

[2015-06-03 18:47] mortonjt commented on #936
Right now, I'm writing up an algorithm that constructs a DP matrix from a tree (traversing the tree bottom up).  Having the nodes ID'ed in according to a level order fashion would make it significantly easier to index the DP matrix.

[2015-06-03 18:51] wasade commented on #936
Oh, nice! What about just doing the decoration yourself?

for dp_id, node in enumerate(self.levelorder()):
   node.dp_id = dp_id

I'm still concerned about the ambiguity that can arise if
TreeNode.assign_ids can support different orderings.

On Wed, Jun 3, 2015 at 12:47 PM, mortonjt <notifications@github.com> wrote:

[2015-06-03 19:04] mortonjt commented on #936
Yup.  That's exactly what I'm doing right now.  I was just curious to see if there was any interest to have this capability integrated, since it may not be straightforward to ID the nodes without the modifying the skbio source code.

But after giving it a little more thought, this might not is a problem.  The below works fine without modifying the skbio source code.
[code]
Thanks!  Consider this c

[2015-06-03 19:04] #936 closed

[2015-06-04 01:19] ElDeveloper commented on #605
I think the API changes would allow this, but it would be nice to be able to negate "filter". For example, as it currently is if you want to remove ids from a distance matrix, you have to specify the identifiers you want to keep, you can't specify the ids you want to remove, which could easily be done with the same interface but with the addition of a negate flag.

[2015-06-04 16:15] jairideout commented on #605
:+1: this would be a useful addition!

[2015-06-04 16:31] ElDeveloper commented on #605
From working with a rather large DM, I also noticed that having an `inplace` flag, would also be useful!

[2015-06-05 23:13] jairideout opened #939 "define scikit-bio version in a single place"
Currently, scikit-bio's version is stored in `skbio.__version__` and `setup.py`. It'd be nice to only store this info once.

[2015-06-05 23:45] ElDeveloper commented on #939
@wasade did the following (which is based on Flask's setup.py) for moi:
https://github.com/biocore/mustached-octo-ironman/blob/master/setup.py#L15-21

On (Jun-05-15|16:13), Jai Ram Rideout wrote:

[2015-06-05 23:50] jairideout commented on #939
Awesome, thanks!

[2015-06-06 00:05] jairideout commented on #937
I think the next step is to deprecate the trie code in scikit-bio in favor of marisa-trie or one of the other trie Python packages (e.g., [datrie](https://pypi.python.org/pypi/datrie/), [DAWG](http://dawg.readthedocs.org/en/latest/)). Each trie implementation has its pros and cons (e.g., memory vs. runtime efficiency, immutable vs. mutable, etc.). The functionality provided by scikit-bio's trie ob

[2015-06-06 01:39] wasade commented on #939
Flask is so awesome...

[2015-06-08 06:08] mortonjt opened #940 "BUG: skbio.diversity.alpha.lladser_pe"
Looks like this function can return uncovered probabilities greater than 1.

[2015-06-08 06:15] mortonjt commented on #940
In addition, I see that there is a np.random.shuffle method embedded within this method.
It will probably be a good idea to include a numpy RandomState parameter

[2015-06-08 10:53] hermancn opened #941 "Install scikit-bio error"
When i install scikit-bio on 64bit  windows with python27, there is an error occured, and i cannot solve it with google, so here i am. Below text is the output error of scikit-bio installation.
=========================================================================
  Downloading/unpacking scikit-bio==0.2.3 (from pyldavis)
  http://pypi.douban.com/simple/scikit-bio/0.2.3 uses an insecure transpor

[2015-06-08 12:11] hermancn commented on #941
There are other people also have encountered this problem on stack overflow, and no body has responsed.  Any suggestion would be welcome.
See: http://stackoverflow.com/questions/27029212/trouble-installing-scikit-bio-on-windows-xp

[2015-06-08 13:48] gregcaporaso commented on #941
@hermancn, thanks for the question and for the SO link. I followed up there (this is more tech support, and for now we're pointing users to SO for tech support) but briefly, we don't officially support Windows right now because we don't have developers on our team with expertise in python on Windows. We may expand support in the future. For the moment, we're interested in hearing about what does a

[2015-06-08 13:48] #941 closed

[2015-06-08 14:57] gregcaporaso commented on #937
I agree re: deprecation of our trie code in favor of one of the others,
though we'll just need to make sure that we can get the information we need
from those (i.e., the sets of ids that cluster to each node in the trie).
We may then want to wrap that code in our sequence clustering API (which is
yet to be defined, but which we'll need as core functionality in skbio for
QIIME 2).

On Fri, Jun 5, 2

[2015-06-08 17:17] anderspitman commented on #941
@hermancn It looks like the install is failing when trying to build some of our C extensions. It's possible that you don't have the Microsoft C compiler installed, or it might not be in your PATH environment variable. I would recommend trying to build a more mainstream Python package like Numpy on your system. You'll probably run in to a lot of the same roadblocks, but there will be more people ab

[2015-06-08 17:25] Jorge-C commented on #941
See #702 for the main issue on windows support and some debug work, and #780 for fixes that solve compilation (but trying to use the extension crashes).

[2015-06-09 19:48] Jorge-C opened #943 "random distance matrices aren't always symmetric"
[This line](https://github.com/biocore/scikit-bio/blob/master/skbio/stats/distance/_base.py#L772) does not create symmetric matrices (since it's modifying it in place, it depends on how numpy will traverse the memory to make the updates).

Fortunately, this is caught by the `DistanceMatrix` constructor.

[2015-06-09 19:54] mortonjt commented on #943
Hmm.  Nice catch!  Sounds like it can just be fixed with
[code]
Want to submit a PR for it?

[2015-06-09 20:01] Jorge-C commented on #943
I don't mind, this could be the most gentle introduction to contributing to skbio. The code fix is trivial as you pointed out and so they could focus on git, running the test suite locally, adding a test case that shows the failure, etc. If keeping a few of these tiny issues open can be useful in the short term I'll leave it as is, otherwise I'll fix it!

[2015-06-10 16:29] jairideout commented on #940
Some discussion started on the mailing list, including a code sample that reproduces the bug (thanks @mortonjt):

[code]

@jensreeder is going to look into this.

[2015-06-10 17:00] jairideout commented on #943
Let's keep this open for a few more days in case someone new to scikit-bio development wants a quick fix to work on. Thanks for reporting this @Jorge-C!

[2015-06-10 17:02] jairideout commented on #937
Sounds good, are you interested in taking the lead on this and posting back here when it's safe to deprecate this object?

[2015-06-10 19:53] #919 closed

[2015-06-10 22:09] Jorge-C commented on #940
:+1: on the RandomState parameter.

[2015-06-10 22:52] jensreeder commented on #940
Regarding the RandomState, I noticed that all the other functions in skbio that rely on some sort of randomness (e.g. np.random.sample, np.random.choice) also don't allow a RandomState param.

I think this is something that should either be handled consistently across skbio or not at all.
For testing you can always  set numpy.random.seed() before calling this function. As long as you have no concu

[2015-06-10 23:09] jairideout commented on #940
@jensreeder I agree.

Adding a random state parameter isn't necessary for this bug fix. @mortonjt can you please create a separate issue for this feature request so that discussion related to it will happen there?

[2015-06-11 05:39] mortonjt opened #946 "Request: Adding in numpy.random.RandomState parameter into all randomized methods"
One problem with using straight up `np.random.seed` is there is a single global variable that handle all of the randomization calls.

If we wanted to parallel random sampling, this would quickly become a bottleneck.
Right now, if I wanted to use `skbio.stats.subsample_counts` to perform multiple rarefaction on a boat load of samples, I cannot fork off multiple processes to get this job done in par

[2015-06-11 14:07] Jorge-C commented on #946
Big +1, this is the way to go and has all the advantages that Jamie
mentioned!
On Jun 10, 2015 11:39 PM, "mortonjt" <notifications@github.com> wrote:

[2015-06-11 19:34] #939 closed

[2015-06-12 18:34] colinbrislawn commented on #937
Here is another trie implementation, which may be useful.
https://github.com/dcjones/hat-trie

It's even got a python wrapper:
https://github.com/kmike/hat-trie

One comment on the page:

So if we DO need inserts, then this looks like a solid option.

[2015-06-12 19:18] jairideout commented on #870
Fixed in #938

[2015-06-12 19:18] #870 closed

[2015-06-12 19:27] jairideout opened #948 "memory optimization for Sequence metadata"
`Sequence.positional_metadata` is currently initialized to an empty `DataFrame` with 0 columns and an index the size of the sequence if positional metadata isn't provided. To save on memory when positional metadata isn't present, the `Sequence.positional_metadata` property could be smarter and only create the `DataFrame` when the user asks for it (e.g., if they wanted to add positional metadata af

[2015-06-12 19:34] jairideout opened #949 "next steps for sequence objects"
Next steps for sequence objects:

- [x] make sure we're shallow copying `metadata` and `positional_metadata` when appropriate to avoid cascading effects if a user updates metadata on a "parent" object (@jairideout)

- [x] add setters/deleters for `metadata`/`positional_metadata` with same guards as constructor (@jairideout)

- [x] ensure `positional_metadata` has uniform index set (@jairideout)

-

[2015-06-15 18:02] #861 closed

[2015-06-15 18:15] jairideout commented on #834
We decided not to force immutability across the codebase as this isn't how Python libraries typically work and it is impossible to enforce in certain situations (for example, now that we support truly arbitrary metadata on sequence objects). Decisions on immutability will be made on a per-object basis going forward.

[2015-06-15 18:15] #834 closed

[2015-06-15 18:32] ebolyen commented on #834
:+1:

[2015-06-15 18:33] Jorge-C commented on #834
Great! :+1:

[2015-06-15 22:12] gregcaporaso commented on #937
Yep, I'll take this one.

[2015-06-17 06:15] jensreeder commented on #940
I discussed with Manuel, the mathematician behind this method,  and we do not consider this to be a bug. The point estimator is unbiased, which means that the expected value of the estimator (the mean of multiple independent predictions) is the true value. Practically this means for p close to 1, predicted values will scatter around 1, with some larger than 1.
The distributions generated in the co

[2015-06-17 17:56] johnchase commented on #943
@jairideout  I can work on this if you want to assign it to me, or I can leave it. If anyone else wants to work on this, the code has been modified so the link in the initial post doesn't point to the correct line. The line that needs to be modified is:
[code]
Which should be fairly apparent from @mortonjt's comment

[2015-06-17 19:13] jairideout commented on #943
Assigned to you, thanks @johnchase!

[2015-06-17 19:16] antgonza commented on #943
If a distance matrix is not symmetric, is it still a distance matrix? In other words, should this be allowed?

[2015-06-17 19:18] jairideout commented on #943
No, it is explicitly disallowed (this check happens in the `DistanceMatrix` constructor). This is just a bug in `randdm`, which is a utility function for creating random distance matrices.

[2015-06-17 19:18] antgonza commented on #943
Got it, thanks.

[2015-06-17 20:38] ebolyen opened #951 "Update QSEQ to use the new metadata"
Currently it shoves everything into a sequence id, this can be updated to take advantage of the real metadata available on the sequence objects.

[2015-06-17 20:43] anderspitman commented on #951
:+1:

[2015-06-17 22:06] mortonjt commented on #940
I just talked to Manuel.  Looks like it is a "problem" with the theory ...

That being said, at the very least, we need to update the documentation.  We can't have people using this thinking that it'll always return real probabilities.

[2015-06-17 22:26] ebolyen commented on #940
Thanks for looking into this @jensreeder and @mortonjt! Would either of you be up to sending in a PR with the doc updates?

[2015-06-18 23:31] ebolyen opened #955 "Freeze Minimum Dependencies"
When we release beta, we should freeze the minimum dependency for every package at whatever is the latest at that time. We can then keep these up to date moving forward as package APIs change.

[2015-06-18 23:33] ebolyen commented on #955
![](http://api.ning.com/files/It3-odgnrfRu7Z9VNG6pP1qhlsWV2cuEEFSKpW9XCtPFlf2-2A0VuRmU-YZW-p0GrPpVKYRGyc3BAaj0GqNqh2GD0wNednF-/back2future.png)

[2015-06-18 23:40] ElDeveloper commented on #955
[.](https://github.com/ElDeveloper/ITTDMMAWHTTTF)

[2015-06-19 00:43] jairideout commented on #940
Thanks for tracking this down @jensreeder @mortonjt! Thanks for the doc update @mortonjt

[2015-06-19 00:43] #940 closed

[2015-06-19 00:56] jairideout commented on #910
Fixed in #911.

[2015-06-19 00:56] #910 closed

[2015-06-19 00:57] jairideout commented on #880
@JWDebelius can this be closed now that #911 is merged?

[2015-06-19 01:37] JWDebelius commented on #880
Yep.  #911 drastically increased the speed. (I didn't do formally profiling, but I went from running the AG samples overnight to under 2 hours).
I still think this is a good candidate for parallelization, that's a larger discussion.

[2015-06-19 01:37] #880 closed

[2015-06-19 01:39] mortonjt commented on #880
Awesome!

Keep in mind,  you can't parallelize the power code unless you pass in a
numpy RandomState object.
On Jun 18, 2015 7:37 PM, "J W Debelius" <notifications@github.com> wrote:

[2015-06-19 15:27] jairideout commented on #880
Awesome, thanks @JWDebelius!

[2015-06-20 18:36] ebolyen commented on #949
@jairideout with regards to `six.b` that usage is correct, in py2 you could write `bytes("string here")` and it would work fine, but py3 requires an encoding as an argument. Py2 naturally does not support an encoding argument as it is actually an alias for `str`. `six.b` just mediates that. `six.u` is also useful and does an analogous thing but for unicode.

[2015-06-20 19:37] #948 closed

[2015-06-22 23:49] gregcaporaso opened #958 "add decoration of deprecated_parameter as a stability state decorator"
This is a follow-on issue from #945.

[2015-06-22 23:50] gregcaporaso opened #959 "discuss plan for how we will notify users that an entire submodule is deprecated"
This is a follow-on issue from #945.

[2015-06-23 16:26] #943 closed

[2015-06-23 20:21] gregcaporaso commented on #955
:+1:

[2015-06-24 18:09] gregcaporaso commented on #923
This was addressed in #945.

[2015-06-24 18:09] #923 closed

[2015-06-24 18:11] gregcaporaso opened #961 "decorate all functionality in public API to indicate stability state"

[2015-06-25 21:32] jairideout opened #964 "update cookbook"
Update cookbook right before release.

[2015-06-26 01:31] jairideout commented on #951
Fixed in #960.

[2015-06-26 01:31] #951 closed

[2015-06-26 23:38] #961 closed

[2015-06-26 23:47] jairideout opened #967 "add Stockholm format to I/O registry"

[2015-06-26 23:48] jairideout commented on #652
Closing in favor of #967.

[2015-06-26 23:48] #652 closed

[2015-06-26 23:48] jairideout commented on #676
Closing in favor of #967.

[2015-06-26 23:48] #676 closed

[2015-06-27 22:10] jairideout commented on #812
With the new I/O registry in #963, many sources make the most sense with `read` and `write`.

[2015-06-27 22:10] #812 closed

[2015-06-27 22:11] jairideout commented on #689
Closing in favor of #963.

[2015-06-27 22:11] #689 closed

[2015-06-27 22:14] jairideout commented on #412
The fastest method from @Jorge-C's initial benchmarks is now implemented, though only in Python.

[2015-06-27 22:14] #412 closed

[2015-06-27 22:17] #826 closed

[2015-06-29 04:56] wwood opened #970 "TreeNode#prune not removing nodes"
Hi,

I'm having some trouble understanding this behaviour, and am wondering it is a bug. Basically, `prune` does not appear to remove nodes when I expected it to:

[code]

i.e. I expected there not to be the branch at the top. `remove_deleted` acts in the same way

[code]

I am able to workaround by using `remove` and then `prune` for each node:

[code]

Thanks,
ben

[2015-06-29 13:15] wasade commented on #970
Prune collapses single descendent nodes, in your first example, there
doesn't exist a single descendent node as the root has two children: one
internal node with two tips, and a tip. Perhaps the documentation should be
more explicit here?
On Jun 28, 2015 10:56 PM, "Ben J Woodcroft" <notifications@github.com>
wrote:

[2015-06-30 00:35] wwood commented on #970
Hmm, so how does one clean up the tree after a call to `remove_deleted` when multiple nodes are removed? Also I wondered if it might be easier to implement the pruning as you are removing, so global tree searches are not necessary.

This is all hypothetical for me though, as the "workaround" (which I guess is actually what I am supposed to be doing) works fine for my particular situation. So close

[2015-06-30 00:54] wasade commented on #970
I guess I don't understand how `prune` isn't doing the cleanup, or what cleanup you're looking for? Do you want to remove all resulting tips which were originally internal nodes? In which case, you may be better off using `subtree` and fetching just the tips you care about.

Note, the tree in your work around may not be what you want as it is has a single descendent from the root (`((c,d));`) and

[2015-06-30 01:46] wwood commented on #970
Oh I see. `subtree` I thought was a subtree in the sense of a TreeNode and its children, which I guess is a almost superfluous in skbio where a tree is a treenode. Actually the comment "Make a copy of the subtree" would imply my original understanding was correct. Cannot test this, at least in 0.2.3:
[code]
What I'm after is a function that removes a list of tips (or takes a lambda function) and r

[2015-06-30 03:38] jairideout opened #973 "support .pyx files in checklist.py AST/tokenizer validations"
Add .pyx (Cython) file support to checklist.py in its AST/tokenizer validations (e.g., file header checking). These files are currently ignored. Originally discussed in #971.

[2015-06-30 16:40] shiffer1 opened #974 "Enhance TreeNode Robinson Foulds Distance (RFD"
Currently TreeNode RFD provides a value for the Robinson-Foulds distance metric, but the returned value is simply a number without context to give it meaning. The RFD return values should have some context in which a valuation can be made. The problem is that the metric is a distance required to break down a tree to a minimal unique tree and then build it up again to the new tree. This is nebulous

[2015-06-30 16:49] wasade commented on #970
Have you tried `TreeNode.shear`?

[2015-06-30 16:53] wasade commented on #974
Doesn't the calculation of `RFD_MAX` imply a known and consistent
-furcation level internal to the tree? It is not safe to assume the trees
are, say, strictly bifurcating.

I don't think this makes sense to add into `TreeNode.compare_rfd` as the
intent of that method is specifically to calculate RFD. It may make sense
in a helper or utility method.

On Tue, Jun 30, 2015 at 10:40 AM, shiffer1 <noti

[2015-06-30 17:50] shiffer1 commented on #974
Hey Daniel,
I found [this link](http://lcbb.epfl.ch/papers/recomb_jcb06.pdf) that may help with the question you are asking. I am uncertain of what you mean to say it's safe to say they are strictly bi-furcating. In researching this metric I have found this is a common method that is used for calculating a maximum distance.
The problem with the term "compare" is that it indicates that this is a va

[2015-06-30 18:24] wasade commented on #974
The present `TreeNode` object does not assume the trees are strictly bifurcating, and the "distance" that RFD computes is based on the topology. So for instance, these two trees have a very different topology but still have the same number of tips.

[code]

It sounds like the bigger picture that you're looking for is a normalizing factor, which makes sense. However, the suggested normalizing facto

[2015-06-30 19:50] shiffer1 commented on #974
It is my understanding that Robinson Foulds was created to account for the topology of the tree. I make no claims about being an expert in this and please correct me if I am wrong, but in your example, the use of Robinson Foulds would be to collapse b,d, and f and then remake them (in this case from the origin) to create the new tree. The RFD given would be the the distances of branches broken dow

[2015-06-30 19:59] wasade commented on #974
RFD does take into account the internal nodes, which is why I was confused
by your definition of RFD_MAX as being only based on the number of tips.
Although, in hindsight, it looks like your definition actually is
accounting for the internal nodes and it was just that the variable names
used were misleading (TreeNode.count by default counts internal nodes). RFD
does not take branch length into acc

[2015-06-30 20:22] shiffer1 commented on #974
Oh I can see that you are correct about the branch length thing. That was my own interpretation. I am however getting different maximum distances which would indicate that something is different. Using this system doesn't change the fact the the smallest distance is the most similar, but it does however add to the comparison a measure of how different it is.
We actually need this for our project w

[2015-06-30 20:30] wasade commented on #974
If the return type is variable, it further breaks what consistency does exist between the comparison methods.

Did you try `proportion=True` with `compare_rfd`?

I definitely think you should take a look at the tree comparisons link I sent. Specific paper is [here](http://www.nature.com/ismej/journal/v7/n3/full/ismej2012123a.html); there were some commonalities in the workflow.

Excited to see the

[2015-06-30 22:23] wwood commented on #970
No, hadn't seen that, seems perfect, perhaps it makes sense to add that as a "see also"? Thanks.

[2015-07-02 21:07] shiffer1 commented on #974
I'm back. Sorry it took me a while. The variability is pretty minor from what I can tell, so I don't know if it is too big a concern. We should look into it a bit.

I tried proportion =True and compared to the value I get via the RFD_MAX and we are definitely coming up with different values.
The proportion is a bit hard to understand: I pulled the code snippet:

tree1_sets = tree1.subsets()

[2015-07-05 16:51] #337 closed

[2015-07-06 21:24] unionx opened #981 "Error when install scikit-bio with pip on OSX"
It seems that version 0.2.3 could not find numpy header files:

[code]

My OSX version is 10.10, and Python version is 3.4.3

[2015-07-06 21:44] ebolyen commented on #981
Hello @unionx, do you have `numpy` pre-installed? We have fixed this in master, but `0.2.3` needs numpy to be installed already.

[2015-07-06 23:08] jairideout commented on #836
Fixed in #963.

[2015-07-06 23:08] #836 closed

[2015-07-06 23:08] jairideout commented on #831
Fixed in #963.

[2015-07-06 23:08] #831 closed

[2015-07-06 23:08] jairideout commented on #690
Fixed in #963.

[2015-07-06 23:08] #690 closed

[2015-07-06 23:13] #371 closed

[2015-07-06 23:13] jairideout commented on #371
Finished in #963.

[2015-07-06 23:30] ebolyen opened #982 "Create test mixins for IO sources"
This would improve the way we test IO sources by creating a rigorous suite of tests that have to pass to ensure all io sources have the same behaviour in corner cases and would make adding new sources easier.

[2015-07-07 00:32] gregcaporaso commented on #461
It would be useful to add checks for decorator order and presence/absence to checklist.py. These are going to be easy to mess up.

[2015-07-07 00:37] jairideout commented on #461
:+1:

[2015-07-07 01:30] unionx commented on #981
@ebolyen Hey

I have installed the newest version of Numpy on my machine. But I installed Python via homebrew, I am not sure if it has a difference.

I pulled the master version of scikit-bio from Github and successfully installed it. Thanks.

[2015-07-07 01:35] #981 closed

[2015-07-07 03:29] ebolyen commented on #981
@unionx, glad you got it working! Just as a heads up we are going to be releasing scikit-bio 0.4.0 (beta!) within the next 48 hours (hopefully). And that should work out of the box with `pip` for you.

[2015-07-07 05:23] unionx commented on #981
@ebolyen Great job! Thanks!

[2015-07-07 20:37] #955 closed

[2015-07-08 00:03] RNAer opened #986 "support for file formats of annotations"
Formats list:
- [ ] gbk (http://www.ncbi.nlm.nih.gov/genbank/samplerecord/).
- [ ] gff version 3 (http://www.sequenceontology.org/gff3.shtml)

These 2 are widely used in sequence/genomic annotation. I think we should support them. I can implement if people think it is good to do that.

[2015-07-08 02:21] ebolyen commented on #986
:+1: genbank is definitely on our list! With the new IO in, it wouldn't be a bad time to start working on expanding the list of formats we support. Ideally we can grow that list indefinitely.

[2015-07-08 02:31] jairideout commented on #986
:+1: Thanks for working on this @RNAer!

[2015-07-08 15:20] #928 closed

[2015-07-08 23:58] #949 closed

[2015-07-09 00:12] RNAer commented on #986
cool. for discussion, what class do you think a genbank entry read into? a new, child class of `Sequence` class?

[2015-07-09 01:23] ebolyen opened #997 "check argv to detect if install in setup.py"
this would avoid installing numpy even when `--help` is called on setup

[2015-07-09 01:44] #964 closed

[2015-07-09 01:48] anderspitman commented on #906
Probably also useful:
- [ ] Many of the pip packages are also available in conda now.

- [ ] We should use a `requirements.txt` [file for conda](https://groups.google.com/a/continuum.io/forum/#!topic/conda/PiM9sjWyXFU)

[2015-07-09 04:39] gregcaporaso opened #998 "stability state decorators don't modify doc strings for inherited methods"
For example, [DNA.degap](http://scikit-bio.org/docs/0.4.0/generated/skbio.sequence.DNA.degap.html#skbio.sequence.DNA.degap).

[2015-07-09 16:41] anderspitman commented on #906
I've also noticed that travis seems to start 3 of our builds at the same time, but wait a while for the 4th. Might want to try and collapse it down to 3 builds.

[2015-07-09 16:58] RNAer commented on #986
or a class with a `Sequence` instance as a member. This is inheritance vs. composition (http://stackoverflow.com/questions/49002/prefer-composition-over-inheritance).

[2015-07-10 01:31] ebolyen commented on #986
We would want support for all 4 sequence types (DNA, RNA, Protein, and Sequence) we do not want to create objects specific to a format (StockholmAlignment was recently removed for example, we want to use Alignment for that). Fortunately skbio supports arbitrary metadata (global and positional) for sequence types.

[2015-07-10 19:34] RNAer commented on #986
No class of formats makes sense. The positional metadata is a great
feature, but not ideal in this case. suppose you have 1000 genes in a
microbial genome (in real case, it is much more because you will have many
more sub-gene annotations). If I understand correctly, every single
annotation of genes, ncRNAs, etc., will be an array of genome length if
stored as positional metadata. we don't want to

[2015-07-10 19:41] rob-knight commented on #986
Quick note:

There are two separate use cases for sequence annotations:

1. You have a short sequence, several annotations that cover large chunks of the sequence. It makes sense to use a mask approach as described below, and use bitwise operations to combine features.

2. You have a long sequence, very large numbers of annotations that cover small chunks of the sequence (consider gene annotations

[2015-07-10 19:53] ebolyen commented on #986
@RNAer, Sockholm's IO was also removed (this is temporary), much of that implementation was buggy due to a fault in the unit-tests (`__eq__` was inherited, so none of the metadata worked) that wasn't caught.

You are also correct that annotations would result in 1000s of arrays. It is certainly inefficient, in fact one of our earlier iterations would have exposed an API that supported both slices

[2015-07-10 19:54] ebolyen commented on #986
Thanks for the context @rob-knight!

[2015-07-10 20:11] ebolyen commented on #986
Just played with pandas a bit. We can create sparse boolean vectors and attach them to arbitrary dataframes. I think we can keep the API AND have memory efficiency too!

[2015-07-11 05:59] jeffdaily opened #1001 "enhancement: incorporate parasail SIMD sequence alignment library"
Hi scikit-bio team,

I have developed a SIMD C/C++/Python library similar to the SSW library.  Unlike SSW, it does not provide the traceback, but it does implement global as well as semi-global (ends-free) alignment.  It is implemented for SSE2, SSE41, and AVX2 and there are functions that will automatically dispatch to the best available instruction set.

https://github.com/jeffdaily/parasail

Th

[2015-07-11 08:09] RNAer commented on #986
:+1: will look into that.

[2015-07-11 08:15] RNAer commented on #986
Related to this topic. There is a parent-child relationship between features, such as an exon belongs to a gene (Note that this can't be inferred merely from coordinates because genes can overlap). would it make sense to have that in `Sequence`? I am thinking tree-like struct similar `TreeNode`.

[2015-07-11 14:52] ebolyen commented on #986
@RNAer empty sequences are fine. As for parent-child relations, I don't think we need to explicitly model what you are describing.  Boolean vectors are really easy to operate on and an `|` expression should make the above possible.
[code]

[2015-07-11 14:55] ebolyen commented on #986
Sorry it's early, I used exactly the wrong operator above, it's been corrected to `&`

[2015-07-11 15:02] gregcaporaso commented on #1001
@jeffdaily, thanks a lot for sharing this! We're very interested in this, and will try it out.

[2015-07-11 15:25] anderspitman commented on #1001
:+1:

[2015-07-11 15:45] jairideout opened #1002 "bug in RDA eigenvalues"
See [here](https://github.com/biocore/scikit-bio/pull/925#issuecomment-113173055) for some discussion. @Jorge-C are you available to work on this?

[2015-07-11 16:25] jairideout opened #1005 "add IUPACSequence.to_regex method"
`IUPACSequence.to_regex` should return a regular expression object that accounts for degenerate characters. There's a quick implementation of this in the SciPy 2015 talk [here](https://github.com/biocore/scikit-bio-presentations/tree/master/scipy-2015).

[2015-07-11 16:26] jairideout commented on #1005
@patena is working on this.

[2015-07-11 16:28] jairideout commented on #1005
Implementation from scipy talk:

[code]

[2015-07-11 16:33] jairideout commented on #997
See qiime-default-reference for [an example](https://github.com/biocore/qiime-default-reference/blob/master/setup.py#L14) of how to do this.

[2015-07-11 17:05] jairideout opened #1006 "add PHYLIP reader and sniffer"
It would be useful to support reading and sniffing PHYLIP files. We already support writing an alignment in PHYLIP format.

[2015-07-11 17:44] jairideout commented on #998
The issue was that the parent classes weren't decorated in the first place. Fixed in #1004.

[2015-07-11 17:44] #998 closed

[2015-07-11 20:49] jairideout opened #1008 "migrate doctests to Python 3"

[2015-07-11 21:19] #1005 closed

[2015-07-11 21:28] patena commented on #1006
I'll try doing this.

[2015-07-11 22:30] averagehat commented on #1008
Relevant? https://github.com/gnublade/doctest-ignore-unicode

[2015-07-11 22:36] patena commented on #1006
Question: In order to be validated, the file has to be read completely, since the header specifies the number of sequences. However, should I still implement a sniffer that ignores that condition and only reads the header and first sequence instead of reading the whole file?

[2015-07-11 22:38] ebolyen commented on #1006
Yes, the sniffer is considered to be an imperfect "best-effort" mechanism. They aren't really meant to validate the file so much as positively identify it.

[2015-07-11 22:55] jhcepas commented on #1006
ete's code for read and write parsing: https://github.com/jhcepas/ete/blob/master/ete2/parser/phylip.py

[2015-07-12 00:11] RNAer commented on #986
maybe I didn't explain clearly. The fact of a genetic feature located inside another does not neccessarily means it belongs to the other feature. Many annotations are overlapping. Like this:
[code]
`=` is exon and `-` is intron.

[2015-07-12 14:49] ebolyen commented on #986
Right sorry, rereading your last comment and I see what you were saying now. In this situation I think we would really just denormalize, so have "gene_b_exons" and "gene_a_exons" . @gregcaporaso thoughts?

[2015-07-12 15:28] jairideout opened #1010 "decrease runtime of skbio.stats.power doctests"
The doctests for `skbio.stats.power` take awhile to run (~34 seconds). The examples should be simplified to run quicker.

[2015-07-12 17:41] patena commented on #1006
Implemented basic reader/sniffer - see #1011

@jhcepas Thanks for the code! I'll probably try including that in my next version (the current one I wrote before seeing your code only does the strict sequential format)

[2015-07-12 20:27] patena commented on #1006
If I wanted to implement the interleaved format and the relaxed option, how should the sniffer and reader deal with that?  Make a separate format for each?  Just sniff for Phylip in general (pretty easy)? Make the reader take arguments specifying the type, or try to figure it out (or have both as an option)?

A few other format issues:
* the code from ETE implements skipping blank lines and commen

[2015-07-13 06:41] kdmurray91 opened #1012 "Debian Package"
Hi all,

Thanks for making scikit-bio, I really like it. I was wondering if anyone had looked into packaging of skbio for Debian? If not I could attempt to do so if you would like, under the Debian Med project.

Cheers,
Kevin

[2015-07-14 14:57] averagehat commented on #1006
fixed link that jhcepas posted https://github.com/jhcepas/ete/blob/04e709b4f942a1e05939d335a5e11cc0c63f455a/ete3/parser/phylip.py

[2015-07-14 18:25] averagehat opened #1014 "Reference-based Alignment"
At scipy Evan and I talked about how a reference-based alignment might be represented.
A related topic to think about is how one might represent de novo assemblies (e.g. contigs).
SAM is what we most commonly work with reference-based alignments (their last update increased support for de novo representation). SAM spec is here:
https://samtools.github.io/hts-specs/SAMv1.pdf. Lots of metadata store

[2015-07-14 18:42] averagehat commented on #841
I suggested to Evan that VCF files are a good candidate to be represented as pandas DataFrames. From what I can tell people are using them in a similar way--querying the files, deriving statistics, etc. VCF files can get quite large but you could use [chunking.](http://pandas.pydata.org/pandas-docs/dev/io.html#iterating-through-files-chunk-by-chunk)

Relevant:
https://github.com/erscott/pandasVCF

[2015-07-16 15:41] wasade commented on #974
I think these are different measures, and should be treated as such. Would
you be interested in contributing a PR that adds in a `compare_rfd_max`
method?

On Thu, Jul 2, 2015 at 3:07 PM, shiffer1 <notifications@github.com> wrote:

[2015-07-16 16:51] shiffer1 commented on #974
Hey Daniel,
 I would be interested in this. I would still like to understand better how
different these two methods are how your method works. I tried both on a
bigger set and they came up with the same values, so maybe they aren't that
different after all, but I would definitely need to test more.
Thanks,
Arron

On Thu, Jul 16, 2015 at 8:41 AM, Daniel McDonald <notifications@github.com>
wrote:

[2015-07-16 17:48] ebolyen commented on #1006
@patena Aren't bioinformatics formats fun? I say we stick with strict for now and if someone posts an issue, we can deal with it then. @jairideout thoughts?

[2015-07-16 17:51] ebolyen commented on #1012
Hey @kdmurray91, thanks for your interest! I think right now we are probably more interested in using `conda` to package scikit-bio. Though a Debian package might be interesting in the future.

[2015-07-16 17:59] ebolyen commented on #1014
To add to this discussion, what kinds of operations would we want on this object?

Like you said, majority consensus would we very useful. What about things like SNP frequencies for positions? How might we represent multiple insertions at one position?

What does indexing look like?
Perhaps: `refalign.positions[50]` for the column at 50 of the reference
and `refalign.positions[50, ...]` to include

[2015-07-16 18:06] ebolyen opened #1015 "Do we need a PairwiseAlignment object?"
Currently we only have `Alignment` which represents a multiple sequence alignment. We also need to be able to represent multiple alignments to a single reference (#1014 ). This makes it unclear what alignment functions should return, as they could justifiably return a reference based alignment. What if we had these objects:

- `MultipleAlignment`
- `ReferenceAlignment`
- `PairwiseAlignment`

where

[2015-07-16 18:45] jhcepas commented on #1006
ETE's parser is also able to warn (or even rename) about duplicated names. Not a restriction in the FASTA and PHYLIP format, but *extremely* useful IMO. Sticking to the strict specification is just right, but things like allowing #lines are not explicitly forbidden and could be very useful from the user perspective. It is not uncommon to have commented lines in the header of FASTA files, for insta

[2015-07-17 20:40] gregcaporaso commented on #1015
I think that sounds reasonable, but why not have the pairwise aligners just return a ``MutlipleAlignment`` containing two sequences (i.e., what does ``PairwiseAlignment`` do that ``MultipleAlignment`` wouldn't)?

[2015-07-18 02:55] ebolyen commented on #1015
I guess there wouldn't be a difference, and we could have a method which could create a `ReferenceAlignment` from two sequences in a `MultipleAlignment`. Though I think we would only ever be able to support a conversion for a single read and reference from a `MultipleAlignment` as any more would produce a `ReferenceAlignment` that wasn't independent (unless I am thinking about this wrong). I think

[2015-07-20 17:01] RNAer commented on #986
just wanted to check back on this thread. it is ok to ignore parent-child relationship for the time being and add that later if necessary?

[2015-07-20 17:02] ebolyen commented on #986
I would say so, perhaps prefix anything for now and we can evaluate how that works out.

[2015-07-20 17:19] RNAer commented on #986
:+1:  I'll start implementing the backbone and issue pull request to get quick feedback from you guys.

[2015-07-20 17:20] ebolyen commented on #986
That would be awesome, thanks for working on this @RNAer!

[2015-07-20 18:13] jairideout commented on #1012
@kdmurray91 though we are targeting conda for packaging/distributing scikit-bio, I think having it available via Debian Med would be very convenient for users already set up in that environment. Please let us know if there's anything we can help you with, and thanks for offering to work on this!

[2015-07-20 18:17] jairideout commented on #1006
Sounds like a good plan. Thanks @patena for adding this functionality, and thanks @jhcepas for your code and input!

[2015-07-20 22:24] kdmurray91 commented on #1012
OK, I'll start work from the 0.4.0 tarball. Will let you know how it goes.

[2015-07-22 18:54] gregcaporaso opened #1016 "link scipy 2015 presentation from website"

[2015-07-22 20:20] ebolyen commented on #1016
There doesn't seem to be a good way to export a RISE presentation statically. Would a link work fine?

[2015-07-22 20:31] gregcaporaso commented on #1016
You can now do presentation mode in nbviewer, so you can link [here](http://nbviewer.ipython.org/format/slides/github/biocore/scikit-bio-presentations/blob/master/scipy-2015/A%2520Bioinformatics%2520Library%2520for%2520Data%2520Scientists%252C%2520Students%252C%2520and%2520Developers.ipynb#/).

[2015-07-22 20:34] ebolyen commented on #1016
It might be better to actually link to the video presentations. We can link to the repo (and migrate those other presentations)

[2015-07-22 20:40] ebolyen commented on #1016
Here it is [rendered](http://nbviewer.ipython.org/format/slides/github/ebolyen/scikit-bio-presentations/blob/scipy2015rendered/scipy-2015/A%2520Bioinformatics%2520Library%2520for%2520Data%2520Scientists%252C%2520Students%252C%2520and%2520Developers.ipynb). I guess it mostly works

[2015-07-22 20:47] gregcaporaso commented on #1016
What if you linked to both, e.g.:

SciPy 2015 (video, slides)

Different people will want to view it different ways I think, so this would be ideal.

[2015-07-22 20:49] ebolyen commented on #1016
Conceptually we could even do a page with an iframe of both. Would that be worthwhile?

[2015-07-22 20:51] ebolyen commented on #1016
Actually we don't have a template engine, so I'm not super excited about that approach anymore.

[2015-07-22 20:51] gregcaporaso commented on #1016
It'd be cool, but lower priority than a lot of other stuff, so unless it's really quick I think just links to both for now is fine.

[2015-07-22 20:54] ebolyen commented on #1016
Funny story, doing the link will actually be more work because of the CSS styling used to make the dropdown work. I think the fastest option would actually be to jekyllize it and then have a page for each

[2015-07-22 20:56] gregcaporaso commented on #1016
Eh, let's just link to either videos or the static versions of the slides for now then (could update both links to point to nbviewer). I don't want us to spend a bunch of time on this right now - we could always revisit with other website updates in the future.

[2015-07-22 20:57] ebolyen commented on #1016
A PR is in with the video links in that case.

[2015-07-22 20:59] gregcaporaso commented on #1016
Merged, thanks!

[2015-07-22 20:59] #1016 closed

[2015-07-22 21:43] gregcaporaso commented on #1012
Awesome, thanks @kdmurray91!

[2015-07-23 18:16] averagehat commented on #1014
I will keep up with this discussion more diligently.

__Majority Consensus:__ yes, but in practice this is more complex than picking the most common base. I think it would be a great contribution if scikit-bio could provide a "view" of an alignment to make consensus/variant calling easier (esp. make it easy to integrate metadata). When I fetch a column of an alignment, I'd like to be able to fetch

[2015-07-24 20:00] ElDeveloper commented on #830
https://github.com/scipy/scipy/releases/tag/v0.16.0 woot! :beers:

[2015-07-24 20:00] #830 closed

[2015-07-24 21:50] anderspitman commented on #517
@ebolyen @jairideout @gregcaporaso a couple questions:

1. Do we want to save benchmark results on github? I'm not sure that there's any reason to since they can be regenerated, and if (when) we update benchmarks they will need to be regenerated anyway. So I don't think we need to have anything other than our benchmarks.py and asv.conf.json on github.

2. Assuming you agree with 1, we can probably

[2015-07-24 21:54] gregcaporaso commented on #517
I don't think we need to store the results on GitHub.

[2015-07-24 22:14] wasade commented on #517
What about as a post push hook, or a PR service? Would be awesome if these
were just calculated for free but it could also just consume too much time
with travis

On Fri, Jul 24, 2015 at 3:54 PM, Greg Caporaso <notifications@github.com>
wrote:

[2015-07-24 22:16] gregcaporaso commented on #517
That's going to happen, we have a dedicated machine here that we're using to run it. This question is about saving the results.

[2015-07-24 22:26] wasade commented on #517
Ah. Small postgres db? Would be great to have for tracking performance over
time
On Jul 24, 2015 4:16 PM, "Greg Caporaso" <notifications@github.com> wrote:

[2015-07-24 22:36] gregcaporaso commented on #517
That information will be available, just not stored on GitHub.

[2015-07-24 22:37] wasade commented on #517
:+1:
On Jul 24, 2015 4:36 PM, "Greg Caporaso" <notifications@github.com> wrote:

[2015-07-26 18:55] jairideout commented on #830
:shipit:

[2015-07-28 23:11] anderspitman commented on #517
Yeah asv uses a simple json flat file method for storing results. Our benchmark server can cache prior runs so we only need to run for new commits, but if the data gets wiped out it's not a big deal since we can just go back and re-run everything over the old commits.

[2015-07-30 20:41] jairideout opened #1019 "add mention to changelog about new PHYLIP reader"
This should go under the `Features` heading.

[2015-07-30 23:41] anderspitman opened #1020 "Need name and github account for benchmark bot"
Our asv benchmarking framework will need a bot to report progress on automated benchmarking builds. We need to create a github account with an unused email address for the bot. Anyone have strong feelings about naming it something other than `scikit-bio-benchmarks`? Also, is there an email address available to use for this purpose?

[2015-07-31 00:25] ebolyen commented on #1020
@emperor-helper, @qiimer-2d2 thoughts?

[2015-07-31 00:34] emperor-helper commented on #1020
@ebolyen

[code]

[2015-07-31 00:34] wasade commented on #1020
qiiminator
tijuanomicsed
birdpoop (...the result of air speed velocity)
no-prokaryote
obi-sic-kit (
http://wordsmith.org/anagram/anagram.cgi?anagram=scikitbio&t=1000&a=n)
hit-it-with-a-biostick
turtle-or-hare

On Thu, Jul 30, 2015 at 6:25 PM, Evan Bolyen <notifications@github.com>
wrote:

[2015-07-31 00:39] wasade commented on #1020
Regardless of everything, I vote that this be the avatar for the bot:

![](https://imgur.com/nRad65z.jpg)

[2015-07-31 00:40] ElDeveloper commented on #1020
Not very suggestions, but:

- scikitten-bio: supplemented by rotating lolcat.
- mr-pickle: with the cowboy-pickle artwork that we found at that bar in
  Austin (at last SciPy).

On (Jul-30-15|17:34), Daniel McDonald wrote:

[2015-07-31 00:41] ElDeveloper commented on #1020
:+1: on the avatar!

[2015-07-31 00:44] wasade commented on #1020
![image](https://cloud.githubusercontent.com/assets/474290/8998473/01b67574-36eb-11e5-8e49-5acbe6204380.png)

[2015-07-31 00:45] wasade commented on #1020
also, love the scikitten-bio

[2015-07-31 03:26] gamestart commented on #941
but i got the same error when installing it on linux.

[2015-07-31 03:32] Jorge-C commented on #941
Hi @gamestart, would you mind creating an issue with the specific error you're getting and the steps you were following to install scikit-bio? This issue was specifically related to windows, which is currently not supported (yet).

[2015-07-31 04:22] gamestart commented on #941
gcc -pthread -shared build/temp.linux-x86_64-2.7/skbio/stats/__subsample.o -o build/lib.linux-x86_64-2.7/skbio/stats/__subsample.so
  building 'skbio.alignment._ssw_wrapper' extension
  creating build/temp.linux-x86_64-2.7/skbio/alignment
  creating build/temp.linux-x86_64-2.7/skbio/alignment/_lib
  gcc -pthread -fno-strict-aliasing -g -O2 -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -fPIC -I

[2015-07-31 04:23] gamestart commented on #941
by the command "pip install scikit-bio==0.2.3"

[2015-07-31 04:57] Jorge-C commented on #941
It seems your error is related to your compiler:
[code]
Can you give more information about your environment? Compiler version, distribution... I don't know when that option was introduced in gcc, you might need a newer compiler.

[2015-07-31 05:19] gamestart commented on #941
gcc version 4.1.2 20080704 (Red Hat 4.1.2-48);

[2015-07-31 05:26] Jorge-C commented on #941
Thanks, it seems that compiler version was released almost nine years ago ([release announcement](https://gcc.gnu.org/ml/gcc-announce/2007/msg00001.html)). I don't think we have a strict minimum compiler version but whatever the latest ubuntu LTS version (14.04 currently) provides seems like a good baseline.

[2015-07-31 05:29] gamestart commented on #941
ths jorge,but i also had installed the scikit-bio 0.4.0 manually .And it worked.

[2015-07-31 05:33] Jorge-C commented on #941
I see. Any reasons to prefer 0.2.3 to the latest beta?

[2015-07-31 05:37] gamestart commented on #941
O(∩_∩)O~ ,Because  the "qiime " needed "  scikit-bio<0.3.0,>=0.2.3"

[2015-07-31 06:12] gamestart commented on #941
Thanks, i make it by gcc 4.5.0.

[2015-07-31 06:35] kdmurray91 commented on #1012
Status update: Andreas Tille beat me to it to an extent, so 0.2 is packaged and uploaded. 0.4.0 is waiting on numpy 1.9.2 to move out of the experimental distribution, then it should "just work".

[2015-07-31 15:22] qiime-r2d2 commented on #1020
![mr-pickle](https://cloud.githubusercontent.com/assets/3912941/9010626/e7e94fbe-375c-11e5-9349-f44bf972562d.jpg)

[2015-07-31 15:51] #521 closed

[2015-07-31 16:42] jairideout commented on #898
I don't think we should add the notebook as a requirement because scikit-bio doesn't depend on it and it's a fairly heavyweight dependency.

[2015-07-31 16:42] #898 closed

[2015-07-31 16:59] jairideout commented on #829
Fixed in #925.

[2015-07-31 16:59] #829 closed

[2015-07-31 17:01] ebolyen commented on #1020
:+1: for `scikitten-bio`

[2015-07-31 17:07] jairideout commented on #1020
:+1: for `scikitten-bio`

[2015-07-31 17:24] anderspitman commented on #1020
Shall I open a gmail for it or do we have an address pool to pull from?

[2015-07-31 17:27] ebolyen commented on #1020
We could do something like `no-reply@scikit-bio.org`

[2015-07-31 17:27] ebolyen commented on #1020
We don't have mail servers or anything, but that's almost the point.

[2015-07-31 17:32] anderspitman commented on #1020
Won't we have to send a verification email?

[2015-07-31 17:42] #1008 closed

[2015-07-31 17:46] ebolyen commented on #1020
I suppose we would

[2015-07-31 18:56] scikitten-bio commented on #1020
scikitten-bio is a dumb name

[2015-07-31 19:00] gregcaporaso commented on #1008
:+1:

[2015-07-31 19:15] wasade commented on #1020
![](http://media2.fdncms.com/orlando/imager/feeling-emo-post-a-stupid-kitten/u/original/2333798/544419_753117664836_672543526_njpg)

[2015-07-31 19:31] gregcaporaso commented on #46
I'm going to port my IAB implementations of PD and UniFrac to skbio next week. These will get an experimental interface in place, and support a benchmark of different implementations.

[2015-07-31 19:41] wasade commented on #46
:+1:

I can port fast unifrac sans changes except for removing the cogent dependency. There's some added stuff with the cogent implementation, like doing PCoA, which I wont' bring over -- the goal is minimal, adapt to the pending skbio interface, and remove cogent dep.

[2015-07-31 19:42] ElDeveloper commented on #1020
![](https://lh3.googleusercontent.com/-CbVebKED0Dc/UghPCm_I7fI/AAAAAAAACfE/CkIHV5SdnE0/w322-h281/4742_1ed2.gif)

[2015-07-31 20:11] gregcaporaso commented on #46
I think it makes sense for only one of us to do this, since we don't want multiple implementations in skbio. It doesn't really matter what implementation is ported over since this would just be to get an experimental interface in place, as well as extensive tests that can be easily applied to different implementations. Mine would be really simple to port over so I don't mind taking this on (there

[2015-07-31 20:30] wasade commented on #46
Right,  I figured you'd have the interface in place quickly? Or do you only
want to do a slow educational one and delay a production one? Note, the
runtime between the classic unifrac algorithm and fast unifrac are
substantial
On Jul 31, 2015 2:11 PM, "Greg Caporaso" <notifications@github.com> wrote:

[2015-07-31 20:49] gregcaporaso commented on #46
Yep, I'll have the ([experimental](http://scikit-bio.org/docs/latest/user/api_stability.html#experimental)) interface and unit tests in next week. Once those are in, we can swap in whatever under the hood based on whichever implementation performs best. I was just going to take my IAB implementation since it already works with skbio so it'll be really quick to get in and we can use that as one of

[2015-07-31 20:52] wasade commented on #46
Yup, that was the plan

On Fri, Jul 31, 2015 at 2:49 PM, Greg Caporaso <notifications@github.com>
wrote:

[2015-07-31 20:56] gregcaporaso commented on #46
Awesome, more soon...

[2015-08-01 05:20] RNAer commented on #986
@gregcaporaso @ebolyen , after a second thought, I still strongly think that positional metadata is a bad idea. Take the following feature table from a genbank record as an example:
1) it will lose the info that the 5' end of the CDS is incomplete (as indicated by `<`)

2) I have to separate a feature into metadata (condon_start, product, protein_id, etc.) and positional metadata (location of the

[2015-08-01 05:25] RNAer commented on #986
and by the way, EMBL format use the same feature table in its record. So with feature class, we can easily write parser for EMBL file as well. a stone killing two birds?

[2015-08-01 14:44] ebolyen commented on #986
@RNAer Thanks, I'll check out your PR shortly. Talked about this briefly with @gregcaporaso and we think we can probably represent this by having a list of features in our `metadata` and part of each feature can link out to their respective column on `positional_metadata`. I don't know if it's best to just put a reference to the series, or the column name, but regardless this will allow slicing an

[2015-08-02 14:06] gregcaporaso commented on #986
I agree with this, and we can always revisit later if the existing infrastructure isn't working for what we want.

[2015-08-03 16:33] jairideout commented on #1012
Thanks for the update @kdmurray91! Would you be interested in contributing some simple install instructions to README.rst?

[2015-08-03 22:41] ebolyen opened #1024 "Parameterized Generators in IO"
Currently it is not possible to take advantage of automatic format sniffing for generators.

Our API requires that we write:

[code]

As `into` and `format` cannot both be `None`. (This is to prevent `seqs = skbio.io.read(some_file)` which obscures entirely what one could expect `seqs` to be.)

Suppose we had a mechanism to describe the subtype of the generator in `into`.

I propose something like

[2015-08-04 03:23] kdmurray91 commented on #1012
Sure, 0.4.0 was just uploaded to the NEW queue, so I'll write the install instructions into the readme once it hits Debian sid.

Cheers,
K

[2015-08-04 16:01] wasade opened #1025 "Support for alignments in Partial Order Graphs?"
See [Lee et al 2002](http://bioinformatics.oxfordjournals.org/content/18/3/452.short). This is the data structure that backs [SINA](http://www.arb-silva.de/aligner) and probably a few other aligners, and one that likely can form a basis for building other fun algorithms on. The conversion from an alignment to the PO-MSA is not that complex but I think the bigger questions are: is there interest, a

[2015-08-04 16:31] jairideout commented on #1012
Sounds good, thanks @kdmurray91!

[2015-08-04 17:30] ebolyen commented on #1025
This is **incredibly** pertinent to what we are working on right now. Thanks for linking! It is a possibility that we will use a POG-MSA representation internally as it is equivalent to the RC-MSA. @jairideout and myself are still combing through the paper, but it is a fantastic read so far!

[2015-08-04 18:32] RNAer commented on #986
right on. what do you think to represent features on rev complementary strand with `positional_metadata`?

[code]

[2015-08-04 18:41] wasade commented on #1025
Awesome! Totally just randomly came across it and really liked the data structure :)

[2015-08-04 23:15] ebolyen commented on #1025
Some more resources about this technique:
http://bioinformatics.oxfordjournals.org/content/20/10/1546.full.pdf+html
http://bioinformatics.oxfordjournals.org/content/19/8/999.full.pdf+html
http://simpsonlab.github.io/2015/05/01/understanding-poa/

[2015-08-04 23:20] ebolyen commented on #986
@RNAer I think that would be consistent with the partial starts/ends.

[2015-08-04 23:40] jairideout commented on #1024
What about having a keyword argument `stream=None` that can be passed a type (e.g., `DNA`) if the generator is parameterizable? This way, `into` is used to read the file *into* an object, while `stream` is used to stream the file. We could keep the current behavior of `into=None` for backwards compatibility.

[2015-08-04 23:42] wasade commented on #1025
This is great!! @jts, do you or your lab have interest in contributing here (or to scikit-bio in general)?

[2015-08-04 23:52] ebolyen commented on #1024
Spinning off of that, what about:
[code]

This would also have a potentially nice symmetry with any registrations and would be pretty painless to augment IO for:

[code]

[2015-08-04 23:53] jairideout commented on #1024
:+1:

[2015-08-04 23:58] wasade commented on #1024
Well... that's totally badass.

On Tue, Aug 4, 2015 at 5:53 PM, Jai Ram Rideout <notifications@github.com>
wrote:

[2015-08-05 00:17] genomematt opened #1026 "CALF format"
Just to add into the whole alignment format discussion.
This is a format proposed by Phil Green (UW Phred/Phrap/Consed).
Phil is a build it good and they will come type, so this has not been adopted widely, and I would not even know about it unless my office mate was a Cascadian.  Some of it has been cherry picked into other formats.
Its worth taking a look at because it has lots of thoughtful ide

[2015-08-05 16:45] ebolyen commented on #1026
Thanks @genomematt! We will look this over! Additionally, if you or anyone you know has any immediate need or interest in the CALF format being readable/writeable in scikit-bio we are always looking for pull requests! Just send me a ping if you need help getting started.

[2015-08-05 18:15] wasade commented on #828
Updating following our email conversation:

- [ ] `read(a_biom_file, into=biom.Table)` should produce a `biom.Table` object
- [ ] `write(a_table, format='biom-format-1.0.0', into=a_ascii_file)` should write a BIOM format v1.0.0 table (e.g., JSON)
- [ ] `write(a_table, format='biom-format-2.1.0', into=a_hdf5_file)` should write a BIOM format v2.1.0 table (e.g., HDF5)
- [ ] `Table.read` and `Table.w

[2015-08-05 18:57] ebolyen commented on #828
Include:
 - [ ] `read(file, into=xray.Dataset)`
 - [ ] `write(xray.Dataset, format='biom-format-2.1.0')`

[2015-08-07 18:25] #791 closed

[2015-08-07 18:45] ElDeveloper commented on #828
@ebolyen and @wasade, I'm sure you guys may have discussed at length but I wanted to check. With `xray.Dataset`s, how is metadata going to be handled?. All in all these seem like great additions!

[2015-08-07 19:30] ebolyen commented on #828
@ElDeveloper We haven't actually discussed that in any detail. I think `xray` gives an `attrs` property for metadata on a dimension, but I'm not sure how we would choose to use that specifically.

[2015-08-07 19:36] wasade commented on #828
Theres very little (ie none) on the metadata of an in memory biom table at
this point. That should probably be changed going forward as we don't find
out about metadata issues until write. So, ya, we haven't but should.
Another possibility are pandas tables per axis?
On Aug 7, 2015 12:30 PM, "Evan Bolyen" <notifications@github.com> wrote:

[2015-08-07 19:40] ebolyen commented on #828
Long-term that might a good solution, but it would force a composite object. Which is probably desirable to avoid until we know more about how this structure behaves and have had a chance to interact with it in non-trivial ways.

[2015-08-07 19:45] #1010 closed

[2015-08-07 20:10] #867 closed

[2015-08-07 20:32] jairideout commented on #1019
`skbio.io.format.phylip` docs also need updating, they indicate there isn't a PHYLIP reader.

[2015-08-07 20:39] ebolyen opened #1031 "Add `stream` keyword to IO registry"
Accepted Proposal: #1024

Users should be able to type:
[code]
and have the format of `file` inferred by scikit-bio.

Registration would mirror the keyword:
[code]

`None` would still be supported for backwards compatibility.

[2015-08-07 20:39] #1024 closed

[2015-08-07 20:40] #771 closed

[2015-08-07 20:40] jairideout commented on #832
Closing in favor of #1031.

[2015-08-07 20:40] #832 closed

[2015-08-07 21:00] #764 closed

[2015-08-07 21:59] #1020 closed

[2015-08-07 22:16] jairideout opened #1033 "validate API stability decorators with checklist.py"
Original comment in #461 from @gregcaporaso:

[2015-08-07 22:21] jairideout commented on #461
@gregcaporaso I created #1033 to track your latest request re: decorators. I'd like to close this "wishlist" issue once #1032 is merged (all of the other features in this issue are finished).

[2015-08-07 22:35] #461 closed

[2015-08-09 00:16] ElDeveloper opened #1034 "Cannot parse FASTA file into SequenceCollection of DNA sequences"
It seems that if you want to read a FASTA file into a `SequenceCollection` object of `DNA` objects, the only way is to read in using `SequenceCollection` and then casting all the sequences to `DNA` objects and store them in a different sequence collection.

[2015-08-09 00:24] jairideout opened #1035 "question about Kempton-Taylor Q statistic implementation"
The implementation of the Kempton-Taylor Q statistic (`skbio.diversity.alpha.kempton_taylor_q`) [here](https://github.com/biocore/scikit-bio/blob/master/skbio/diversity/alpha/_base.py#L410) is different from the equation in [SDR-IV](http://www.pisces-conservation.com/sdrhelp/index.html):

<img width="599" alt="screen shot 2015-08-08 at 4 57 31 pm" src="https://cloud.githubusercontent.com/assets/18

[2015-08-09 00:25] ElDeveloper opened #1036 "SequenceCollection's degap method will fail unless the underlying sequence objects are DNA"
The `degap` method will fail if you read in sequences and don't cast them explicitly to `DNA` objects:

[code]

[2015-08-09 01:04] wasade commented on #1034
Possible to provide a code sample?
On Aug 8, 2015 6:16 PM, "Yoshiki Vázquez Baeza" <notifications@github.com>
wrote:

[2015-08-09 01:58] ebolyen commented on #1034
Have you checked our docs for [FASTA](http://scikit-bio.org/docs/latest/generated/skbio.io.format.fasta.html#reader-specific-parameters)? :wink:
[code]

[2015-08-09 01:58] #1034 closed

[2015-08-09 13:20] ElDeveloper commented on #1034
Thanks, yeah that makes sense. The reason why I didn't find this is
because I was trying to use skbio.io.read, and then I was looking at
SequenceCollection.read; see the links below:

http://scikit-bio.org/docs/latest/generated/skbio.alignment.SequenceCollection.read.html#skbio.alignment.SequenceCollection.read

http://scikit-bio.org/docs/latest/io.html

Unless I missed something, there's no menti

[2015-08-10 16:15] jairideout commented on #1036
Thanks for reporting this @ElDeveloper! We are aware of the issue, this was introduced when stabilizing the `skbio.sequence` API. `SequenceCollection` and `Alignment` are next up for redesign so we'll be sure this gets resolved then.

[2015-08-10 16:23] jairideout commented on #1034
Each file format's readers and writers may define their own keyword arguments, this is why `skbio.io.read` (the most general way to read a file in scikit-bio) and `SequenceCollection.read` (supports many formats) don't list `constructor` in their docs. Instead, `constructor` is described in the FASTA format docs because it is a format-specific parameter.

[2015-08-10 16:38] jts commented on #1025
@ljdursi what do you think?

[2015-08-10 18:06] hanfang opened #1038 "I/O support for BED file formats"
Hi all,

I think scikit-bio can benefit from adding support for the BED files, as this file is one of the most used files in bioinformatics. I can implement this if people think it's worth it.

You can find descriptions of the BED format here: https://genome.ucsc.edu/FAQ/FAQformat.html#format1
There are in total 12 fields for this file, with nine of them being optional.

The first three required B

[2015-08-10 21:57] wasade commented on #1038
:+1:

@RNAer @ebolyen, I think this at least overlaps with #986

[2015-08-10 22:06] ebolyen commented on #1038
That sounds awesome @hanfang. How did you want to manipulate this data? From my brief glance at the format, it looks like something we would read into a `pandas.DataFrame`, does this sound right? Or were you considering something else? Are these files generally associated with a sequence file as well? We might be able to do something similar to what `FASTA` and `QUAL` do.

[2015-08-10 22:50] hanfang commented on #1038
I am thinking about `<pandas.DataFrame>`. BED files do not have to be associated with a sequence file. At the beginning, it was used for defining and visualizing tracks on [UCSC Genome Browser](https://genome.ucsc.edu/). Later people used it a lot for describing genomic intervals. Let me take a look at what you have done with `<FASA>`, `<QUAL>`. It is important to be consistent. Thanks guys!

[2015-08-11 17:15] ebolyen opened #1041 "Better error in the situation when a sequence has valid, but lowercase characters"
Currently it just complains that the letter isn't in the alphabet, but in practice there is a good chance that it is just lowercase. We should augment the error when this is the case so that it informs the user about the `lowercase` keyword. That way, they have an actionable path forward.

[2015-08-11 17:17] ebolyen commented on #1038
Sounds great, thanks @hanfang!

[2015-08-11 17:36] ebolyen commented on #1025
Just some updates as to our current thinking:

One of the really exciting advantages of a PO-MSA is that it doesn't have positions (by definition of a partial order), however the typical MSA that we are all used to does. This means that they must have different APIs or we would inflict the very same aliasing on the PO-MSA that it was trying to avoid in the first place.

This means we will probably

[2015-08-11 17:40] ebolyen commented on #1025
To clarify, the `PartialOrderMSA` isn't of immediate priority because our developer pool is so limited (so `TabularAlignment` would be made first), if @jts or his lab were interested in this specifically, we would love to collaborate on the API with them!

[2015-08-11 21:39] gregcaporaso opened #1042 "distance metrics should be usable as sklearn.neighbors.DistanceMetric objects"
We should ultimately support passing our distance metrics (e.g., unifrac) as [sklearn.neighbors.DistanceMetric](http://scikit-learn.org/stable/modules/generated/sklearn.neighbors.DistanceMetric.html) object, for use with (e.g.) nearest neighbor clustering. @justin212k is doing some work with these sklearn methods.

[2015-08-11 22:46] gregcaporaso opened #1044 "travis shouldn't build docs for py2.7, only py3.4"
This can cause failures when the docs need to run to generate output (e.g., when generating a plot to include in the docs). This is a problem on #1027.

[2015-08-12 15:54] #1044 closed

[2015-08-12 16:12] jairideout commented on #1042
I think this is already supported by scikit-learn and shouldn't require any changes on our end:

[code]

See the two answers in [this SO post](http://stackoverflow.com/questions/21052509/sklearn-knn-usage-with-a-user-defined-metric) for examples of using nearest neighbor clustering with custom distance metrics, including how to handle metrics that accept additional arguments (e.g., a tree).

@greg

[2015-08-12 16:48] #906 closed

[2015-08-12 17:17] gregcaporaso commented on #1042
That makes sense, thanks.

[2015-08-12 17:17] #1042 closed

[2015-08-12 19:31] jairideout opened #1047 "add __format__ support to I/O registry"
It'd be awesome to support Python's `format` protocol as an extension of I/O, such that it understands any scikit-bio file format defined for an object:

[code]

See [here](https://docs.python.org/3/library/functions.html#format) for details.

[2015-08-12 19:31] ebolyen commented on #1047
:+1:

[2015-08-12 21:24] ljdursi commented on #1025
I'm in @jts's lab, and this is something I've done some playing around with in Python - I'd certainly be willing to help think about the API and seeing if any of the code we've got might be a useful starting point.  It looks like you already have most of the pieces in place - the main difference will be that the POA doesn't vectorize as nicely.

[2015-08-13 14:14] gregcaporaso commented on #1047
:+1:

[2015-08-13 14:18] wasade commented on #1047
That's so clean

On Thu, Aug 13, 2015 at 8:14 AM, Greg Caporaso <notifications@github.com>
wrote:

[2015-08-13 15:23] jairideout opened #1048 "add __format__ support to I/O registry"
See #1047 for original API proposal.

The I/O registry should support Python's `format` protocol, such that it understands any file format defined for an object. For example:

[code]

See [here](https://docs.python.org/3/library/functions.html#format) for details.

[2015-08-13 15:23] #1047 closed

[2015-08-13 15:51] ebolyen commented on #1048
I've noticed a couple of details that we should probably work out:

In the case of `fastq`, when quality exists, we still need to provide a `variant` or `phred_offset`. This was never an issue for `write` because it can take arbitrary arguments, but `format` cannot.

We also have a couple of different kinds of errors we return which make sense in the context of `write` but may be overkill for `for

[2015-08-13 16:04] ebolyen commented on #1025
That would be amazing @ljdursi! We are currently working through `TabularMSA` right now. Then we will probably do `PairwiseAlignment` or `ReferenceAlignment`. If you would like to coordinate on the `PartialOrderMSA` API in parallel that would be pretty exciting, though we can't promise a lot of actual code development time on it for the immediate future. (You are of course free to submit PRs we ju

[2015-08-13 16:08] jairideout commented on #1048
`format` raises a `TypeError` if the return value is not `str`. Confirmed this happens in py3 when returning `bytes`. py2 doesn't raise an error when returning `unicode`, though I don't know if this is intentional or a bug. Probably safest to always return `str` (relative to the version of python its executed on).

[2015-08-13 16:10] ebolyen commented on #1048
@jairideout interesting, so then we would restrict this to text only formats

[2015-08-13 16:10] jairideout commented on #1048
Yes

[2015-08-13 17:37] JTFouquier commented on #874
:+1: !!

[2015-08-13 23:17] anderspitman opened #1049 "Remove duplication between setup.py and requirements.txt files"
We're currently maintaining 2 separate lists of requirements, one in `setup.py`, and the other in `ci/pip_requirements.txt` and `ci/conda_requirements.txt`. Most recently I came across this issue when `make test` failed because I didn't have `check-manifest` installed. This happened even after doing `pip install -e .` for scikit-bio. This was fixed by running `pip install -r ci/pip_requirements.tx

[2015-08-14 02:15] anderspitman opened #1050 "Activate webhooks for asv"
I've got a basic implementation working for automatically running asv for scikit-bio repo events (Pull requests, etc). See #517.

The code is here:
https://github.com/anderspitman/autobencher

It's running on powertrip. It's still quite rough, but I think I'm ready to start testing against the main repo.

Someone will need to create a webhook pointed at the following address:
http://powertrip.mgge

[2015-08-14 16:01] jairideout commented on #1049
@anderspitman `pip install -e .` didn't install `check-manifest` because it is an optional dependency that is only necessary for scikit-bio developers to have installed.

I agree the duplication is less than ideal but I think the `ci` requirements files are distinct from the requirements listed in setup.py. The `ci` requirements files list *all* dependencies (required and optional) necessary to fu

[2015-08-14 16:03] jairideout commented on #1049
Also see [this blog post](https://caremad.io/2013/07/setup-vs-requirement/) for a great explanation of the differences between setup.py and requirements files, and why some duplication is necessary.

[2015-08-14 16:35] jairideout commented on #1050
Webhook is set up!

[2015-08-14 17:10] #1050 closed

[2015-08-14 17:15] anderspitman commented on #1049
:+1: definitely more semantics here than I realized!

[2015-08-14 17:15] #1049 closed

[2015-08-14 17:22] anderspitman commented on #517
asv is now up and running! We're currently developing the following project which automatically runs asv based on certain Github webhooks events (ie pull requests):

https://github.com/anderspitman/autobencher

This is still in the very early stages but is looking promising so far.

[2015-08-14 17:28] jairideout commented on #517
Awesome, thanks for getting this up and running @anderspitman! Closing since we have a working prototype and the `autobencher` repo is tracking remaining to-do items.

[2015-08-14 17:28] #517 closed

[2015-08-14 21:02] ebolyen opened #1052 "Add `reverse_transcribe` to `RNA`"
It is missing.

[2015-08-14 22:20] ebolyen opened #1053 "RFC: tabular-msa"
Please send all discussion to:
https://github.com/biocore/scikit-bio-rfcs/pull/1

Depending on the resolution of the RFC, this issue will be updated to organize the work that needs to be done.

[2015-08-15 05:16] mortonjt opened #1054 "Adding ANCOM to `skbio.stats.composition`"
I've been discussing with @wdwvt1 and @rob-knight offline about implementing [ANCOM](http://www.ncbi.nlm.nih.gov/pubmed/26028277) in qiime/skbio.

ANCOM is another differential abundance detection method.  In addition to the benchmarks in the paper, I've constructed a few benchmarks on ANCOM myself, and it completely kills Mann-Whitney and t-test for detecting differences in species abundances acr

[2015-08-16 00:00] wasade opened #1055 "BIOM support in scikit-bio"
Stubbing out the minimal to-dos

- [ ] `read(a_biom_file, into=biom.Table)` should produce a `biom.Table` object
- [ ] `write(a_table, format='biom', into=a_ascii_file)` should write a BIOM format v1.0.0 table
- [ ] `write(a_table, format='biom', into=a_hdf5_file)` should write a BIOM format v2.1.0 table
- [ ] `Table.read` and `Table.write` should work as expected

[2015-08-16 00:01] wasade commented on #1055
Sorry, duplicate.

[2015-08-16 00:01] #1055 closed

[2015-08-16 00:02] wasade commented on #828
biom-format v1.0.0 is ascii, while biom-format v2.1.0 is binary. `create_format` supports the encoding type, but I don't believe it supports both binary and ascii at the same time. One strategy would be to have two formats, but wasn't sure if that was the best way to proceed here.

[2015-08-17 16:01] ebolyen commented on #828
@wasade We would need two formats anyhow as the sniffers should be independent. Then resolving the version is actually the same as figuring out what format it is in the first place. We don't have any real precedent for naming the format with a version, so anything sensible should work.

Also I'm not even sure how the registry *could* support both kinds of files for the same format, they are differ

[2015-08-17 16:06] wasade commented on #828
I guess I'm not sure how to resolve the ambiguity of `table.write(fh)`, is that biom-format-2.1.0, biom-format-1.0.0, or is dependent on the type of `fh`? Reading in I think is fine by just having multiple formats, but the writing is where I'm still unsure on as `Table` has two different ascii representations and a binary one.

[2015-08-17 16:09] ebolyen commented on #828
I think I might be misunderstanding the problem.

Those formats would all be bound to the format name. So someone would say:
``skbio.io.write(table, into=fh, format='biom-format-2.1.0')`` or whichever one they wanted.

[2015-08-17 16:10] wasade commented on #828
Ah, okay. So it would `raise` if `fh` was incompatible with the requested format?

[2015-08-17 16:11] ebolyen commented on #828
yes, the registry enforces the constraints you place on it. So it won't work if you give it an incompatible file source.

[2015-08-17 20:09] anderspitman opened #1059 "Add asv benchmarks"
asv benchmarks should live in the repo being benchmarked, not in autobencher. See
https://github.com/anderspitman/autobencher/issues/9

[2015-08-17 22:03] #1052 closed

[2015-08-17 22:29] gregcaporaso commented on #517
This is great news, thanks @anderspitman!

[2015-08-18 13:02] ekopylova opened #1060 "returning a tree string in Newick format without distances"
Currently, I have the following setup:

`gene_tree = read(gene_tree_fp, format='newick', into=TreeNode)`

What I would like to do now is return the Newick string representation of the gene_tree but without the distances. In 0.2.0 this seemed straight-forward to do,

`gene_tree_str = gene_tree.to_newick(with_distances=False)`

However, I can't find an equivalent for 0.4.0 ([doc](http://scikit-bio.o

[2015-08-18 17:53] ebolyen commented on #1054
@mortonjt I think this is the perfect kind of statistic to have in scikit-bio! Could you update your post to reflect exactly what and where this will be added? (I'm assuming this is really just a single function somewhere). If it is a little beefier than that, we also have a poorly described (at this time) RFC process: https://github.com/biocore/scikit-bio-rfcs. But I think that is probably overki

[2015-08-18 18:00] ebolyen commented on #1060
It looks like that kwarg did not make it into the new format reader.
To solve your problem immediately, you can iterate over the tree and set all of the distances to `None`.

But this does raise a more general question:
There are 8 "standard"  [permutations of newick](https://en.wikipedia.org/wiki/Newick_format#Examples). Would we want some mechanism to "downcast" to these (in this example, from 6

[2015-08-18 19:16] ekopylova commented on #1060
Thanks @ebolyen, I will use your solution for now!

[2015-08-18 20:29] jairideout commented on #46
Fixed in #1027.

[2015-08-18 20:29] jairideout commented on #820
Fixed in #1027.

[2015-08-18 20:29] #820 closed

[2015-08-18 20:32] wasade commented on #46
The title of this issue implies it should still be open re: #1040?

[2015-08-18 20:36] jairideout commented on #46
Good catch!

[2015-08-18 20:37] gregcaporaso commented on #1060
I think we might want to support all of these at some point in the future. ete supports multiple (or all) of these with their parser (see [docs here](http://etetoolkit.org/docs/latest/reference/reference_tree.html#ete2.TreeNode)).

[2015-08-18 20:48] jairideout opened #1061 "fix broken scikit-bio install"
Trying to install from latest master:

[code]

I'll work on a fix.

[2015-08-18 20:50] jairideout commented on #1061
Also figure out why Travis didn't fail in #1027 where this change was introduced.

[2015-08-18 21:55] gregcaporaso opened #1063 "improvements to phylogenetic diversity metrics"
These issues came up in the context of #1027:

- [ ] port original UniFrac web docs
- [ ] explore alternative weighting schemes (see @rob-knight's comment [here](https://github.com/biocore/scikit-bio/pull/1027/files#r36536782))
- [ ] phylogenetic metrics should be generalized to DAGs (we had some offline discussion on this, and @wasade did some prototyping [here](https://github.com/wasade/yummy-oc

[2015-08-18 23:30] #1061 closed

[2015-08-18 23:36] jairideout commented on #1063
- [ ] merge `skbio.diversity._base._validate_counts_vector` and `_validate_counts_vectors` into a single function `_validate_counts`

[2015-08-19 03:51] rob-knight commented on #1063
Not OTU, can use with raw seqs, genomes etc.

On Aug 18, 2015, at 2:55 PM, Greg Caporaso <notifications@github.com> wrote:

These issues came up in the context of #1027
<https://github.com/biocore/scikit-bio/pull/1027>:

   - port original UniFrac web docs
   - explore alternative weighting schemes (see @rob-knight
   <https://github.com/rob-knight>'s comment here
   <https://github.com/biocore/sc

[2015-08-19 13:32] gregcaporaso commented on #1063
- [ ] review the errors and reasons for errors in the tests of the ``_validate*`` functions, and expand the ``Raises`` list in the doc strings. There are a few possible errors missing.

[2015-08-19 19:22] #1059 closed

[2015-08-19 20:39] mattfullerton commented on #702
For those wanting to play around with a source tree that does actually compile (pip install -e <folderpath>, you can find one here: https://github.com/mattfullerton/scikit-bio/commit/731b133db87867e4f2ca09e787991ca1fb194d30

I had to do a lot of deciphering here and in #780 to figure out what actually needs changing (that pull request in and of itself does not fix the compiling problem). I have no

[2015-08-19 20:48] ebolyen commented on #702
Oops! Trying to comment. Thanks for the exploration @mattfullerton! This is really cool. Does anyone have access to a i686 machine to make sure that this doesn't also break that build?

[2015-08-19 21:15] anderspitman commented on #702
We discussed setting up a windows VM on powertrip a while back, but that sort of got pushed to the side. I can open an issue for that if it's still desirable.

[2015-08-19 21:22] ebolyen commented on #702
:+1: I think we do need something like that if we are ever going to really fix this.

[2015-08-19 21:25] jairideout commented on #702
:+1:

[2015-08-19 21:32] anderspitman opened #1066 "Set up a Windows VM"
probably on powertrip.mggen.nau.edu

[2015-08-19 22:03] squirrelo opened #1067 "Check code complexity using flake8 and travis"
flake8 has built in code complexity checks using the flag `--max-complexity`. Running with max-complexity 10, we get (as an example)
[code]

If we integrate this into the current flake8 checks in travis, we can also make sure overly-complex code is flagged on pull-request and doesn't propagate into the codebase.

[2015-08-19 22:13] jairideout commented on #1066
:+1:

[2015-08-19 22:19] jairideout commented on #1067
:+1:

[2015-08-19 22:24] colinbrislawn opened #1068 "Add Pielou's evenness as an alpha diversity metric"
There is a cool alpha diversity metric of evenness which is based on Shannon entropy. I know this metric as ['Pielou's evenness'](https://en.wikipedia.org/wiki/Species_evenness).

Similar metrics are already included in scikit-bio these include [equitability](https://github.com/biocore/scikit-bio/blob/master/skbio/diversity/alpha/_base.py#L207), [Heip's evenness](https://github.com/biocore/scikit-

[2015-08-19 23:00] jairideout commented on #1068
:+1: this would be great! Are you interested in contributing this function to scikit-bio?

[2015-08-19 23:12] colinbrislawn commented on #1068
Yes, I am! I may stumble through some of this process like unit testing,
but I'll give it a shot.

Colin

On Wed, Aug 19, 2015, 4:00 PM Jai Ram Rideout <notifications@github.com>
wrote:

[2015-08-20 15:33] ebolyen commented on #1068
Awesome @colinbrislawn, feel free to send us a ping if you get stuck or need help!

[2015-08-21 01:09] colinbrislawn commented on #1068
First try!

How do you updated documentation on `gh-pages`? I included inline documentation, but was not sure how to test it or see if I formatted it correctly.

[2015-08-21 13:47] gregcaporaso commented on #1068
@colinbrislawn, the docs in gh-pages aren't something that you'd update yourself, we do that at build time. You can build the docs locally to confirm that they're rendering correctly by changing into the ``docs/`` directory, and running ``make html``. This will create a local version of the documentation, and you can navigate to the alpha diversity docs and confirm that everything looks right. You

[2015-08-21 17:34] jairideout commented on #1068
Awesome, thanks for working on this @colinbrislawn! In addition to the scikit-bio doc README that @gregcaporaso linked, our [CONTRIBUTING.md](https://github.com/biocore/scikit-bio/blob/master/CONTRIBUTING.md) guide should be helpful in getting started with scikit-bio contributions.

[2015-08-21 18:27] colinbrislawn commented on #1068
@jairideout I've been making great use of [CONTRIBUTING.md](https://github.com/biocore/scikit-bio/blob/master/CONTRIBUTING.md). It's very well written.

@gregcaporaso I'll try using `make html` now. I know how finicky markup can be, and wanted to see it to believe it.

[2015-08-24 16:31] ebolyen opened #1071 "Deprecate `nondegenerate_chars` in favor of a better name."
Using `nondegenerate` was probably a mistake. It is hard to talk about (I know I have mixed myself up a couple of times) and it almost implies the inverse of `degenerate` which isn't really the intention. Fortunately, it shouldn't be too painful to deprecate and gives us a chance to exercise that process.

`standard` might be a better description. So to kick off the conversation, I propose we depr

[2015-08-24 17:57] ebolyen commented on #1071
For context, @jairideout and I were discussing this offline last Friday.

[2015-08-24 22:37] #1068 closed

[2015-08-24 22:58] colinbrislawn commented on #1041
Where is this error thrown? In here:
https://github.com/biocore/scikit-bio/blob/master/skbio/sequence/_sequence.py

[2015-08-24 22:59] ebolyen commented on #1041
@colinbrislawn It is actually in this file:
https://github.com/biocore/scikit-bio/blob/master/skbio/sequence/_iupac_sequence.py#L194

[2015-08-24 23:08] ebolyen commented on #1041
The sequence objects are a little tricky because they are backed by `ndarrays` instead of strings, which let's us do a lot of fancy stuff really fast. Feel free to ping us if you are interested in this and need help at any point! (I'm happy to guide you through how the sequence objects generally operate as well)

[2015-08-25 00:37] colinbrislawn commented on #1041
Note to self: here is how to create this error message.

[code]

Get error message: `Protein('paW')`
Suppress error message: `Protein('paW', lowercase=True)`

[2015-08-25 19:58] jairideout commented on #1071
How about describing the nondegenerate characters as "regular"? "standard" implies the standard IUPAC characters, while this API may apply to an entirely different alphabet in the future.

So the API would become:

- `nondegenerate_chars` -> `regular_chars`
- `has_nondegenerates()` -> `has_regulars()`
- `nondegenerates()` -> `regulars()`

[2015-08-25 20:01] ebolyen commented on #1071
:+1:

[2015-08-25 20:14] jairideout opened #1073 "improve performance of DNA/RNA/Protein repr"
The `repr` for `DNA`, `RNA`, and `Protein` is slow for really large sequences because a few linear passes are made through the sequence to compute stats (gaps, degenerates, nondegenerates, GC-content, etc.). The performance could be improved by memoizing a bincount of the sequence, whenever a bincount is first required by the user. Typically this will happen in the constructor unless `validate=Fal

[2015-08-25 20:44] jairideout opened #1074 "add Sequence method to compute character frequencies"
It would be useful to have a way of computing the frequencies of characters (or a subset of characters) in a sequence. Currently the way to do this is `seq.kmer_frequencies(k=1)`, which handles the frequencies of characters present in the sequence but does not support a subset of characters.

It could also be useful to have this functionality on `Sequence` because iterating over positions in an al

[2015-08-25 20:49] gregcaporaso commented on #1074
+1

[2015-08-25 20:54] jairideout opened #1075 "add Sequence method to return set of observed characters"
@ebolyen and I propose adding the method `Sequence.observed_chars()`, which returns the `set` of characters observed in the sequence.

This seems like a useful piece of the sequence API as it mirrors class methods describing the alphabet such as `gap_chars`, `degenerate_chars`, etc. The set of observed characters can then be referenced or composed with other pieces of the sequence API, such as `Se

[2015-08-25 21:05] ebolyen commented on #1074
:+1:

[2015-08-25 21:05] ebolyen commented on #1075
:+1:

[2015-08-25 21:14] jairideout opened #1076 "make it clear to users that Sequence is generic/non-biological"
It isn't clear to users that `Sequence` is intended to be a generic, non-biological sequence of characters. This is an important distinction because users should be using `DNA`, `RNA`, or `Protein` whenever possible; these classes provide validation against an alphabet and type-specific operations such as transcription and translation that `Sequence` does not. As the scikit-bio API evolves to acco

[2015-08-25 21:40] gregcaporaso commented on #1075
:+1:

[2015-08-26 16:52] johnchase opened #1077 "`root_at_midpoint` methods fails on certain `TreeNode` objects"
[code]

Fails with:

```TypeError: unorderable types: TreeNode() > TreeNode()```

I apologize, I am not able to reproduce this error with a smaller tree object, as I don't entirely understand the issue. @wasade I think you may understand what is specifically happening here?

[2015-08-26 16:59] wasade commented on #1077
The following will recreate it. The issue arises if two paths have an identical distance which causes `max` to evaluate `item[1]` to resolve the "max".

[code]

To highlight the specific issue independent of `TreeNode`:

[code]

[2015-08-26 18:18] ebolyen opened #1078 "Investigate improving `pandas.SparseSeries` and friends."
These would be very useful in the context of `positional_metadata`, but they aren't completely well behaved yet.

[2015-08-26 18:58] jairideout commented on #1078
:+1:

[2015-08-26 19:56] JWDebelius opened #1079 "Extend Power without statsmodels"
The current implementation of power does not allow extending power beyond the available counts without using statsmodels.

I've found a more reliable, light way way to extend power beyond the available values without relying on statsmodels. It removes some of the issues I saw in Statsmodels, and worked well for a set of known distributions.

I know we're in beta, but is this a feature worth adding

[2015-08-26 20:16] Jorge-C commented on #1066
It might not be necessary to set up our own VM, appveyor is like travis-ci but for windows, supports both 32 and 64 bits and there's an example project set up for py2&3 [here](https://github.com/ogrisel/python-appveyor-demo). Scikit-learn is currently using it besides travis-ci.

[2015-08-26 20:33] ebolyen commented on #1066
That's awesome! :+1:

[2015-08-26 20:37] ebolyen commented on #1077
Are there any common (hopefully published) ways to break the tie?

[2015-08-28 20:49] ebolyen opened #1081 "`TabularMSA`: constructor"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `TabularMSA(iterable, key=None)`

   Construct a `TabularMSA` from an iterable of `IUPACSequence` objects.
   `key` is a callable or a lookup key in `IUPACSequence.metadata`. When
   `key=None` the MSA will not have any keys and certain properties may not
   be defined and will raise exceptions.

[2015-08-28 20:51] ebolyen opened #1082 "`TabularMSA`: from_dict/to_dict"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `from_dict(dict)`

   Return a new TabularMSA from the keys and sequences of a dict. The values
   must all be an appropriate `IUPACSequence` class of the same length.

- `to_dict() -> dict`

   Returns a dictionary that maps the keys of the MSA to the aligned sequences.

[2015-08-28 20:52] ebolyen opened #1083 "`TabularMSA`: dtype property"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `dtype -> IUPACSequence`

   Type of sequence stored (e.g., `DNA`)

[2015-08-28 20:53] jairideout opened #1084 "`TabularMSA`: reindex"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `reindex(key=None) -> None`

   Assign new keys to sequences in the alignment. `key` matches constructor.

[2015-08-28 20:53] ebolyen opened #1085 "`TabularMSA`: shape property"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `shape -> Shape(int, int)`

   Implemented as a namedtuple: `namedtuple('Shape', ['sequence', 'position'])`
   Named tuple storing number of rows (sequences) and columns (positions)

[2015-08-28 20:54] ebolyen opened #1086 "`TabularMSA`: loc indexer property"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `loc -> indexer`

   Allows indexing via keys (like pandas). Will raise exception if used when
   the MSA has no keys.

[2015-08-28 20:54] jairideout opened #1087 "`TabularMSA`: conservation"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `conservation(string | function) -> np.ndarray`

   Return vector of positional conservation scores based on some stat from
   `skbio.alignment.stats`. For example, one possible conservation score is
   Shannon entropy.

[2015-08-28 20:55] ebolyen opened #1088 "`TabularMSA`: iloc indexer property"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `iloc -> indexer`

   Allows indexing via indices (like pandas)

[2015-08-28 20:55] jairideout opened #1089 "`TabularMSA`: gap_frequencies"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `gap_frequencies(axis='position', relative=False) -> np.ndarray`

   Return vector of gap frequencies along an axis.

[2015-08-28 20:55] ebolyen opened #1090 "`TabularMSA`: metadata property"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `metadata -> dict`

   Arbitrary metadata that applies to the alignment as a whole.

[2015-08-28 20:56] jairideout opened #1091 "`TabularMSA`: consensus"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `consensus() -> IUPACSequence`

   Return majority consensus sequence matching alignment's `dtype`. Other
   types of consensus may be added later.

[2015-08-28 20:56] ebolyen opened #1092 "`TabularMSA`: positional_metadata property"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `positional_metadata -> pd.DataFrame`

   Arbitrary metadata that applies to the positions of the alignment as a
   whole.

[2015-08-28 20:56] jairideout opened #1093 "`TabularMSA`: join"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `join(TabularMSA, how='strict') -> TabularMSA`

   Joins two `TabularMSA` by sequence (horizontally). `how` may be
   `'strict'`, in which case both MSAs must have the same keys (or be the same
   length if there are no keys). `how` may also be one of the common SQL joins:
   `'inner'`, `'outer'`, `'le

[2015-08-28 20:57] ebolyen opened #1094 "`TabularMSA`: keys property"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `keys -> np.ndarray`

   Vector of keys in the order of the MSA. Will raise exception if used when
   the MSA has no keys.

[2015-08-28 20:57] jairideout opened #1095 "`TabularMSA`: sort"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `sort(key=None, reverse=False) -> None`

   Sort sequences in-place. If `key=None` the existing keys will be used to
   sort. Otherwise `key` matches the constructor. If there are no keys for the
   MSA and `key=None`, an exception should be raised.

[2015-08-28 20:58] ebolyen opened #1096 "`TabularMSA`: __nonzero__/__bool__"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `__nonzero__() -> bool`

   Return `False` if the MSA has no sequences OR if all sequences are empty.

[2015-08-28 20:58] jairideout opened #1097 "`TabularMSA`: extend"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `extend(iterable | TabularMSA) -> None`

   Add sequences to the end of the alignment. Each sequence must be the same
   `dtype` and length must match second dimension. It should be documented
   that this operation, if successful, is not necessarily meaningful.

[2015-08-28 20:59] jairideout opened #1098 "`TabularMSA`: append"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `append(IUPACSequence) -> None`

   Add a sequence to the end of the alignment. Must be the same `dtype` and
   length must match second dimension. It should be documented that this
   operation, if successful, is not necessarily meaningful.

[2015-08-28 20:59] ebolyen opened #1099 "`TabularMSA`: __len__"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `__len__() -> int`

   Return number of sequences in MSA. This is equivalent to `aln.shape[0]`

[2015-08-28 21:00] jairideout opened #1100 "`TabularMSA`: iter_positions"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `iter_positions(reverse=False) -> iterator`

   Iterator of *exactly* `Sequence` objects in the order of positions in the
   alignment. If `reverse=True`, yields positions in reverse order.

[2015-08-28 21:00] ebolyen opened #1101 "`TabularMSA`: __iter__/__reversed__"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `__iter__() -> iterator`

   Iterator of `IUPACSequence` objects in the order specified by `aln.keys`

- `__reversed__() -> iterator`

   Iterator of `IUPACSequence` objects in reverse order of `aln.keys`

[2015-08-28 21:01] ebolyen opened #1102 "`TabularMSA`: __getitem__"
From [RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/001-tabular-msa.md):

- `__getitem__(indexer) -> TabularMSA | Sequence`

   Accepts 1 or 2 axes separated by a comma. The rules for axes are applied
   from left to right. The least significant axis can only restrict the type
   returned, it cannot take what would have been `DNA` and return a
   `TabularMSA`. This restriction

[2015-08-28 22:02] ElDeveloper opened #1103 "Improve error message in PY2"
[code]

[2015-08-28 22:04] ElDeveloper commented on #1103
Submitted before I finished describing the issue:

This error is commonly found among PY2 users as the documentation examples are PY3K-only, if the error message can be improved that would be awesome.

To fix this problem, just prepend a `u` to the string passed into `StringIO`.

[2015-08-31 20:19] colinbrislawn commented on #1041
@ebolyen @jairideout

Any suggestions on error message text? The current error is
[code]

Perhaps:
[code]

[2015-09-01 16:35] jairideout commented on #1041
@colinbrislawn this looks good! Minor suggestion: I would use single backticks instead of quotes for consistency with other scikit-bio error messages:

[code]

[2015-09-02 00:59] mortonjt opened #1105 "Can't have np.nan in DistanceMatrix"
I was trying to add missing data handling to `_regression.py` and noticed that
[code]

Right now, it is impossible to have `np.nan` a DistanceMatrix, since it messes up `DistanceMatrix._validate()`.  If your matrix has a `np.nan`, your `data.T != data` is _always_ true.

It would nice to allow `np.nan` to be incorporated into `DistanceMatrix`.  It can pave the road for more clever missing value im

[2015-09-02 15:59] jairideout commented on #1105
:+1: We should tackle this when redesigning `DistanceMatrix` to bring it to a stable API

[2015-09-02 16:02] #1074 closed

[2015-09-02 16:02] #1075 closed

[2015-09-02 17:49] ebolyen opened #1106 "Switch `__nonzero__` to `__bool__` in Sequence and then alias `__nonzero__` to `__bool__`"
We should be preferring the Python 3 way of doing truthiness. The missing alias isn't a "problem" for Python 3 because it will check `__len__` which happens to work for `Sequence`, but it would be better to not be accidentally successful.

[code]
becomes:
[code]

[2015-09-03 16:53] #1041 closed

[2015-09-03 17:27] mortonjt opened #1108 "Adding optional identifiers to DistanceMatrix"
I'm beginning this problem to crop up in multiple places where I'm finding myself doing a substantial amount of book-keep to keep track of which DistanceMatrix corresponds to which variable (i.e. age or sex)

It may be a good idea to consider adding in an optional string identifier in the DistanceMatrix / DissimiliarityMatrix constructor so that one doesn't have to additional book-keeping to ident

[2015-09-03 17:51] mortonjt commented on #1108
Probably should clarify.

An example where this problem blows up is when you are dealing with categorical distance matrices.
When you have categorical metadata variable and you want to generate a distance matrix from it, you actually need to generate multiple distance matrices.

For example, say that there is a metadata variable `sex` that has 3 categories `male`, `female` and `other`.  3 more bin

[2015-09-03 23:14] #1106 closed

[2015-09-03 23:39] jairideout opened #1110 "add tabular BLAST format readers and sniffer"
@gregcaporaso @ebolyen and I discussed the following API for reading tabular BLAST formats in scikit-bio:

Define two formats, `blast+6` and `blast+7`, which can be read into `pandas.DataFrame` objects.

### `blast+6`
`blast+6` is BLAST+ output format 6, which is equivalent to BLAST output format 8. Since this format can be any permutation of output columns and there is no header, this format will

[2015-09-03 23:40] jairideout commented on #899
Closing in favor of #1110.

[2015-09-03 23:40] #899 closed

[2015-09-04 16:26] jairideout commented on #1108
:+1:

Another example of where this would be useful is `pwmantel` and `mrm` (#1104), which have an optional `labels` parameter for labeling distance matrices in the results.

We could solve this more generally by supporting arbitrary `metadata` on `DistanceMatrix`, similar to scikit-bio's sequence classes and (soon to be) `TabularMSA`. Then functions that need to name/label distance matrices can l

[2015-09-04 16:53] ebolyen opened #1111 "Allow `skbio.util._misc.resolve_key` to take an iterable"
This will allow `DistanceMatrix.from_iterable` to have keys be an iterable instead of just a lookup key, or function. This will also help out `TabularMSA`.

Note:
We should exclude strings as being considered iterable, if that behavior is desire, the user would need to pass `iter(string)` instead of `string` to keep it from being considered a lookup key.

[2015-09-04 16:59] jairideout commented on #1111
:+1:

[2015-09-04 17:15] ebolyen commented on #1111
So it turns out resolve_key is not a good place for this, instead `from_iterable`, `TabularMSA()`, and `reindex` should probably accept both `key` and `keys`. Where `keys` embodies the new functionality. This also improves the semantics of `TabularMSA.sort` where an iterable as `key` does not make any sense.

Having both also prevent any ambiguity about resolving a string (which is iterable).

[2015-09-04 17:15] #1111 closed

[2015-09-04 18:37] mortonjt commented on #1108
That seems like a very reasonable solution.

[2015-09-08 20:08] mortonjt opened #1117 "Adding metadata in skbio.TreeNode"
This is related to the discussion in #1108

Noticed that the same problem of dealing with metadata also shows up in `skbio.TreeNode`
It would super awesome if there is a way to assign metadata in the same fashion as the `skbio.SequenceCollection`

[2015-09-08 20:12] ebolyen commented on #1117
:+1: This would also allow us to support the [`NHX`](http://home.cc.umanitoba.ca/~psgendb/doc/atv/NHX.pdf) format for interoperability with `ete`.

[2015-09-08 21:24] #1081 closed

[2015-09-08 21:24] #1083 closed

[2015-09-08 21:24] #1084 closed

[2015-09-08 21:24] #1085 closed

[2015-09-08 21:24] #1094 closed

[2015-09-08 21:24] #1096 closed

[2015-09-08 21:24] #1099 closed

[2015-09-08 21:24] #1101 closed

[2015-09-09 12:17] mortonjt opened #1118 "Adding in correlation metrics"
I'm thinking about adding in [Lovell's Proportionality](http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004075) metric into `skbio.stats.composition`.

Basically, it's an awesome correlation metric suited for relative abundance data - and pretty much kills other correlation metrics such as Pearson and Spearman.

If you guys think this is a suitable addition for `skbio`, the

[2015-09-09 16:40] ebolyen commented on #1118
That's a cool paper! :+1: for implementing. Granted it would be ideal if this was in `statsmodels`, but given that this correlation metric was designed in the context of bioinformatics, I think it has a place here.

I think it would be good to work out what we call this functions in this issue.

Would we call the propertionality metric: `lovell_proportionality` for example?

[2015-09-09 16:58] jairideout commented on #1118
This looks really interesting! I agree scikit-bio is a good home for this, and since it is such a new metric a Python implementation probably doesn't exist yet.

:+1: for `lovell_proportionality`.

[2015-09-09 17:08] ElDeveloper commented on #1118
Sad sad world we live in, seems like the publication is accompanied by R code only `:L`

[2015-09-09 17:58] ebolyen commented on #1102
@jairideout and I have discussed that we may need to change the semantics here a little:

`TabularMSA.keys` is an `ndarray`; unfortunately `asarray` will do it's best to make an array monomorphic before giving up and using an `object` dtype. This means that very often mixed types will be unified in unexpected ways. To avoid this we can make `TabularMSA.keys` always have an `object` dtype which wil