[2015-09-09 18:03] jairideout commented on #1102
:+1:

[2015-09-09 23:21] mortonjt commented on #1118
I like `lovell_proportionality`!

Note that there are actually two different proportionality metrics

1. Measure of positive proportionality (the author's preferred metric)
2. Measure of positive/negative proportionality

So I'm thinking about having this function formatted something like
`lovell_proportionality(x, two_sided=True)`
Where if `two_sided=True`, then it'll test for both positive and n

[2015-09-10 17:10] ebolyen commented on #661
Our docs work again on the current master of Sphinx. This was a regression that was fixed in https://github.com/sphinx-doc/sphinx/pull/1892. So whenever `1.3.2` lands we will be in good shape!

Alternatively, we are starting to heavily modify the `autosummary` extension, so just writing our own extension would also fix this (and give us more power to fix future regressions).

[2015-09-10 17:22] jairideout commented on #1118
`two_sided` sounds like an alternative hypothesis to me (e.g., see `mantel`'s `alternative` parameter, which accepts `'two-sided'`, `'greater'`, or `'less'`). Is this a similar concept or is it a different test statistic that ranges from -1 to +1 instead of 0 to +1? I'm assuming this is the equation described in section "Alternative measures of proportionality".

It may be better to first implemen

[2015-09-10 17:29] mortonjt commented on #1118
:+1: That sounds like a plan to me.  We can implement the author's preferred metric and perhaps add in the alternative metric in later.  Probably will want to have that extra parameter though and perhaps raise a `NotImplementedError`.  One thing to note is that there is no published hypothesis test with this proportionality metric yet - that is still active research as far as I know.

Yeah, its a

[2015-09-10 17:35] ebolyen commented on #1118
@mortonjt We can add the extra parameter later if needed, that would be a non-breaking change.

[2015-09-10 17:39] jairideout commented on #1118
Thanks for the info regarding the test statistic range. Since this is an entirely different test statistic (with different interpretation) do you think it would be better to have a separate function instead of a parameter? (in the future of course) This would be similar to how there are two functions for Pearson and Spearman correlation.

[2015-09-10 17:43] mortonjt commented on #1118
Having a separate function for the other statistic is definitely a possibility.  I'm just not sure what to call it haha

[2015-09-10 17:46] jairideout commented on #1079
Is it possible to make these improvements in statsmodels itself? That way the statsmodels and scikit-bio communities can both benefit from these changes.

[2015-09-10 18:16] jairideout commented on #1118
Yeah I'm not able to think of a good name either... The preferred statistic measures "goodness-of-fit to proportionality" while the alternative is a "proportionality correlation coefficient". @ebolyen any ideas?

[2015-09-10 18:56] JWDebelius commented on #1079
AFAIK, Statsmodels is not a dependency of scikit-bio, and so leaving them out means not including the ability to extrapolate power beyond the effect size being presented. Id like to add that functionality, if not through this, then by wrapping statsmodels.

I'm not sure Statsmodels would want this implementation, because it goes a different direction that what they've used. The approach there has

[2015-09-10 21:04] anderspitman opened #1119 "Create GitHub page for hosting benchmark results"
@scikitten-bio will need push privileges

[2015-09-11 10:29] dansondergaard opened #1122 "Sampling/shuffling sequences from a SequenceCollection or Alignment"
Hi,

This is just a request for an early code review. I have not yet been able to actually run the tests since I'm unable to install scikit-bio with my changes in a conda environment (complaints about freetype missing). Any suggestions as how to accomplish this will be greatly appreciated ;)

I have implemented sampling of sequences from a `SequenceCollection` or `Alignment`. This is especially ni

[2015-09-11 16:56] jairideout commented on #1119
Is this going under gh-pages for this repo?

[2015-09-11 17:14] anderspitman commented on #1119
Isn't that where scikit-bio.org is currently hosted? You thinking maybe make it a subpage?

[2015-09-11 17:15] anderspitman commented on #1097
This can be implemented in terms of `append`. I can take it.

[2015-09-11 17:26] jairideout commented on #1119
Yep that's where scikit-bio.org is hosted. I think a subpage makes sense. Just sent @scikitten-bio an invite to the organization and push team.

[2015-09-11 18:07] anderspitman commented on #1097
If a `TabularMSA` is provided, do we want to bring additional data along with the sequences, ie keys, etc?

[2015-09-11 19:39] jairideout commented on #1122
Thanks for your interest in contributing this functionality to scikit-bio!

Re: install issues, I'm guessing the freetype complaint is happening when installing matplotlib. Have you tried installing matplotlib with conda? `conda install matplotlib`

Here's how I set up a development environment for scikit-bio (we'll update our contributing guide at some point to include conda-specific instructions

[2015-09-11 19:43] anderspitman opened #1124 "Update CONTRIBUTING.md to use requirements files for conda and pip"
Been meaning to do this for a while. Makes it easier and quicker to set up a development environment.

[2015-09-11 19:43] anderspitman commented on #1122
:+1: I've been meaning to add this to our docs. See #1124

[2015-09-11 19:45] jairideout commented on #1124
:+1:

Are you interested in working on this?

[2015-09-11 19:59] anderspitman commented on #1124
Yep I can do it.

[2015-09-11 20:11] jairideout commented on #1124
Assigned, thanks!

[2015-09-11 20:37] #1082 closed

[2015-09-11 20:37] #1095 closed

[2015-09-11 21:47] ebolyen opened #1125 "Add `get_key` to `TabularMSA`"
Regarding the interplay of `TabularMSA(seqs, key=KEY)` and other methods:

Users will generally fall into two camps when using the `TabularMSA`, they will either need keys, or they won't. Those that need keys will find it easiest to do something like `TabularMSA(seqs, key='id')` or equivalent.

When interacting with other methods such as `append` there isn't a good reason why the msa couldn't reca

[2015-09-11 21:55] jairideout commented on #1125
:+1:

[2015-09-11 22:32] jairideout commented on #1122
@dansondergaard this sampling functionality sounds really useful! @ebolyen and I propose the following API for `TabularMSA`:

[code]

where `n` and `replace` match the parameter names used in `skbio.stats.subsample_counts`.

Since `TabularMSA` will replace `Alignment` in the near future we think this method makes sense there. Additionally, sampling with replacement is possible because a unique ide

[2015-09-11 22:56] anderspitman commented on #1125
:+1:

[2015-09-11 23:00] anderspitman commented on #1125
@ebolyen @jairideout what about calling the method `get_cached_key` or something similar, since `get_key` might be assumed to be a getter for the `key` property?

[2015-09-12 17:35] anderspitman commented on #1119
Weird I'm not seeing it from that account. BTW if anyone needs the login info for @scikitten-bio let me know.

[2015-09-12 18:53] anderspitman commented on #1100
Possibly stupid question: what does this method do?

[2015-09-12 19:08] anderspitman opened #1127 "Move _SequenceReprBuilder to a separate file"
_sequence.py is getting pretty big. Any reason not to move this?

[2015-09-13 00:39] anderspitman commented on #1100
Nevermind, I just noticed this functionality exists in the current `Alignment` class.

[2015-09-14 03:52] anderspitman commented on #1100
Dibs

[2015-09-14 03:53] anderspitman commented on #1091
Depends on #1100. I can do this after that.

[2015-09-14 15:48] jairideout commented on #1119
GitHub says the invite is pending. Did you receive an email at the address @scikitten-bio is registered with?

[2015-09-14 16:06] dansondergaard commented on #1122
@jairideout Thank you for the instructions, they worked out perfectly! Much easier to test locally than with wait for CI ;)

I wasn't aware that `Alignment` was being replaced, but `TabularMSA` sounds like a worthy replacement. The API suggested makes good sense. My only concern is that I would also (at some point) like to be able to sample columns (positions). This could either be accomplished wi

[2015-09-14 16:17] ebolyen commented on #1122
:+1: for `axis` parameter.

[2015-09-14 16:18] jairideout commented on #1125
If `TabularMSA` had a `key` property its getter would just be the `key` property itself (`msa.key`). Maybe this should be a `key` property instead of `get_key`?

[2015-09-14 16:19] jairideout commented on #1127
That should be fine, how about `skbio.sequence._repr`?

[2015-09-14 16:23] jairideout commented on #1122
:+1: for `axis`. Thanks for working on this @dansondergaard!

[2015-09-14 16:24] ebolyen commented on #1127
:+1:

[2015-09-14 16:33] dansondergaard commented on #1122
@ebolyen @jairideout, great! Happy to contribute.

[2015-09-14 17:14] #986 closed

[2015-09-14 18:02] jairideout commented on #1125
@ebolyen and I discussed this further. How about the following?

- `TabularMSA` constructor and `reindex` accept a `minter` parameter instead of a `key` parameter (this is just a name change). The minter describes how to create keys, so hopefully this will be more distinct from `keys`, which are keys that have already been created.
- `TabularMSA.minter` is a read-only property (i.e., just a getter

[2015-09-14 18:03] ebolyen commented on #1125
:+1:

[2015-09-14 18:31] dansondergaard commented on #1122
Just realized that this depends on #1102 for slicing the `TabularMSA`. It is of course possible to implement sampling without slicing, but I think it's worth waiting a bit since the implementation will be a lot shorter and prettier.

What are your thoughts, @ebolyen, @jairideout?

[2015-09-14 19:02] jairideout commented on #1122
:+1: it's probably worth waiting for `__getitem__` (I think @ebolyen is working on this, or will start working on it soon)

[2015-09-14 20:31] ebolyen commented on #1122
Working on that for the next day or two, so that should be in soonish!

[2015-09-14 21:44] anderspitman commented on #1119
Ah didn't realize it was an email. Done

[2015-09-14 21:45] anderspitman commented on #1127
:+1:  I can do

[2015-09-14 21:49] anderspitman commented on #1122
:+1:

[2015-09-15 06:12] dansondergaard commented on #1122
:+1:

[2015-09-15 20:23] anderspitman commented on #1125
Was there a particular reason to call the named parameter `minter` over `key_minter`?

[2015-09-15 20:24] ebolyen commented on #1125
Not really, `minter` is shorter, but `key_minter` may be clearer.

(sorry for closing, I always think I am commenting inline and want to close the box thing)

[2015-09-15 20:26] wasade commented on #1125
I like `minter`, but `key_forge` could be cool. Or `keyinator`

On Tue, Sep 15, 2015 at 2:24 PM, Evan Bolyen <notifications@github.com>
wrote:

[2015-09-15 20:27] anderspitman commented on #1125
Yeah in the process of renaming "minter" seemed less precise. I'll go with "key_minter" if no one has any objections

[2015-09-15 20:27] anderspitman commented on #1125
Or maybe "keynter"?

[2015-09-15 20:29] #1090 closed

[2015-09-15 20:33] jairideout commented on #1125
I like `minter` because it's shorter and more Pythonic. Also, the idea of a minter will appear on many of the central scikit-bio classes in the future so it may not be as big of an issue. What about keeping `minter` for now to see how users react to it? Since `TabularMSA` is experimental we can change the name if there's confusion.

That being said, `key_minter` is also a good name so no strong fe

[2015-09-15 20:33] ebolyen commented on #1125
Since it is experimental I think we should leave it `minter` and see how it works out. My general feeling is this is one of those things that in 2 years we would prefer to have made it just `minter`, but because it is the first time we have done this `key_minter` might seem better.

There are several objects which will inevitably use this pattern (TreeNode, DistanceMatrix, All of the other MSAs, C

[2015-09-15 20:38] anderspitman commented on #1125
`%s/key_minter/minter/g`

[2015-09-15 23:56] #1127 closed

[2015-09-16 10:59] dansondergaard opened #1133 "[BUG] Writing Alignment causes issues with positional metadata"
I just hit upon a weird bug. To reproduce,

[code]

Then run the following script:

[code]

This will print (before the call to `write()`):

[code]

and then (after the call to `write()`):

[code]

Note: Running the same code with version 0.2.3 works perfectly.

I realize that this may not be a concern since `TabularMSA` is taking over anyway. The only way I found to avoid the exception so far is

[2015-09-16 15:39] ebolyen commented on #1133
Thanks @dansondergaard this is a really weird one! One thing that caught my eye was the use of `StringIO.StringIO` instead of `io.StringIO`, but that doesn't seem to be the problem here.

If the problem is in `Alignment` then it probably isn't a blocker, but we should investigate to figure out why this is happening. Worst case, this is some strange behaviour from the sequence classes, in which cas

[2015-09-16 16:03] ebolyen commented on #1133
Tracked down the line that is causing it:
https://github.com/biocore/scikit-bio/blob/master/skbio/io/format/_base.py#L185

The check for positional metadata will end up creating it (but it will be empty). What is disconcerting is that the code should still work regardless of that fact.

[2015-09-16 16:16] ebolyen commented on #1133
It is a problem with `Sequence`:
[code]
also causes this error.

[2015-09-16 16:22] ebolyen commented on #1133
Got it! The logical error is that `Sequence.__getitem__` checks `has_positional_metadata` which is False when it is both unset, *and empty*. By asking for `positional_metadata` we create an empty `DataFrame` on the object for the user to use. Because this is falsey, `getitem` doesn't try to pass on the sliced `positional_metadata` which means in the `_to` call existing positional metadata (with th

[2015-09-16 16:39] Jorge-C commented on #1133
Nice sleuthing!

[2015-09-16 16:53] dansondergaard commented on #1133
@ebolyen The `StringIO` should have been removed, that was my mistake. It's not used at all.

Really nice and quick debugging!

[2015-09-16 21:58] corburn commented on #997
I wonder if something like the following is what you had in mind:

[code]

[2015-09-17 18:30] wasade opened #1134 "Parse NCBI taxonomy files"
PyCogent provided this [support](https://github.com/pycogent/pycogent/blob/master/cogent/parse/ncbi_taxonomy.py), and is useful for getting NCBI Taxon ID and rank information. The files consumed are part of the `taxdump.tar.gz` file provided from NCBI's [FTP](ftp://ftp.ncbi.nlm.nih.gov/pub/taxonomy/).

[2015-09-17 21:49] anderspitman commented on #1119
It occurs to me that we may not want to store the benchmark results in this repo. A new directory will be created for every pull request, and even if we delete old ones periodically it will bloat the history over time. Thoughts @jairideout and @ebolyen?

[2015-09-17 23:33] anderspitman commented on #1119
The more I think about it I think maybe we don't want per-PR benchmark results stored in git, which brings up the question of how big of a problem would it be to keep powertrip serving up those results? I definitely think we should post results for master in the repo in a long-term fashion.

[2015-09-23 00:00] gregcaporaso commented on #1079
@JWDebelius, sorry for the slow reply on this. I'm a bit confused about how the power code is supposed to be applied, and understanding that would help figure out whether this makes sense to add to scikit-bio. Would you be willing to put a quick example together for the scikit-bio cookbook?

[2015-09-23 02:44] JWDebelius commented on #1079
I would be happy to do that. I have a couple of pretty rough first-pass
notebooks that I've been working with for my paper/dissertation, and are
about 95% code right now, or I can put together a new notebook using the 88
soils dataset. The former is probably quicker, there later is probably
better long term.

On Tue, Sep 22, 2015 at 5:00 PM Greg Caporaso <notifications@github.com>
wrote:

[2015-09-23 03:26] gregcaporaso commented on #1079
Whichever is quicker should be fine, thank you!

Sent from my phone, please excuse typos and brevity.
On Sep 22, 2015 7:44 PM, "J W Debelius" <notifications@github.com> wrote:

[2015-09-24 21:15] jairideout commented on #997
That makes sense, thanks for the code! Are you interested in issuing a pull request?

[2015-09-24 21:31] #1124 closed

[2015-09-24 21:35] jairideout commented on #1134
:+1:

What object(s) are you thinking this would be read into? `TreeNode`?

[2015-09-24 21:37] wasade commented on #1134
Likely, that's basically what's happening in cogent
On Sep 24, 2015 2:35 PM, "Jai Ram Rideout" <notifications@github.com> wrote:

[2015-09-24 21:43] jairideout commented on #1119
Maybe it's worth pushing all benchmarks to S3 instead so they're centralized, we don't have to expose powertrip to the world, and our gh-pages repo avoids bloat. @anderspitman @ebolyen thoughts?

[2015-09-24 21:50] jairideout commented on #1134
Sounds good!

[2015-09-24 22:01] anderspitman commented on #1119
That feels a little too complicated to me. Is exposing powertrip that much worse than exposing an AWS instance?

[2015-09-24 22:21] shiffer1 commented on #907
Hello All,
Jai asked me to add a note about how ignoring the quality scores could be useful. I had to download a set of fastq files from a different website than we are used to. This is the ENA the European Nucleotide Archive. The sequences have either been re-encoded in some strange format or corrupted somehow as they contain unicode characters. In any case, I would like to have the option to ign

[2015-09-24 22:22] jairideout commented on #1119
You don't need to expose an EC2 instance with S3 (for example, S3 can be used to [host a static site](http://docs.aws.amazon.com/AmazonS3/latest/dev/HostingWebsiteOnS3Setup.html)). This solution seems simpler IMO because we can host all benchmarks from a single place (S3) instead of gh-pages and powertrip (which is also a security vulnerability).

[2015-09-24 22:48] anderspitman commented on #1119
Gotcha. Seems like a good solution for the PR benchmarks, and we can still plan to us gh-pages for master.

[2015-09-25 16:20] ebolyen commented on #1134
@MikeDeberg this looks like what you were describing yesterday.

[2015-09-25 16:25] ebolyen commented on #1119
:+1: for S3, it's cheap and easy.

[2015-09-25 22:42] jairideout commented on #1119
I was thinking of using S3 for PR benchmarks **and** master. Any reason not to?

[2015-09-26 01:32] anderspitman commented on #1119
Just that for master we are interested in saving the benchmarks over time and the files won't constantly be being created and deleted so it's a good fit for git.

[2015-09-26 19:57] wasade commented on #907
@shiffer1, if you haven't reached out, I'm sure EBI would appreciate a note about the corrupt fastqs

[2015-09-28 15:52] gregcaporaso commented on #907
I agree on both points: it'd be great to just be able to ignore the quality scores, and contacting ENA about it would be great.

[2015-09-28 16:06] shiffer1 commented on #907
Hello,
I will try to contact them,but I am not convinced that this isn't a fluke,
or perhaps just operator error on the part of the up-loader.
Arron

On Mon, Sep 28, 2015 at 8:52 AM, Greg Caporaso <notifications@github.com>
wrote:

[2015-09-28 16:16] gregcaporaso commented on #907
Even so, it's good for them to know so they can correct this record.

On Mon, Sep 28, 2015 at 9:06 AM, shiffer1 <notifications@github.com> wrote:

[2015-09-28 17:23] gregcaporaso commented on #805
This is interesting, about alternatives to sequence logos:
http://www.isa-tools.org/towards-a-new-sequence-logo-visualization/

[2015-09-28 17:29] ebolyen commented on #805
:+1: That looks really cool!

[2015-09-29 16:27] jhcepas commented on #1117
regarding the interoperability layer between the upcoming ete3 version and scikit-bio tree objects, any feedback here would be great:  https://github.com/jhcepas/ete/issues/137

[2015-10-01 05:07] RNAer opened #1137 "full positional_metadata representation for all types of sequence features"
Just put a pin here. Remember the following features can't be stored with current `positional_metadata` (c.f. https://github.com/biocore/scikit-bio/blob/master/skbio/io/format/genbank.py#L734). We need to come up a solution for these.

(b) a site between two indicated adjoining bases. e.g. 123^124
(c) a single base chosen from within a specified range of bases (not
        allowed for new entries)

[2015-10-01 16:29] jairideout commented on #1137
:+1:

Also related: http://stackoverflow.com/q/32743780/3776794

[2015-10-02 16:16] ebolyen commented on #1137
Thanks @RNAer! We might be able to solve (b) by convention, either saying that it will be recorded on the base before or after the site. The future ReferenceAlignment object will likely shed some light on what that convention is (and if it is a good idea).

[2015-10-02 17:00] #1103 closed

[2015-10-02 17:15] #1133 closed

[2015-10-02 23:57] ebolyen commented on #1119
I agree on git for master, that makes it easy to pull in the appropriate results for a PR. Then the amalgamated results can be pushed to S3. There's really two systems, one tracks master. And the other needs bits of master and a separate directory for each PR.

Actually...
Is there a reason benchmarks of a branch couldn't be in a git branch and powertrip just exports that to S3 in the needed direc

[2015-10-03 00:08] jairideout commented on #1119
Sorry if I wasn't clear, what didn't make sense to me was the use of `gh-pages` and S3. :+1: to Evan's idea of having powertrip run the benchmarks, store them in a git repo, and then push to S3.

[2015-10-06 08:04] dansondergaard commented on #1093
I can give this a go in the coming weeks.

[2015-10-07 00:22] RNAer opened #1140 "read in new metadata and positional metadata for a exisiting Sequence object"
Some GenBank file only contains metadata but no sequence in itself. We can read the sequence to create the `Sequence` object and then read GenBank annotation into the object. This seems just a new API?

This is also required genome annotation (http://bit.ly/1jbRaxe). We incrementally add more features into a existing `Sequence` object with running one annotation tool after another.

[2015-10-07 00:30] RNAer opened #1141 "implementing parsers for outputs of various annotation tools"
We need parsers for the tools listed here (http://bit.ly/1jbRaxe) and think it is best to put it into scikit-bio. The reason is multi-fold:
1) the sequence and annotation will be represented as `Sequence` (`DNA` or `RNA`) object in scikit-bio. It makes sense to have its parsers in the package too.
2) adding support for more formats will attract more users and developers to scikit-bio.

This is als

[2015-10-07 01:21] josenavas commented on #1141
:+1:

[2015-10-07 16:25] gregcaporaso commented on #1141
:+1: can you provide a list of the file formats and what each one would be read into?

[2015-10-07 17:11] jairideout commented on #1140
:+1: this is an interesting use case! Let's talk about this on our call next week b/c it's related to what we'll be discussing. Sound good?

[2015-10-07 17:36] RNAer commented on #1140
That sounds good. We need a solution soon because this is the blocking step to solve #1141 and other implementations.

[2015-10-07 22:54] jairideout commented on #1125
@ebolyen and I chatted about storing the minter on `TabularMSA`. Storing the minter makes `TabularMSA` behavior more complex to reason about than we had expected, both to users and in implementation. For example:

- If a `TabularMSA` object has a stored `minter` and the user appends a sequence and provides a new minter, it is unclear what should happen. One option is to apply the minter to the app

[2015-10-07 22:56] ebolyen commented on #1125
:boom:

[2015-10-07 22:57] ebolyen commented on #1125
This will make things a whole lot simpler.

[2015-10-08 05:59] akloster opened #1143 "Fast5 support (Oxford Nanopore)"

[2015-10-08 06:22] ebolyen commented on #1143
:+1:, h5py is an inevitable dependency anyways (biom). A quick Google
search didn't yield much about the format spec. @akloster, do you know of
any good resources for that?

I assume the voltage data is longer than the sequence data? That could
still probably sit in a sequence's global metadata as a single Series.

If you are interested in contributing the format, we are more than happy to
assist!

[2015-10-08 06:26] wasade commented on #1143
@nickloman and @joshquick, any insight and/or interest in contributing? Figured you guys may have some relevant experience...

[2015-10-08 06:57] akloster commented on #1143
I'm not a member of the MAP and not associated with a lab running MinION devices. I don't know if there is any documentation on the file format available.

The Hdf5 structure is almost self-explanatory, and I have already succeeded in creating scikit-bio objects from them.

What I am unsure about is how to deal with groups of Fast5 files, which constitute a particular run. I don't know if such met

[2015-10-08 07:02] akloster commented on #1143
@ebolyen  The voltage data so far as I understand it, isn't the raw data of the channel (at 5000 samples per seconds according to the files I have), but rather the mean and standard deviation of "events", which are voltage levels during passage of individual 5-mers.

So far as I understand it, the Fast5 files available (mainly from @nickloman's lab) are downloaded from Metrichor, not from the devi

[2015-10-08 22:30] anderspitman commented on #1125
Just to verify, the operating logic for append will now be:

Append call :point_down: MSA State :point_right:  | Has Keys | Doesn't Have Keys
---------|--------------|--------------------------
`msa.append()` | **FAIL** | **SUCCEED**
`msa.append(key='some string')` | **SUCCEED** unless duplicates | **FAIL**
`msa.append(minter='some string')` | **SUCCEED** unless not in metadata or duplicates | **F

[2015-10-09 00:02] jairideout commented on #1125
Nice table! Yep that all looks right.

[2015-10-10 20:37] ebolyen opened #1144 "Build failing in 2.7 and 3.4"
[code]

Looks like a package (numpy probably) has just been updated.

[2015-10-12 16:39] ebolyen commented on #1144
Will work on a fix today.

[2015-10-12 17:27] ebolyen commented on #1144
If I correct the dtype mismatch we get some dramatically different results:
[code]

Any ideas?

[2015-10-12 17:40] ebolyen commented on #1144
I can replicate this behaviour exactly in Numpy 1.9 by changing the following:

[code]

I think the broadcasting rules are different between these two operations. However, I am not sure which is actually correct.

[2015-10-12 17:44] ebolyen commented on #1144
I see what is happening:

In 1.9 with `x op= thing` we get the dtype of `x`:
[code]
But when it is `x = x op thing` we get type coersion:
[code]

I'm inclined to believe our current behaviour is buggy.

[2015-10-12 17:55] ebolyen commented on #1144
Actually that has to be backwards. I think `thing` is cast down to `int` in the above case, and left alone in the second. The numbers don't even match when the floor of the result is taken.

[2015-10-12 20:23] ebolyen commented on #1144
@Jorge-C It looks like you wrote this code, could you advise as to what the correct output should be?

Presently our code is implicitly downcasting the results of `mean_and_std` in `skbio.stats.ordination._util.scale` to whatever the dtype of the input matrix was. Should there (semantically) be a floor function in here? Or is the test incorrect?

[2015-10-12 20:40] Jorge-C commented on #1144
The input `a` should be casted to a float64 array. This means the test output is wrong and needs to be updated (it doesn't matter in any other code because the functions that call it use float64 arrays).

Also, I've just found out that `skbio....corr(x)` is equivalent to `np.corrcoeff(x.T)`. I'm not sure if any of the functions in `util` were meant to be exported.

I can submit a PR today that fix

[2015-10-12 20:44] ebolyen commented on #1144
That would be awesome @Jorge-C! Also moving forward if we can drop `corr` for `np.corrcoeff` that would be ideal.

[2015-10-12 21:26] Jorge-C opened #1147 "Requirements up-to-date?"
Creating a new environment in a new computer, I get this test failures after `pip install -e .`

[code]

[2015-10-12 21:31] Jorge-C commented on #1147
Ah, it is in `extras_require` in setup.py, but I don't know how to install it directly (i.e., doing something like pip install skbio[test]` for developers). Of course, the steps in contributing.md work using the requirements file work, so I'll close this!

[2015-10-12 21:31] #1147 closed

[2015-10-12 21:33] #1144 closed

[2015-10-14 21:55] jairideout commented on #1140
To support this, we will have hashable sequence features that can be stored as columns on the positional metadata DataFrame. Then features can easily be merged using pandas because you'll just be merging DataFrames.

We also need to support an optional FASTA file on the GenBank reader.

[2015-10-14 23:00] RNAer commented on #1141
As we discussed, all the following formats will read into pandas dataframe with hashable column names.

1. cmscan (Infernal): target hits table. I shared the files here (https://www.dropbox.com/sh/ymo8nilbeavvhv6/AABG8lq44xkhO1CzAyGP6b_ia?dl=0). The table to parse is .tbl. The description for the format is in page 63 in the userguide.pdf. As a use case to test #1140 , I would read in the .gbk file

[2015-10-15 19:42] anderspitman opened #1149 "Arrange Act Assert in unit tests?"
A lot of our unit tests have multiple assertions, reuse local variables, etc. This isn't really in alignment with the general practice of ["Arrange, Act, Assert"](http://c2.com/cgi/wiki?ArrangeActAssert) style tests. Ideally we would have one assertion per test. This doesn't necessarily mean a single assert call, but it means you only test one thing. Moving in this direction does require more test

[2015-10-15 22:15] ebolyen commented on #1149
I like this pattern, especially as it basically negates using `setUp` which I feel makes most tests pretty hard to maintain. Way too much of our code still operates as a single test for a given method. I'm not arguing for or against, but frankly I wouldn't be against creating a test-class for each method. Or at least a test-class for each protocol/interface.

Do you think AAA precludes using a loo

[2015-10-16 15:22] jairideout commented on #1149
:+1: for starting to use this pattern (I really like having a class for testing each method). I'm curious too about @ebolyen's question, these sorts of tests happen a lot in practice.

[2015-10-16 15:48] wasade commented on #1149
:+1:

On Fri, Oct 16, 2015 at 9:22 AM, Jai Ram Rideout <notifications@github.com>
wrote:

[2015-10-16 20:01] anderspitman commented on #1149
@ebolyen I'm not sure what you mean when you say this negates using `setUp`. I try to use `setUp` extensively even when using AAA to reduce duplication. Maybe we're not talking about quite the same thing here.

As for loops, I think we should try to keep them if possible, at least for some cases. I think the key principle is that you want to minimize the risk that a test depends on the results of

[2015-10-20 19:10] RNAer commented on #1149
:+1: on AAA

[2015-10-20 19:34] gregcaporaso commented on #1149
I think this is a good idea for new tests, but not worth the time to port
existing tests (too much other stuff that's higher priority).

On Tue, Oct 20, 2015 at 12:10 PM, Zech Xu <notifications@github.com> wrote:

[2015-10-20 19:40] ebolyen commented on #1149
My only gripe about `setUp` is it couples the evolution of test cases and adds some indirection. You can't safely modify anything created in setUp without potentially violating the test conditions for some other test case resulting in spurious test passes. Basically putting actual data in setup feels wrong, if we are creating connections or managing resources that seems completely fine, but I feel

[2015-10-20 20:48] josenavas commented on #1149
:+1: on AAA

[2015-10-20 22:20] jairideout commented on #1149
@ebolyen :+1:, I try to avoid `setUp` now for the reasons you listed (basically DRY gone wrong)

[2015-10-26 14:50] dansondergaard opened #1152 "[ENH] Cannot write SequenceCollection to StringIO object"
I'm trying to do this (in Python 2.7):

[code]

This is pretty useful if you e.g. want to call BLAST from Python, but do not want to write a file with the query sequences to disk first. Writing to StringIO as FASTA and the passing that to the subprocess with `communicate()` is pretty useful. Unfortunately it doesn't work.

[code]

The [documentation](http://biocore.github.io/scikit-bio/docs/0.4.0/

[2015-10-26 15:19] jdrudolph opened #1153 "test_genbank fails on non-US locale"
I was unable to pass all test for `scikit-bio` due to an assumed US locale and `datetime.strftime` in `skbio/io/format/genbank.py`. The error can be reproduced using:

    LC_TIME=de_DE.UTF-8 make test

will fail on '18-DEZ-2001' != '18-DEC-2001', while

    LC_TIME=en_US.UTF-8 make test

runs without error. I'm not sure if this is a bug i.e. if genbank requires US date formatting. If US formattin

[2015-10-26 15:44] ebolyen commented on #1152
Hey @dansondergaard, you just have to use [`io.StringIO`](https://docs.python.org/2/library/io.html#io.StringIO#io.StringIO). It has the same API, but it uses unicode and therefore is encoding agnostic which is important to our IO system.

I would definitely recommend giving the entire [`io` subpackage](https://docs.python.org/2/library/io.html#io.StringIO) in Python a look, not many realize it ex

[2015-10-26 15:48] ebolyen commented on #1153
@jdrudolph Thanks for the report! This is very interesting, I suspect genbank would be a US locale, @RNAer do you know the answer to that?

[2015-10-26 15:58] ebolyen commented on #1152
Looks like links for the docs were already fixed in master.

[2015-10-26 16:30] RNAer commented on #1153
hmmm, good point. I am not sure either. I haven't seen a non US locale
record, though. To be more tolerant, we can also remove the date string
parsing. Just store the string alternatively.

On Mon, Oct 26, 2015 at 8:48 AM, Evan Bolyen <notifications@github.com>
wrote:

[2015-10-26 17:18] dansondergaard commented on #1152
@ebolyen Thanks! Changed to use `io.StringIO` and that works perfectly. I actually thought that `io.StringIO` was the same as `StringIO.StringIO`.

Seeing the table for for `skbio.io.util.open` helped a lot, good to hear that the link has already been fixed! :)

[2015-10-26 17:18] #1152 closed

[2015-10-26 23:02] jairideout opened #1154 "docs don't build with latest numpydoc"
With the latest dev version of numpydoc the docs fail to build on master for me. Can anyone else reproduce this?

[code]

[2015-10-26 23:18] jairideout commented on #1154
@ebolyen can reproduce this, marking as blocking

[2015-10-26 23:25] #1154 closed

[2015-10-27 17:41] #1089 closed

[2015-10-28 16:40] jairideout opened #1158 "`TabularMSA`: copy / __copy__/ __deepcopy__"
Forgot these methods on the RFC (likely other dunder methods too). I'll take this one after `positional_metadata` (#1092). API will match `skbio.Sequence`.

[2015-10-28 19:01] ekopylova opened #1159 "Sequence.read fails for E.coli genbank record (0.4.0-dev)"
Python exists with `Killed: 9` when attempting to load the E. coli GenBank record on local computer.
By rough calculation (thanks @RNAer ), there are ~260000 features in the record, and each feature is stored as a column of genome length (4686137) in positional_metadata. That will take 260000 \* 4686137 / 1024**3 = 1134GB.

file source: ftp://ftp.ncbi.nlm.nih.gov//genomes/Bacteria/Escherichia_coli

[2015-10-29 02:58] mortonjt commented on #1159
Talking to @RNAer , it seems that the heart of the problem is the usage of dense pandas dataframes.
While it using sparse pandas dataframes may alleviate the problem, I'm not sure how scalable it is.

One alternative to this issue is using [Interval Trees](https://en.wikipedia.org/wiki/Interval_tree).  This allows for O(log n) access time to get all overlapping intervals.  Plus, it deals with the

[2015-10-29 03:54] RNAer commented on #1159
Thanks, @mortonjt . Interval Trees seems a very good option. It is not as convenient as pandas dataframe, but close. I haven't come up with a use case that can't be done with Interval Trees easily. Anyone else?

I think it all boils down the memory usage even with pandas `SparseDataFrame` and how big the genome we want to support?

[2015-10-29 04:14] RNAer commented on #1159
It should also solve the case (e) in #1137

[2015-10-29 05:10] ebolyen commented on #1159
@RNAer I'm not sure I see how an interval tree solves point (e). One thing we would need to think about is whether we could slice the sequence by an interval. Naively throwing an interval tree into the sequence object is unlikely to be successful in that regard. We would want an implementation that could return something like an index array or boolean vector which represented the response of a que

[2015-10-29 16:52] ebolyen commented on #1159
Also, interval trees need contiguous regions for it to work. Some features are unions of different regions.

[2015-10-29 16:54] ebolyen commented on #1159
Although I suppose if we considered a union to just be defined by the same instance everything would be ok, we would just have to do `k` separate queries for each sub-interval.

[2015-10-29 17:51] shoyer commented on #1159
@ebolyen Here is my half-finished `IntervalIndex` PR for pandas: https://github.com/pydata/pandas/pull/8707

It includes a self-contained `IntervalTree` written in Cython, which could also be extracted separately if desired.

From an API perspective, the plan would be for `IntervalIndex` to support several types of queries:
- `get_loc`: this pulls out all locations in the array of intervals that o

[2015-10-29 21:54] ebolyen commented on #1159
Thanks @shoyer! Out of curiosity how would the `IntervalIndex` be used in a `Series` or `DataFrame`?

If I understand the linked code correctly (which is unlikely):

For our use case we could imagine building a `Series` with the `IntervalIndex` and `np.arange(n)` for the data. Then we would be able to associate labels with intervals. Would slicing the series with `.loc` then return only those "cel

[2015-10-29 21:59] shoyer commented on #1159
@ebolyen Yes, that would work, though you might also put your data directly in a DataFrame or Series instead of creating a dummy index array with `np.arange`.

[2015-10-29 22:40] ebolyen commented on #1159
:+1: I was imagining slicing our object, so adjusting, I could see something like this:

`dna[dna.positional_metadata['dummy_index'].loc['feature 1']]`
^ this should probably be a helper: `dna[dna.feature_location('feature 1')]`
and
`dna.positional_metadata['quality'].loc['feature 1']`

Would it be possible to support multiple intervals per label?

[2015-10-29 22:48] #757 closed

[2015-10-29 23:11] shoyer commented on #1159
I don't think this would belong in pandas directly -- that's not how pandas Index works. But you could pretty easily have a proxy object (e.g., an integer pandas.Series with a pandas.IntervalIndex index) that maps multiple intervals to the same integer label.

[2015-10-30 20:35] #1098 closed

[2015-10-30 21:47] RNAer commented on #1159
@ebolyen , I see your point we need to write/maintain extra code wrt the interval approach, but in terms of API usage, I don't see how it cannot be designed to look like the current `positional_metadata` implementation?

Anyway, we need a solution. Certainly it would be best for `pandas` to have this functionality (Thanks, @shoyer !). It is now blocking @ekopylova 's HGT project, the development o

[2015-10-30 22:09] #624 closed

[2015-10-30 22:14] gregcaporaso commented on #1159
@RNAer, at this point it's not clear what the feature request is, so we'd need to sort that out before coming up with a solution and an ETA. Are you guys using *all* of the metadata in that record? What features specifically do you need to access and operate on from that record? It'd probably be easiest to discuss this, and how we want to support it, on a call. Note that the focus in my lab *needs

[2015-10-31 00:53] ekopylova commented on #1159
For simulating horizontal gene transfers, I need the CDS features for two microbial genomes (donor & recipient) at a time. Previously I was using FeatureExtract, a python script for parsing GenBank records.

[2015-10-31 05:27] RNAer commented on #1159
@gregcaporaso , totally understand. We were just saying the current `positional_metadata` blew up the mem usage to ~1TB to read a E.coli GenBank file of 15Mb, which is obviously difficult to use. We can see the roaring mem footprint during feature parsing for a GenBank file reduced to have only ~20 features.
![screen shot 2015-10-30 at 10 20 56 pm](https://cloud.githubusercontent.com/assets/100005

[2015-10-31 05:35] ebolyen commented on #1159
@RNAer when you tested it with the SparseSeries did you set the `fill_value` to `False`? By default it is `NaN` and so you wouldn't see any difference.

[2015-10-31 09:00] RNAer commented on #1159
I used it. It reduced only by half:
<img width="1206" alt="screen shot 2015-10-31 at 1 54 14 am" src="https://cloud.githubusercontent.com/assets/1000056/10862748/0a1b961a-7f73-11e5-85b6-fd07fe651aa8.png">

The code is here: https://github.com/RNAer/scikit-bio/commit/c00bb7cb4b93619405c78d7482f7f4d2671a99ec

[2015-10-31 09:04] RNAer commented on #1159
To be fair, the GenBank record without any features takes 100Mb, so the `SparseDataFrame` reduces the mem usage from 900Mb to 300Mb. 3 folds differences.

[2015-10-31 09:29] RNAer opened #1167 "equality of Sequence object"
The current implementation of `Sequence.__eq__` will return False for two same Sequence objects if they are ordered differently columnwise for their `positional_metadata`. I would argue it should be order-insensitive. Imagine you have two objects read from 2 different sources, where the information is ordered a little bit different.

[2015-11-02 15:42] ebolyen commented on #1167
@jairideout should we bring `equals` back? This would be a good case for it, where you might call `seq.equals(other, ignore='metadata-order')`

[2015-11-02 15:45] #1006 closed

[2015-11-02 15:45] #1019 closed

[2015-11-02 15:53] ebolyen commented on #1159
@RNAer Thanks for posting these benchmarks! The 3 fold difference is certainly nice, but I think you are right that it isn't going to solve this problem fundamentally. It would be interesting to see how an interval tree compares. @RNAer would you mind posting your test file and script? (Where does the nice line-chart come from?) I might try playing with @shoyer's `IntervalIndex` assuming the merge

[2015-11-02 17:11] ebolyen commented on #1053
Milestone that tracks this RFC:
[RFC 1: tabular-msa](https://github.com/biocore/scikit-bio/milestones/RFC%201:%20tabular-msa)

[2015-11-02 17:12] RNAer commented on #1159
Thanks, @ebolyen ! [test file](https://drive.google.com/file/d/0B6wW1JWx55lRNFNWTkwwVmJlTDA/view?usp=sharing) and [script](https://drive.google.com/file/d/0B6wW1JWx55lRLW1xWG5CLTQ4Q2M/view?usp=sharing). The mem profiling is done with python package memory_profiler. The command is:

     mprof run python /tmp/test.py /tmp/NC_010473.gbk && mprof plot -o /tmp/f.pdf

[2015-11-02 17:17] ebolyen opened #1168 "RFC: py3-only"
Please send all discussion to:
https://github.com/biocore/scikit-bio-rfcs/pull/6

Depending on the resolution of the RFC, this issue will be updated to include a milestone to track this RFC.

[2015-11-02 17:27] ebolyen commented on #1168
Milestone that tracks this RFC:
- [ ] [RFC 2: py3-only](https://github.com/biocore/scikit-bio/milestones/RFC%202:%20py3-only)

[2015-11-02 17:42] jairideout commented on #1159
@RNAer thanks for looking into this! @ebolyen and I will start investigating the memory issues today -- it is concerning to see that a GenBank sequence *without* any features requires ~100MB when the file is ~5MB.

[2015-11-02 17:43] shoyer commented on #1159
I spent a few hours looking at my IntervalIndex code again last night and fixing stuff. It's actually closer to being ready than I thought before -- you can see the checklist in the PR. Most of the stuff to do at this point is integration stuff and more exhaustive tests. I don't think there are any major gaps in core functionality.

I did stall out when I attempted to rebase -- I need to rewrite t

[2015-11-02 18:07] gregcaporaso commented on #1159
@RNAer, @ekopylova I think we'll need to handle this as follows. @jairideout and @ebolyen are going to look into the memory issue in loading genbank files *without* features, as that sounds like a memory bug that is separate from the positional metadata issue described here. They're not going to be able to work on the positional metadata sparsity/interval tree issue before [0.4.1](https://github.c

[2015-11-02 19:27] jairideout commented on #1167
:+1:

[2015-11-02 22:08] jairideout commented on #1159
Just an update on the potential memory bug @ebolyen and I were looking into:

Memory usage appears to be what we'd expect: importing scikit-bio alone takes ~74MB and loading the sequence is another ~46MB, of which `positional_metadata` is ~35MB. The 100MB for loading a sequence without features isn't so surprising anymore.

A slight optimization would be to put the "source" feature's metadata in `

[2015-11-02 23:32] shoyer commented on #1159
FYI, the pandas `IntervalIndex` should be successfully rebased now if any of you want to try it out.

[2015-11-02 23:33] ebolyen commented on #1159
Thanks @shoyer!

[2015-11-02 23:48] shoyer commented on #1159
Also, to be clear -- exactly what sort of data do you want to store in the intervals? My `IntervalTree` implementation currently converts everything to `float64`, but probably could be adapted to use fused types if necessary.

[2015-11-02 23:50] RNAer commented on #1159
@gregcaporaso , sounds good. Thanks for your suggestion.

@jairideout , surprised to see importing alone takes 74MB. It makes sense to move "source" to `metadata`

@shoyer , thanks! I believe we only need `int` type.

[2015-11-02 23:50] #1092 closed

[2015-11-03 00:03] jairideout commented on #1125
Fixed in #1121.

[2015-11-03 00:03] #1125 closed

[2015-11-03 17:46] jairideout opened #1170 "`TabularMSA`: __contains__"
Returns `True` if key is in MSA.

[2015-11-03 17:54] jairideout opened #1171 "`TabularMSA`: __str__"
Not sure what this looks like yet.

[2015-11-03 17:55] jairideout opened #1172 "`TabularMSA`: __repr__"
Not sure what this looks like yet.

[2015-11-03 23:42] anderspitman commented on #1119
@jairideout @ebolyen do we have an S3 location ready to be used for this?

[2015-11-04 23:30] jairideout commented on #1119
I don't think we have anything set up yet. I'll chat with @gregcaporaso and @ebolyen tomorrow about setting something up.

[2015-11-05 16:51] #1170 closed

[2015-11-05 18:55] jairideout opened #1175 "support custom grammared sequence types"
Changes:

- [x] rename  `skbio.sequence._iupac_sequence.IUPACSequence` class to `GrammaredSequence`: it is a sequence that conforms to the scikit-bio sequence grammar (based on IUPAC's notion of degenerates, gaps, nondegenerates, etc. but not necessarily constrained to the IUPAC alphabet).

- [x] make `GrammaredSequence` publicly importable from `skbio.sequence`

- [x] document `GrammaredSequence`

[2015-11-05 19:11] #1158 closed

[2015-11-05 19:19] jairideout commented on #1054
Fixed in #1114.

[2015-11-05 19:19] #1054 closed

[2015-11-07 14:50] methodds commented on #702
I just tried @mattfullerton 's windows version and while compiling worked just fine I cannot import skbio due to the error:

[code]
Any idea how to fix this?

[2015-11-09 16:38] jairideout commented on #702
@methodds this looks like a matplotlib installation issue. Are you able to successfully run

[code]

in an interactive session?

[2015-11-09 18:40] gregcaporaso commented on #1077
Ran into this one again today.

[2015-11-09 21:58] ebolyen opened #1177 "Add Python 3.5 to travis build matrix"

[2015-11-09 23:11] #661 closed

[2015-11-09 23:11] #1177 closed

[2015-11-10 22:15] jairideout opened #1179 "styling issue after Sphinx update"
There's a small style issue with the docs after upgrading Sphinx versions (#1178):

<img width="429" alt="screen shot 2015-11-10 at 3 09 31 pm" src="https://cloud.githubusercontent.com/assets/1847232/11077415/3e305ad8-87bd-11e5-8afb-3d983b4aced7.png">

@ebolyen do you mind looking into this?

[2015-11-11 20:09] gregcaporaso opened #1181 "add support for parallel diversity calculations"
This won't be addressed in #1040 as there are bigger questions about how we generally want to support parallelization in scikit-bio.

We'll ultimately want to be support computing alpha diversity for multiple samples and computing beta diversity for multiple pairs of samples in parallel.

@wasade proposed an interface for this before I started working on that branch, but I can't find it now. @wasa

[2015-11-11 20:36] wasade commented on #1181
Didn't squash commits, looks like the stubbed code got dropped [here](https://github.com/wasade/scikit-bio/commit/c7cf6394e5df310252df944e60866d0077a7fe50#diff-8195bb819ac5d477be57b65b6dfb19a4L298)

[2015-11-11 20:53] gregcaporaso commented on #1181
Thanks!

[2015-11-12 12:35] gregcaporaso opened #1182 "diversity calculations should optionally compute confidence intervals"

[2015-11-12 19:53] #1100 closed

[2015-11-12 19:54] jairideout commented on #1110
Fixed in #1136 and #1156.

[2015-11-12 19:54] #1110 closed

[2015-11-13 18:03] gregcaporaso commented on #1071
This came up in discussion today and we think the terms we should use are *definite* and *degenerate*, with *definite* replacing *nondegenerate*.

We landed on *definite* based on the definition: [*clearly stated or decided; not vague or doubtful*](https://www.google.com/webhp?sourceid=chrome-instant&ion=1&espv=2&es_th=1&ie=UTF-8#q=define+definite). While *indefinite* is probably a more relevant t

[2015-11-18 03:49] anderspitman opened #1184 "Use Amazon S3 for static hosting"
Once https://github.com/anderspitman/autobencher/pull/42 is merged into autobencher (close to finished), benchmark results will be pushed up to s3, to the scikit-bio.org/benchmarks directory. We need that directory set up to host static content.

[2015-11-18 16:15] ebolyen commented on #1184
@anderspitman, here is an example endpoint until we migrate the actual domain:
https://s3-us-west-2.amazonaws.com/scikit-bio.org/benchmarks/pull_requests/anderspitman/add_asv_config_and_benchmarks/index.html

[2015-11-18 17:28] #1091 closed

[2015-11-18 22:32] gregcaporaso opened #1185 "investigate beta diversity parallelization using sklearn.metrics.pairwise.pairwise_distances"
We might be able to [call this](http://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise.pairwise_distances.html) instead of ``pdist`` internally and use the scikit-learn parallel framework. This should be separate from #1040 though, as that one is already very big and this wouldn't involve an API change.

[2015-11-18 22:50] wasade commented on #1185
It doesn't look like this is doing the block parallelization, but is instead parallelizing over rows similar to how the partitioning was done in QIIME. The code is being passed through to joblib but is partitioning only over a single axis (see [here](https://github.com/scikit-learn/scikit-learn/blob/c957249/sklearn/metrics/pairwise.py#L1060) and the preceding line).

The downsides of this strategy

[2015-11-18 22:54] gregcaporaso commented on #1185
related to #1181

[2015-11-19 02:45] scikitten-bio commented on #1184
Purrrfect

[2015-11-19 02:45] anderspitman commented on #1184
:+1:

[2015-11-19 16:34] ebolyen commented on #1184
Of course!

[2015-11-19 17:59] gregcaporaso opened #1186 "standardize validation across diversity metrics, reduce duplication across alpha/beta diversity metric docs"
For the alpha diversity metrics, the ability to disable validation is only sometimes present. For beta diversity, if using metrics from SciPy directly (not through ``skbio.diversity.beta_diversity``) validation is going to be different than for the scikit-bio metrics. Validation should be consistent across all supported alpha and beta diversity metrics, which is tricky for beta diversity b/c a lot

[2015-11-19 18:08] jairideout commented on #1186
:+1:

[2015-11-19 19:13] gregcaporaso opened #1187 "reorganize docs in skbio.diversity"
These docs are currently a bit scattered (and in some place repetitive, e.g., we mention that metrics should be passed as strings several times) between ``skbio.diversity``, ``skbio.diversity.alpha``, ``skbio.diversity.beta``and the individual metrics. Consolidate these docs so that ``skbio.diversity`` is the main source of information about this subpackage.

Related to #1186.

[2015-11-19 19:43] gregcaporaso commented on #1186
@jairideout [pointed out](https://github.com/biocore/scikit-bio/pull/1040#discussion_r45381486) that casting currently won't happen if ``validation=False``, since the casting happens during validation. These should be factored into separate pieces as part of this change.

[2015-11-19 19:48] jairideout commented on #1186
`_validate_counts_matrix` is very inefficient because it's iterating over the ndarray and validating each row separately. The validations can be made faster by validating the entire ndarray at once.

[2015-11-19 19:54] wasade commented on #1186
:+1:, this may be a good cython target too

[2015-11-19 20:01] jairideout commented on #1186
Unlikely, `_validate_counts_matrix` can be expressed entirely in bulk numpy operations. The current factoring is weird because we are supporting single-sample/pairwise metrics and multiple-sample versions of those metrics. The implementation should get much simpler once we drop support for single-sample/pairwise metrics.

[2015-11-19 21:06] grayfall opened #1188 "Segmentation fault on module import"
I'm trying to install a new release of scikit-bio into a fresh virtualenv environment. I keep getting a segfault any time I try to import `skbio` or anything from `skbio`. I tried installing with pip and manually (setup.py build; setup.py install). I'm running on Ubuntu server 14.04, Python 2.7.6,  numpy/scipy/matplotlib/cython are all freshly deployed in the virtual environment.

[2015-11-19 21:46] jairideout commented on #46
Fixed in #1040.

[2015-11-19 21:46] #46 closed

[2015-11-19 21:46] #822 closed

[2015-11-19 21:51] jairideout commented on #1186
Moved from #1063 (not sure if these are still relevant given the newly factored code, but worth verifying as part of this issue):

- [ ] merge `skbio.diversity._base._validate_counts_vector` and `_validate_counts_vectors` into a single function `_validate_counts`

- [ ] review the errors and reasons for errors in the tests of the ``_validate*`` functions, and expand the ``Raises`` list in the doc

[2015-11-19 22:21] Jorge-C commented on #1188
Hi @grayfall, would you mind pasting the traceback or error messages, if any? Thanks!

[2015-11-19 22:28] grayfall commented on #1188
Hello @Jorge-C, I'd gladly do that if there was a traceback. I can only tell that `python -m skbio.test` immediately returns a segfault as does any attempt to import `skbio` in ipython (even trying to evoke autocompletion by tabbing after `from skbio import` causes a segfault). I've downgraded to the previous release and it works fine.

[2015-11-19 22:42] Jorge-C commented on #1188
That's puzzling. Does it also happen if you install it via conda? I.e., use [miniconda](http://conda.pydata.org/miniconda.html) to create an environment, and then `conda install scikit-bio`?

[2015-11-20 12:56] grayfall commented on #1188
@Jorge-C it works fine with conda.

[2015-11-20 19:56] Jorge-C commented on #1188
Thanks for trying that, I'm glad it works! I'm not sure how to further debug the issue, though. Can you import fine numpy/scipy/matplotlib? If you have the installation log, could you post it please?

[2015-11-20 20:43] gregcaporaso commented on #1185
@wasade, true that there are likely better approaches. with this hooked up (see my [PR](https://github.com/biocore/scikit-bio/pull/1194)) we'll have working parallel beta diversity now which we can use as our baseline during development of other approaches.

[2015-11-20 20:48] grayfall commented on #1188
@Jorge-C yes, I can import them. I no longer have the logs and I don't recall any errors during installation. Anyway, I guess the problem is related to virtualenv. I'll try to reinstall everything (including Python) from scratch and give it another shot.

[2015-11-20 22:50] #1097 closed

[2015-11-21 23:54] terrycojones opened #1196 "unrooted_deepcopy strips attributes from nodes"
The `unrooted_deepcopy` method doesn't copy attributes I put onto nodes. E.g.,

[code]

Maybe this is the intention, but the `unrooted_deepcopy` method name would suggest otherwise (or I'm being overly optimistic). It would be really nice if this didn't happen!

[2015-11-22 20:13] nbolten commented on #254
There's an MIT-licensed cython implementation of Needleman-Wunsch (and SW) available here that I use regularly: https://github.com/FredrikAppelros/align. It's pretty fast (for Needleman-Wunsch).

[2015-11-23 16:56] jairideout opened #1197 "hook TabularMSA up to I/O"
Also review I/O format docs because Alignment and TabularMSA are sufficiently different.

[2015-11-23 18:27] jairideout commented on #1172
@ebolyen and I came up with the following:

![img_1721](https://cloud.githubusercontent.com/assets/1847232/11345276/18cd8a66-91d3-11e5-9447-051f57040f9f.JPG)

Details:

- Similar to `Sequence` repr -- all lines should fit within a doctest-friendly width. There is code accounting for many of these details already so it can likely be refactored and reused on `Sequence` and `TabularMSA`.
- Display cl

[2015-11-23 18:27] jairideout commented on #1171
`__str__` should just call `__repr__` (see #1172).

[2015-11-23 18:46] jairideout commented on #1093
@dansondergaard I'm going to take this one, we're nearing our 0.4.1 release (currently scheduled for 12/9) and trying to wrap things up on `TabularMSA`.

@ebolyen is currently working on `__getitem__`/`loc`/`iloc`, we'll ping you on #1139 when that's in if you're still interested in working on `TabularMSA.sample`.

[2015-11-23 18:50] dansondergaard commented on #1093
@jairideout Still interested in `TabularMSA.sample`, but you're welcome to take this one! :)

[2015-11-24 21:45] wasade commented on #1172
Just two minor questions, pandas supports changing the number of rows/columns shown on `repr`. Are display settings like that going to be available and modifiable at runtime? Second, should the output include sequence IDs?

[2015-11-24 21:53] ebolyen commented on #1172
@wasade Potentially, but really we just need something and quickly. So mark both of those cases as future enhancements for this repr.

[2015-11-24 22:59] anderspitman commented on #1172
@jairideout yep I can work on this.

[2015-11-24 23:09] jairideout opened #1198 "allow TabularMSA `positional_metadata` to define second axis length"
@ebolyen and I discussed this: it'd be consistent to allow TabularMSA's second axis (`position`) to have a length even if the first axis has length 0 (i.e., no sequences).

Known changes to make this happen:

- `__init__`
- `__bool__`
- `shape`
- `extend`

There may be other parts of the code that assume zero sequences implies zero positions. It'll be important to check each method for this assump

[2015-11-24 23:12] ebolyen commented on #1198
It should be noted that this isn't a high priority as the edge cases are rare and weird anyhow.

[2015-11-24 23:23] jairideout commented on #1198
Agree, and it isn't possible to get into a buggy state currently, this would purely be an enhancement.

[2015-11-25 18:59] jairideout commented on #1172
@anderspitman thanks, assigned!

[2015-11-25 22:10] #1093 closed

[2015-11-27 19:48] anderspitman commented on #1184
@ebolyen I see no reason not to close this. autobencher is working fine using the full URLs. The URLs are pretty much transparent to the users. So unless you want this left open feel free to close.

[2015-11-27 19:48] anderspitman commented on #1119
I believe this can be closed.

[2015-11-27 21:15] anderspitman commented on #1172
@jairideout @ebolyen is it ok if the common functionality lives in `util`?

[2015-11-27 22:55] anderspitman opened #1202 "Auto Jupyter Hub for PRs?"
Just had an idea. What do you guys think about making a tool for PRs where once a PR passes all checks (CI, ASV, Coverage, etc), a Jupyter Hub is automatically hosted using the branch from the PR. This way multiple people can bang on it and get a feel for functionality/find bugs. Might be useful for code reviews. This could run on powertrip.

As a user story, I just submitted #1201. It would be ni

[2015-11-29 20:24] wasade commented on #1202
That would be awesome. Preload cells from the cookbook or something?

On Fri, Nov 27, 2015 at 2:55 PM, Anders Pitman <notifications@github.com>
wrote:

[2015-11-30 01:15] anderspitman commented on #1202
Yeah I like that idea. The purpose would probably mostly for UX and visual testing. Things we can't really confirm as easily with automated tests. So loading from the cookbook would give a great starting point and also provide a set of smoke tests. Also has the added benefit of battle testing the cookbook regularly.

[2015-11-30 15:49] #1184 closed

[2015-11-30 15:50] #1119 closed

[2015-11-30 15:53] jairideout commented on #1172
What functionality specifically? The metadata formatting code should move to the mixins, not sure what other shared code there is for the reprs but `skbio._base` is probably a good location.

[2015-11-30 17:27] gregcaporaso opened #1203 "identify and remove functionality tagged as deprecated until 0.4.1"

[2015-11-30 17:28] jairideout commented on #1202
:+1: [binder](http://mybinder.org/) may be useful for this.

[2015-11-30 17:29] jairideout opened #1204 "update changelog for release"

[2015-11-30 18:36] gregcaporaso opened #1205 "pcoa documentation doesn't contain a "Returns" section"
I also can't find the docs for ``OrdinationResults`` - are those being linked from anywhere?

[2015-11-30 18:45] jairideout opened #1206 "update TabularMSA docs to use new repr"
Depends on #1172.

[2015-11-30 18:51] jairideout commented on #1205
It's possible `OrdinationResults` isn't being linked after it was moved from `skbio.stats.ordination` to `skbio._base` (importable from `skbio.OrdinationResults`). I'm not sure where/how we should link to this class, it's in an odd location now. Probably worth fixing this when we tackle the various diversity subpackages/classes (ContingencyTable, DistanceMatrix, alpha/beta diversity, etc.).

[2015-12-01 20:22] gregcaporaso opened #1210 "issues with docs in 0.4.0-dev"
Something changed since 0.4.0 (maybe new version of Sphinx, matplotlib, or numpydoc) which is causing two issues with the docs that @jairideout and I both confirmed in our local builds.

First, figures in the docs are too big, and are sometimes being truncated. For example, in the new ``skbio.diversity`` doc:

![screenshot 2015-11-30 11 53 11](https://cloud.githubusercontent.com/assets/192372/1151

[2015-12-01 20:28] #1187 closed

[2015-12-02 00:15] #1171 closed

[2015-12-02 00:15] #1172 closed

[2015-12-03 03:37] wwood opened #1214 "nose seems to be required at runtime"
Hi,

I came across this error while installing a package dependent on skbio within a virtualenv (python 2.7). The error basically boils down to this:
[code]
Easy enough to workaround, of course, by installing nose.

Thanks,
ben

[2015-12-03 16:54] jairideout commented on #1214
Thanks for catching this, nose should be added to setup.py's `install_requires`. I'll work on fixing this.

[2015-12-03 17:30] #1214 closed

[2015-12-03 19:30] jairideout opened #1217 "hook TabularMSA up to scikit-bio aligners"
Once this is done `SequenceCollection` and `Alignment` can be removed in favor of `TabularMSA`.

[2015-12-03 20:19] #1203 closed

[2015-12-03 21:51] #1197 closed

[2015-12-03 21:59] #1206 closed

[2015-12-03 22:05] #1076 closed

[2015-12-04 13:52] gregcaporaso commented on #1077
Ran into it again today, it basically happens with every real tree that is provides, so this method should be considered broken. I think we just need to choose one at random to break the tie.

[2015-12-04 14:34] jairideout commented on #1077
@wasade has a PR in to fix this: #1208 Just waiting on one minor change then it's ready for merge.

[2015-12-04 14:36] gregcaporaso commented on #1077
Oops, didn't see that.

[2015-12-04 16:41] gregcaporaso commented on #1077
This does work (in Py3), just for the record:

[code]

[2015-12-04 16:53] wasade commented on #1077
Awesome! I'll be honest, I always had trouble with the cogent
implementation too, which the skbio one is of course derived from. The
traceback on the PR would still be useful but my _guess_ is recursion depth
limit
On Dec 4, 2015 8:41 AM, "Greg Caporaso" <notifications@github.com> wrote:

[2015-12-04 17:03] gregcaporaso commented on #1077
Yep:

[code]

Is this something that could be fixed? If not, could we detect it and error (e.g., if there a max number of nodes in the tree that we can support, it would be great to just error and tell the user they are using a tree that's too big to support this operation with ``skbio.TreeNode``)?

[2015-12-04 17:14] wasade commented on #1077
Unrooted copy needs to be iterative. Iirc ete2 ups the recursion limit
which is not safe in the event of an errant process exploding the stack
(segfaults such to debug).

Could try/except, double recursion limit, try again then fail gracefully.
Iterative alg probably isn't hard but will take thought
On Dec 4, 2015 9:04 AM, "Greg Caporaso" <notifications@github.com> wrote:

[2015-12-04 17:26] gregcaporaso commented on #1077
I don't see a call to [``setrecursionlimit`` in the code base](https://github.com/jhcepas/ete/search?utf8=%E2%9C%93&q=setrecursionlimit&type=Code``) - why do you think it's doing that? Is there another way to increase the recursion limit?

[2015-12-04 17:28] gregcaporaso commented on #1077
I think we probably shouldn't worry about fixing it, but just detecting it and giving a better error message. We could just catch the ``RecursionError`` and point to a new issue about this that notes the workaround.

[2015-12-04 17:48] wasade commented on #1077
thought i saw it when digging through a 1.5yrs ago, either misremembering
or code revision

On Fri, Dec 4, 2015 at 9:26 AM, Greg Caporaso <notifications@github.com>
wrote:

[2015-12-04 17:50] wasade commented on #1077
interesting, so ete isn't doing a deepcopy but modifying in place. if you
trigger a deepcopy with it, it should hit recursion.

On Fri, Dec 4, 2015 at 9:48 AM, Daniel T. McDonald <
Daniel.Mcdonald@colorado.edu> wrote:

[2015-12-04 20:43] anderspitman commented on #1175
@jairideout @ebolyen What exactly is meant by inheriting from `GrammaredSequence`? For example, say we have:

[code]

That works fine. However, `IUPACSequence` currently also has inheritable behavior associated with it, for example the `_validate` method. So we need a way to pass on that functionality. Here's one way:

[code]

That feels really hacky and I wouldn't be surprised if there are seriou

[2015-12-04 20:53] jairideout commented on #1175
Can you make a private metaclass (e.g. `GrammaredSequenceMeta`) that performs alphabet/grammar validation and make `GrammaredSequence` use that metaclass? Then users won't have to know/care about the metaclass (because it is private) and they can just inherit from `GrammaredSequence` as usual.

[2015-12-04 20:55] jairideout commented on #1175
Sorry for the confusion, the issue description is unclear about `GrammaredSequence` *having* a metaclass that performs validation. I'll fix that.

[2015-12-04 21:00] anderspitman commented on #1175
It looks like that will work. The only caveat I see is that `GrammaredSequence` must have valid defaults defined for things to be validated, but that doesn't seem like too much of a problem.

[2015-12-04 21:05] ebolyen commented on #1175
Would it be possible to inherit from `ABCMeta` for `GrammaredSequenceMeta` and only do the checks after `super` is done? Then the ABC can complain, and when it's done we get to as well.

[2015-12-04 21:07] anderspitman commented on #1175
I was just looking at how to resolve the multiple metaclass problem. We can try chaining [`six.add_metaclass`](http://pythonhosted.org/six/#six.add_metaclass) or maybe something like [this](http://stackoverflow.com/a/14718529/943814).

[2015-12-04 21:12] anderspitman commented on #1175
Seems to work:

[code]

[2015-12-04 21:15] anderspitman commented on #1175
Works with `ABCMeta`, too. Makes me wonder, why does `ABCMeta` raise exceptions at object instantiation time rather than class declaration time?

[2015-12-04 21:20] ebolyen commented on #1175
Cool! `ABCMeta` probably behaves that way because you could decorate properties onto the class-object prior to any instantiation, so the ABC might be fulfilled after class declaration (or perhaps even in response to failure).

[2015-12-04 21:29] jairideout commented on #1185
Fixed in #1194.

[2015-12-04 21:29] #1185 closed

[2015-12-04 22:17] anderspitman commented on #1175
Does it still make sense for lowercase characters to be invalid by default for any `GrammaredSequence`? Seems like not.

[2015-12-04 22:23] ebolyen commented on #1175
hmm, I think you are right, but some of our writers will call `lowercase` so a `GrammaredSequence` would need to have that method at least, maybe it just wouldn't do anything?

[2015-12-04 22:28] anderspitman commented on #1175
Fine with me. If this becomes an issue at some point we can deal with it then.

[2015-12-04 22:33] ebolyen commented on #1175
@anderspitman @jairideout pointed out that this shouldn't be an issue at all in practice, if a lowercase letter is in the alphabet then it will pass `_validate`. So just don't have the metaclass care about casing.

[2015-12-07 16:31] gregcaporaso commented on #1077
@wasade, will you be able to address the comments on this PR? We'd need them by tomorrow to get into 0.4.1.

[2015-12-07 18:16] wasade opened #1221 "Support partial beta diversity calculations"
Currently, the beta diversity of all pairwise combinations of sample IDs are computed. However, it would be nice to compute only a partial set in the case of combining studies (i.e., only compute the necessary distances to merge a set of samples) or if performing a block-oriented computation of the subsequent full distance matrix to avoid duplicated compute.

A possible modification to the `beta_d

[2015-12-07 20:27] #1217 closed

[2015-12-07 20:29] ebolyen commented on #1036
fixed by removing SequenceCollection #1220

[2015-12-07 20:29] #1036 closed

[2015-12-07 20:30] ebolyen commented on #669
SequenceCollection no longer exists #1220

[2015-12-07 20:30] #669 closed

[2015-12-07 20:32] ebolyen commented on #874
`SequenceCollection` has been removed (#1220) in favor of Python list/generator-comprehensions.

[2015-12-07 20:32] #874 closed

[2015-12-07 20:33] #823 closed

[2015-12-07 20:34] ebolyen commented on #815
Will be solved with #1102

[2015-12-07 22:06] ebolyen commented on #1198
`__getitem__`

[2015-12-08 01:43] anderspitman commented on #1175
@jairideout @ebolyen The metaclasses don't seem to be playing nice with `classproperty`. When I try to access any of the properties from the metaclass within `__new__` or  `__init__` I'm getting:

`TypeError: argument of type 'classproperty' is not iterable`

[2015-12-08 15:17] gregcaporaso commented on #1077
Oops, it looks like comments on this are mixed between this issue and the corresponding PR, #1208.

[2015-12-08 16:14] gregcaporaso opened #1222 "add Sequence.replace"
This should likely take a boolean vector and a character to assign to all sequence positions corresponding to ``True`` values in the boolean vector. This would be useful, for example, for replacing all gap characters with the default gap character, or all degenerate characters with a single degenerate character (likely ``N``).

[2015-12-08 17:25] ebolyen commented on #1222
Depending on how people feel, we could also support both of these statements:
[code]
and
[code]

[2015-12-08 17:34] jairideout commented on #1222
:-1: for the first example. I think sequence data should remain immutable unless we have a real need for mutability. If we want to support mutability, the `__setitem__` API is likely more intuitive for users:

[code]

[2015-12-08 17:37] ebolyen commented on #1222
Good point

[2015-12-08 18:30] wasade opened #1223 "TreeNode.MaxDistTips is unexpectedly only valid on the node _set_max_distance was called on"
Example of the issue below where the internal nodes and the tips have inflated distances. This was discovered in #1208.

[code]

[2015-12-08 20:51] #1087 closed

[2015-12-09 10:56] ryneches opened #1225 "TreeNode.read should not turn underscores into spaces in taxa names"
For deeply silly reasons, it has become conventional in phylogenetics to represent spaces as underscores in taxa names (e.g., *Homo sapiens* would be `Homo_sapiens`). Owing to this historical blunder, one can make a good case that when displaying taxa names as labels in a figure, it is handy to automatically substitute spaces for underscores -- provided there is some way to suppress this behavior

[2015-12-09 16:24] #1077 closed

[2015-12-09 16:24] #1223 closed

[2015-12-09 16:31] gregcaporaso opened #1227 "skbio.root_at_midpoint hits recursion limit on large trees"
This method hits the recursion limit on very large trees (I hit it on a tree with around 3m tips). We should fix this, or at least provide a more useful error message (current error is not useful to users: ``RecursionError: maximum recursion depth exceeded``).

In the meantime, I work around this limitation by doing midpoint rooting with ``ete3`` as follows:

[code]

This issue was first noticed i

[2015-12-09 17:30] johnchase opened #1228 "Add permdisp to distance stats"
I am unable to find a python implementation of permdisp, and it seems like it fit well in scikit-bio and would be useful in conjuction with permanova which is already present. There is a good description of permdisp and it's value [here](http://www.esajournals.org/doi/abs/10.1890/12-2010.1).

Additionally the current version of QIIME [compare_categories.py](https://github.com/biocore/qiime/blob/ma

[2015-12-09 17:33] gregcaporaso commented on #1228
:+1: This will be an important addition as we're planning to use it as a default in QIIME 2.

[2015-12-09 18:38] anderspitman commented on #1175
Can we develop a more complete list of validations to perform? Other than default gap and degenerate expansion?

[2015-12-09 18:50] ebolyen commented on #1175
gaps, degenerates, and nondegenerates do not appear in each other's sets

I think that is probably it.

[2015-12-09 18:52] anderspitman commented on #1175
Will do.

[2015-12-09 18:52] anderspitman commented on #1175
Also, I think we need to make classproperty publicly importable in order for people to inherit from `GrammaredSequence`

[2015-12-09 18:55] anderspitman commented on #1175
Either that or automagically decorate the appropriate attributes from the subclass

[2015-12-09 18:57] ebolyen commented on #1175
I'm ok with that, but static properties work fine too.
[code]

If the user is creating their own class, we can trust them to understand what mutation will do.
We use `classproperty` to avoid situations (which have happened) where the alphabet will be borrowed and then mutated for a different purpose without realising the original on the class has been modified.

[2015-12-09 19:00] anderspitman commented on #1175
The problem is that the error if they forget to make it static or `classproperty` is very vague: "argument of type 'function' is not iterable".

I'll make `classproperty` public and document to use that or static properties.

[2015-12-09 19:08] ebolyen commented on #1175
:+1:

On Wed, Dec 9, 2015 at 12:00 PM, Anders Pitman <notifications@github.com>
wrote:

[2015-12-09 20:41] ebolyen opened #1230 "Figure out rules for copying when slicing objects and assigning properties"
It's not clear what the best solution is, but what we are doing could be considered a little strange:

[code]

[2015-12-09 20:48] jairideout commented on #1230
Applies to `Sequence` classes and `TabularMSA`. Includes figuring out constructor behavior in addition to setters and slicing.

[2015-12-09 20:58] #1086 closed

[2015-12-09 20:58] #1088 closed

[2015-12-09 20:58] #1102 closed

[2015-12-09 21:00] ebolyen commented on #1053
RFC complete!

[2015-12-09 21:00] #1053 closed

[2015-12-09 21:05] gregcaporaso commented on #1053
awesome!!!

[2015-12-09 21:13] wasade commented on #1225
Does `convert_underscores=False` resolve your issue? The parameter is described toward the bottom [here](http://scikit-bio.org/docs/latest/generated/skbio.io.format.newick.html#module-skbio.io.format.newick). The parameter details are not readily available in the `TreeNode.read` docstring, which suggests it may make sense for the `read` methods of objects to have a means to access these documentat

[2015-12-09 21:38] anderspitman commented on #1175
Here's my initial approach for disabling subclassing:

[code]

This works great on its own, but unfortunately applying that metaclass is a mess due to trying to combine `ABCMeta`, `GrammaredSequenceMeta`, and `DisableSubclassingMeta` all at once. It's running into MRO issues. Any suggestions?

[2015-12-09 21:57] anderspitman commented on #1053
:+1:

[2015-12-09 22:11] ryneches commented on #1225
Ah ha! Indeed it does. I think was expecting `.read()` to call the Newick parser, so I wasn't expecting to have to follow the breadcrumbs into the parser to find accessible parameters in `.read()`.

Curiously, it actually appears that the underscores only get replaced when you convert the tree into something else. If you iterate over `.tips()` and print them, you always see the underscores regardl

[2015-12-09 22:33] #1210 closed

[2015-12-09 22:38] ebolyen commented on #1175
Here is another example which doesn't use a dunder property:
http://stackoverflow.com/a/2826746/579416

As for `mro` would it be possible to just say `with_metaclass(Final, GrammaredSequence)`? Ideally each would only need this one metaclass and the rest is inheritance. I guess I don't know how you are applying this.

[2015-12-09 22:51] anderspitman commented on #1175
Using the current tip of #1219 the following doesn't work:

[code]

First because `Final` isn't inheriting `ABCMeta`, `GrammaredSequenceMeta`, and `type`. Changing the declaration of `Final` to:

[code]

Changes the error to MRO resolution. But I haven't been able to figure out a solution. Probably will end up needing to structure our metaclass inheritance very carefully. I'll keep working on it..

[2015-12-09 22:54] anderspitman commented on #1175
See the section on "Conflicting Metaclasses" [here](http://gnosis.cx/publish/programming/metaclass_2.html).

[2015-12-09 22:55] ebolyen commented on #1175
What if you used `add_metaclass`? It should reconstruct the classobj after GrammaredSequence has done it's thing?

If the `MRO` is still an issue, skip using super and call `__new__` explicitly on the `typeclass`

[2015-12-09 22:55] ebolyen commented on #1175
Thanks for the link! I'll check it out in a few.

[2015-12-09 23:44] #1179 closed

[2015-12-09 23:53] ebolyen commented on #1175
@anderspitman We're going to bump this to the next release, so there's a ton of time to figure this out now.

[2015-12-09 23:54] ebolyen opened #1236 "Update Website for 0.4.1"

[2015-12-09 23:55] ebolyen opened #1237 "Bump version to 0.4.1-dev"

[2015-12-10 00:02] gregcaporaso commented on #1204
addressed in #1235

[2015-12-10 00:03] gregcaporaso opened #1238 "updates to release.md"
- [x] base this on `conda` environments instead of `virtualenv`
- [x] note that version strings may need to be changed in new `@experimental/@deprecated/@stable` code under _Prep the release_

[2015-12-10 00:15] #1204 closed

[2015-12-10 00:19] wasade commented on #1225
`read` does call the Newick parser, but via the io registry system and the aptly named [`monkey_patch`](https://github.com/biocore/scikit-bio/blob/master/skbio/io/registry.py#L595) method.

I'm not able to reproduce this behavior w.r.t. the differential behavior of `convert_underscores`, or perhaps I'm misunderstanding. Can you provide an example please?

[code]

[2015-12-10 00:57] anderspitman commented on #1175
Sounds good.

[2015-12-10 01:30] ryneches commented on #1225
Sure. Here's the particular behavior that brought this to my attention in the first place :

[code]
produces the following output :
[code]
Note the underscores are still there, presumably as a result of the automatic invocation of `tip.__str__()`. In your example, you are invoking `tip.name.__str__()`, which produces a different result for some reason.

Then, we go ahead and suppress the underscor

[2015-12-11 20:15] johnchase opened #1241 "Should multiplicative_replacement raise a warning when Nans are generated?"
Running `multiplicative_replacement` in a table that contains a row of all zeros returns Nan for all of the items in that row.

[code]

This makes sense as there is no way to calculate a value for a row that only contains 0s, and returning zero defeats the purpose of running `multiplicative_replacement`.

I'm wondering if it may be valuable to raise a  warning though, as subsequently running `anco

[2015-12-11 23:13] mortonjt commented on #1241
That probably should raise an error - you shouldn't be able to pass in a vector with all zeros.

[2015-12-15 18:15] johnchase commented on #1241
This all looks good. Raising an error when a row of zeros is passed seems like a good solution for this issue. Thanks @mortonjt for looking into this!

[2015-12-15 20:51] #1236 closed

[2015-12-15 20:51] #1237 closed

[2015-12-16 16:17] wasade commented on #1181
Just syncing out-of-band email discussion about this thread here. A proof of concept block decomposition of the distance matrix is can be found [here](https://github.com/wasade/yummy-octo-duck/blob/master/ipynb/block%20distance%20matrix%20compute.ipynb) with a not-extremely-clean-but-works parallel adaption [here](https://github.com/wasade/yummy-octo-duck/blob/master/ipynb/block%20distance%20matri

[2015-12-17 05:15] geronimp opened #1244 "Error in TreeNode.read documentation"
Hi there,

The documentation describing the method of importing a tree is no longer correct in this tutorial, and possibly elsewhere:
http://scikit-bio.org/docs/latest/tree.html

**In documentation**
[code]
**Proposed fix**
[code]

Thanks,
Joel

[2015-12-17 19:31] ebolyen commented on #1244
Hi @geronimp! Our docs are actually written for Python 3. I would highly recommend switching if that is possible for you. It is a far superior language as far as file-handling is concerned. scikit-bio will eventually [completely transition to 3](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/002-py3-only.md).

Please feel free to give us a ping if there's anything else!

[2015-12-17 19:31] #1244 closed

[2015-12-18 02:19] ebolyen commented on #1241
Fixed in #1242

[2015-12-18 02:19] #1241 closed

[2015-12-21 22:02] ebolyen commented on #1225
@ryneches When you iterate over the tips, each tip is it's own `TreeNode` and is then serialized as `newick` using the current defaults (using `str` implicitly as you pointed out). When you access the `name` property directly that is the *actual* object model for the node name. This property is what is used as an `id` when creating a `DistanceMatrix` via `tip_tip_distances`.

In other words, your

[2015-12-21 22:02] #1225 closed

[2015-12-23 17:30] wasade opened #1247 "TreeNode.prune does not collapse single descendants from root properly"
I noticed this while working on a collapse [method](https://github.com/wasade/yummy-octo-duck/blob/master/ipynb/Tree%20array%20shearing.ipynb) (i.e., prune) for the tree arrays. The expectation is that `((a,b)c)extra;` should become `(a,b)c` as `extra` only contains a single child. Interestingly, the collapse happens partially if there are multiple extras where `(((a,b)c)extra1)extra2;` becomes `(

[2015-12-26 21:45] mortonjt commented on #1159
Just as a heads up, I've been testing out @shoyer 's PR.  It definitely seems functional.
Attaching a snippet of code using a gff file of the E coli genome below.

ftp://ftp.ncbi.nlm.nih.gov/genomes/genbank/bacteria/Escherichia_coli/reference/GCA_000005845.2_ASM584v2

[code]

So, what's left to discuss on this?  This new index seems to be appropriate for the positional_metadata.

[2015-12-29 22:59] anderspitman commented on #1175
@jairideout @ebolyen finally looked at this again. The MRO problem was easily fixed by inheriting only from `GrammaredSequenceMeta`. Currently all requested functionality has been implemented. I just need to add tests and docs for the last bit. Oh yeah and merge...

One last thing. I feel like I already asked this at one point but can't remember: why exactly are we not allowing subclassing of `DNA

[2016-01-04 18:01] jairideout commented on #1175
Awesome, thanks @anderspitman! We're not allowing subclassing of `DNA`, `RNA`, and `Protein` because some of their methods are hardcoded to use a specific alphabet (IUPAC), so subclasses that redefine the alphabet may not work correctly.

[2016-01-05 19:56] RNAer opened #1248 "graphical model for sequence collections"
This came up in the code review yesterday (@tanaes). It would be great to relate the sequences into a coherent entity in order to represent contigs in one genome or pan-genomes. We argue that it should be directed, cyclic (for circular genomes) or acyclic (for linear genomes) graphic model with distance between the nodes (contigs) as the gaps between contigs.

The advantages are 1) bring contigs i

[2016-01-05 19:58] mortonjt commented on #1248
:+1:  There seems to be quite a few benefits supporting formats such as
[FASTG](http://fastg.sourceforge.net/) as mentioned by @tanaes yesterday.

On Tue, Jan 5, 2016 at 11:56 AM, Zech Xu <notifications@github.com> wrote:

[2016-01-05 20:04] tanaes opened #1249 "Incorporate parser and data container for sequence assembly graphs?"
In talking with Zech and Jamie during a code review yesterday about the positional metadata problem (#1159), one thing that came up was incorporating support for graph-based representation of sequence collections (e.g. assemblies). Most microbial genomes aren't closed, and FASTA format leaves out a bunch of information about the relationships among contigs that can be recovered from the assembler.

[2016-01-05 20:34] ebolyen opened #1250 "`DistanceMatrix.from_iterable` excessively slow when using iterable of Sequence subclasses"
[code]
Takes an inordinate amount of time (it doesn't finish).

[code]
 Finishes instantly.

Ideally we would implement something to override the dispatch protocol, but for now an isinstance check inside of `from_iterable` would work.

[2016-01-05 20:42] ebolyen opened #1251 "Implement ufunc dispatch overriding for Sequence objects"
This would be the best solution to #1250.

Then any scipy/numpy ufunc would work quickly on Sequence objects. At this time I think `scipy.spatial.distance.hamming` is the only real use case, but there may be others.

[This document](http://docs.scipy.org/doc/numpy-1.10.0/reference/arrays.classes.html) targets how to subclass ndarray, but also describes how to manage ufunc dispatch correctly (witho

[2016-01-05 21:06] gregcaporaso commented on #1248
I agree that this could be a useful addition. We'd need to have it take lower priority than some of the other objects if a new object were required, but an RFC that started to explore some possibilities for how this would be represented might make sense. It's possible that we'd just need a parser that can load sequences as nodes in a networkx graph, which is pretty straight-forward to do.

[2016-01-05 21:06] gregcaporaso commented on #1249
Let's close this in favor of #1248.

[2016-01-05 21:06] #1249 closed

[2016-01-06 00:38] amnona opened #1252 "problem in header when parsing fasta file with skbio.io.read"
when i parse a fasta file with skbio.io.read:
    it=skbio.io.read(inputname, format='fasta')
    for cdat in it:
        seqid=cdat.metadata['id']

if the header of the fasta sequence contains spaces, it is truncated at the first space
(so for header >AY230771.1.1483 Bacteria;Firmicutes;Clostridia;Clostridiales;Lachnospiraceae;Lachnoanaerobaculum;Eubacterium sp. 'Smarlab BioMol-2301231'
i get 'AY

[2016-01-06 01:07] ebolyen commented on #1252
Yes, the rest is in `cdat.metadata['description']`.

[2016-01-06 01:11] ebolyen commented on #1252
Here is the [note](http://scikit-bio.org/docs/latest/generated/skbio.io.format.fasta.html#sequence-header) in our documentation that describes how `metadata` is set by the `fasta` format.

[2016-01-06 01:11] #1252 closed

[2016-01-07 19:31] JWDebelius opened #1253 "Create a post-hoc test for Permanova (permutative Tukey HSD)"
It would be really nice to have a permutative post-hoc test equivalent (like the Turkey test) for distance matrices.

The implementation seems to be similar to a t-test, although the Mean Standard Error is used over the pairwise standard error.

[2016-01-08 22:24] jairideout opened #1254 "Sequence objects incompatible with scipy distance metrics"
This issue describes a bug in computation of distances between `Sequence` (and subclasses) objects when using scipy distance metrics, so impacts `Sequence.distance` and `DistanceMatrix.from_iterable` when `iterable` is an iterable of `Sequence` objects.

Below we describe when the bug will be encountered when computing the distance between two `Sequence` objects, and between all pairs of `Sequence

[2016-01-13 22:26] jairideout opened #1256 "Python 3 Travis build timeout"
Master branch Python 3 builds are timing out on Travis. Able to reproduce locally after updating packages in `ci/pip_requirements.txt`.

[2016-01-14 00:17] jairideout commented on #1256
Still not sure what's going on. I was only able to reproduce this locally after updating packages in `ci/pip_requirements.txt` and it only happens in Python 3.4/3.5. The issue didn't surface when I had only updated the conda packages in `ci/conda_requirements.txt`.

The test that's hanging indefinitely is `python skbio/io/format/tests/test_fastq.py TestReaders.test_fastq_to_generator_solexa`. Comm

[2016-01-14 06:33] wwood commented on #1244
Hi @ebolyen, just to be clear here this isn't just a documentation thing, but skbio changes somewhere along the line between 0.2.2 and 0.4.0 broke our (test) code, arguably making this a regression.

Don't really want to migrate to python 3, but I guess we are left with little choice since it seems the 0.4 branch won't be maintained.

Ah progress.. thanks for the clear response though.

[2016-01-14 16:44] jairideout commented on #1244
@wwood can you please create a new issue with a code example illustrating the problem? This issue was about scikit-bio's doctests now being written in Python 3.

We're planning a minor bugfix release (0.4.2) which will be Python 2/3 compatible. This release should go live in the next couple of weeks. After that we are planning to support Python 3 only for future releases.

[2016-01-14 21:30] wwood opened #1257 "TreeNode.read and unicode"
On python 2.7, this happens
[code]
Can be worked around like so
[code]
See also #1244

Thanks.

[2016-01-14 21:30] wwood commented on #1244
OK, thanks. That'll be #1257

[2016-01-19 17:06] jairideout commented on #1257
This is intended behavior, though we should have noted this backwards-incompatible change in the changelog when transitioning to 0.4.0, sorry for the inconvenience.

As of 0.4.0, scikit-bio's I/O system supports [these input types](http://scikit-bio.org/docs/0.4.0/generated/generated/skbio.io.util.open.html#skbio.io.util.open). This includes `io.StringIO`, which requires unicode input. This is why

[2016-01-19 17:06] #1257 closed

[2016-01-19 23:46] wwood commented on #1257
Thanks for the response.

As I understand (and I'm certainly no python afficionado), this is untrue: it is just in python3 all strings are unicode by default. This is an issue with skbio, not io.StringIO.

But anyway, in our case we can just prepend u to all the strings to make them unicode and be done with this.

[2016-01-20 15:46] jairideout commented on #1257
This is not an issue with scikit-bio. `io.StringIO` requires unicode input. In Python 3, you are correct that string literals are unicode by default, which is why your code works in Python 3. In Python 2, string literals are `bytes`/`str` by default unless prepended with `u`.

Trying to pass `bytes` as input in Python 3 raises the same error, independent of scikit-bio:

[code]

Likewise, we see a

[2016-01-20 17:57] ebolyen commented on #1257
@jairideout is right about how Python 2.7/3 interact with `StringIO`. I'd like to mention some of the reasons this issue exists at all:

One of the real design reasons for `skbio.io` to behave in this way is that `StringIO.StringIO`**** expects C strings (ASCII, null-terminated). This is actually a really broken way to think about textual data. Furthermore given the ability for `skbio.io` to simul

[2016-01-25 16:13] izaakm opened #1258 "Cannot find `skbio.diversity`..."
Does this module still exist?

I recently installed scikit-bio with pip on OSX. I have never used scikit-bio before.

`dir(skbio)` returns the following:

[code]

Running the test returns the following:

[code]

[2016-01-25 18:41] ebolyen commented on #1258
Thanks for posting this @izaakm! `skbio.diversity` is still a part of scikit-bio, it's in fact just been updated with new phylogenetic metrics. The test failures strike me as a dependency conflict. Could you reply with the contents of `pip freeze`?

[2016-01-25 20:35] izaakm commented on #1258
NP

[code]

[2016-01-25 23:08] jairideout commented on #1258
Thanks for the `pip freeze` output. I'm able to reproduce the test failures on OS X in Python 2 and 3. The tests pass with scipy 0.16.1 (available via `conda` and `pip`) but fail with scipy 0.17.0 (only available via `pip`). Looking into it further, will post back with more details.

@izaakm regarding `skbio.diversity`, does the following work for you?

[code]

The package may just be missing from

[2016-01-26 00:00] jairideout commented on #1258
The two ANCOM tests are failing because something in `scipy.stats.mannwhitneyu` changed between scipy 0.16.1 and 0.17.0. Changing `test_ancom_alternative_test` to pass `alternative='less'` fixes the test. However, making the same change to `test_ancom_normal_data` doesn't fix the failure.

@mortonjt are you available to look into these ANCOM test failures?

[2016-01-26 00:07] izaakm commented on #1258
Oops, I thought I had tried that... `import skbio.diversity` does work for me, thank you.

[2016-01-26 02:48] mortonjt commented on #1258
I'll try to take a look at those tests this week.

On Mon, Jan 25, 2016 at 4:00 PM, Jai Ram Rideout <notifications@github.com>
wrote:

[2016-01-26 16:21] jairideout commented on #1258
Thanks!

[2016-01-26 16:29] jairideout opened #1259 "ANCOM unit test failures with scipy 0.17.0"
The following ANCOM unit tests fail with scipy 0.17.0 on Python 2 and 3:

[code]

The tests pass using the previous scipy release (0.16.1, available via `conda` and `pip`). Note that scipy 0.17.0 is currently only available via `pip`.

The tests are failing because something in `scipy.stats.mannwhitneyu` changed between scipy 0.16.1 and 0.17.0. Changing `test_ancom_alternative_test` to pass `alter

[2016-01-26 16:30] jairideout commented on #1258
Closing in favor of #1259 for tracking ANCOM unit test failures.

[2016-01-26 16:30] #1258 closed

[2016-02-01 17:13] mortonjt commented on #1259
Thanks for investigating this.

What do you recommend to fix this?  Can we just update the tests and require the development version of scikit-bio to depend on scipy 0.17.0?

[2016-02-01 17:27] jairideout commented on #1259
I'm not sure what the fix is -- we'd want to know why the expected values are different between scipy versions before updating the unit tests to use new expected values (the observed vs. expected values are very different).

[2016-02-01 18:08] mortonjt commented on #1259
Of course, let me add some more context

Looking at the `test_ancom_normal_data` test case

If you look at the original p-value matrix generated by the mann-whitney U-test with scipy==0.16, you get the following.
[code]
Now, if you look at the same p-value matrix with scipy==0.17, you'll get different results
[code]
And this is still different when  alternative='less'
[code]

So, looks like the ma

[2016-02-01 18:17] jairideout commented on #1259
Thanks for the details! Can these two tests be updated to use a different scipy stat function that is better behaved across scipy versions?

[2016-02-03 01:25] jairideout commented on #1259
Fixed in #1260.

[2016-02-03 01:25] #1259 closed

[2016-02-03 21:30] jairideout commented on #1256
Accidentally closed from commit.

[2016-02-03 22:12] Jorge-C opened #1262 "Locale dependent tests"
There are some test errors when the system's locale is not C or en_US. This command reproduces the failures: `LANG="es_ES.UTF-8" make test`. Changing it to `LANG="en_US.UTF-8" make test` solves the problems.

[code]

[2016-02-03 22:38] jairideout commented on #1262
Duplicate of #1153

[2016-02-03 22:38] #1262 closed

[2016-02-03 22:42] jairideout commented on #1153
:+1: for removing the date string parsing. Any objections to me working on this?

[2016-02-03 22:45] RNAer commented on #1153
not at all. go for it!

On Wed, Feb 3, 2016 at 2:43 PM, Jai Ram Rideout <notifications@github.com>
wrote:

[2016-02-03 23:28] jairideout commented on #1153
PR here: #1263

[2016-02-04 16:56] #1153 closed

[2016-02-04 21:39] ebolyen opened #1264 "`skbio.io.open` does not return a re-decoded/re-newlined filehandle when given a filehandle"
Current behaviour is to return the filehandle without change. Some very odd edge-cases could be solved if `open` returned a new file-handle with new `newline` arguments.

A super unusual example of this might be where a user has a filehandle with a particular newline, but does not specify the format, and the sniffing mechanism is invoked. If we had a format with a particular opinion about newlines

[2016-02-05 12:27] claumer opened #1266 "local_pairwise_align_ssw giving unpredictable AlignmentError"
Hi skbio devs,

I'm seeing what I think of as odd behavior from the alignments.local_pairwise_align_ssw function. I've written a script which takes an unaligned, multisequence fasta file and uses this function to compute SW alignments to all pairs in the fasta, then removes some sequences in the fasta from the results.  The core function looks like this (using BioPython for I/O):

[lentol.txt](htt

[2016-02-08 17:03] jairideout opened #1267 "RDA and composition test failures"
Master is currently failing the following RDA and composition tests:

RDA:

[code]

Composition:

[code]

The composition doctest failure should be easy to fix with `round`. The test passes with numpy 1.10.2 and fails with 1.10.4.

I'm not sure about the RDA unit test failures -- these values are different even though the tests are using `npt.assert_almost_equal`. Upgrading/downgrading scipy/numpy

[2016-02-08 17:52] jairideout opened #1268 "rendering issues with built HTML docs"
Noticed a couple issues with the built HTML docs (including the ones currently hosted on scikit-bio.org):

1. Function/method/class signatures have an extra space between the object name and its import path (was the color change intentional?):

    Previous:

    ![screen shot 2016-02-08 at 10 45 43 am](https://cloud.githubusercontent.com/assets/1847232/12893922/2f46eade-ce51-11e5-9d81-7518490fe83

[2016-02-08 20:01] ebolyen commented on #1268
1. The spacing seems to be a CSS bug (padding of code cells, signatures weren't originally code cells at all). Color change wasn't intentional so much as a side-effect that didn't matter.
2. This must be an issue with the latest version, the current site shows bold.

[2016-02-08 20:01] Jorge-C commented on #1267
Yep, the issue is pretty simple: the eigendecomposition routines don't guarantee signs (i.e, the answer is correct modulo signs) and they can change between lapack implementations, versions, etc.

There's a testing function that does some smart checks to normalize signs and avoid "stochastic" failures like this one. Thus, either the failing test is not calling the normalizing routine first, or the

[2016-02-08 20:02] Jorge-C commented on #1267
Also, I'll send a PR.

[2016-02-08 23:37] ebolyen commented on #1268
Update on 2: this is probably caused by a font installation issue. I suspect the bold ubuntu font isn't provided by the CSS.

[2016-02-08 23:44] jairideout commented on #1268
Yep I can confirm 2 is a font issue, removing "Ubuntu" font fixes it for me in Chrome for Mac.

[2016-02-08 23:59] jairideout commented on #1267
Thanks @Jorge-C!

[2016-02-09 16:40] #1267 closed

[2016-02-10 23:40] ebolyen commented on #1256
This bug is truly awful. :-1: :x: :100:

[2016-02-12 19:22] Leprechault commented on #1253
Hi Debelius, there are anybody working with this?

Thanks,

Alexandre

[2016-02-12 19:54] jairideout commented on #1253
@Leprechault I'm not aware of anyone working on this. Are you interested in contributing this functionality to scikit-bio?

[2016-02-12 21:30] #1268 closed

[2016-02-12 21:47] ebolyen commented on #1256
For anyone who wants to play along, this example will spin-lock if run as a unittest, or in IPython. Normal Python interpreter does not produce this bug.
[code]

This appears to be related to the following:
[`contextlib.ExitStack introduces a cycle in exception __context__` ](https://bugs.python.org/issue25786)

... :-(

[2016-02-12 22:47] jairideout commented on #1251
I ended up implementing the [numpy array interface](http://docs.scipy.org/doc/numpy/reference/arrays.interface.html) so that a scikit-bio `Sequence` object converts to an `ndarray` of characters (same as calling `.values`) when called with `np.asarray`/`np.array`. This "conversion" actually just shares the underlying data buffer with numpy, so no extra copy is made. We get a nice error if a ufunc

[2016-02-12 22:47] #1251 closed

[2016-02-12 22:50] #1250 closed

[2016-02-12 22:50] #1254 closed

[2016-02-12 22:59] jairideout commented on #1256
This is a bug in Python and there isn't much we can do to fix it. Bumping this issue to 0.5.0 milestone since we have a workaround (contextlib2 version cap).

[2016-02-15 06:40] kdmurray91 commented on #1256
I've just hit this bug running the tests as a part of the Debian packaging. Aside from disabling this test, is there any workaround independent of capping contextlib2's version (which is verboten in Debian)

[2016-02-15 13:11] ebolyen commented on #1256
We aren't aware of any at this time. The best we could do is create our own `ExitStack` which is functionally the same as just capping `contextlib2`. This is a pretty serious bug in CPython for us, but we don't really know when it will be resolved properly.

If anyone knows more about `__context__` chaining in CPython and what it's good for, we would love to learn more.

[2016-02-15 19:27] kdmurray91 commented on #1256
@ebolyen unfortunately I'm not that well versed with this corner of Python. For now, I'll just comment that test out, with a note that this is a CPython bug and a reference to this github issue.

After doing so I've noticed some other test failures, but I'm going to create a separate issue for those.

Cheers,
K

[2016-02-15 22:30] ebolyen commented on #1256
Thanks @kdmurray91. We are planning a maintenance release this Wednesday, so we would be happy to try and address anything else you can find.

[2016-02-15 22:39] kdmurray91 opened #1275 "Issue with GZIP IO unit tests in Debian CI"
Hi all,

i've added [debian autopkgtests](https://ci.debian.net/) to the skbio packages. in doing so I've noticed some strange test failures.

The output is below. Reproducing this exactly might be a bit of a pain, but if you have docker I can give you a dockerfile that should help.

Cheers,
K

----

## Python 2:
[code]

## Python 3
(looks superficially the same to me, but here it is anyway)

[cod

[2016-02-15 22:40] kdmurray91 commented on #1256
@ebolyen  see #1275 :)

[2016-02-15 23:10] Jorge-C commented on #1275
I'd be happy to look at reproducing this. Can you point us to the dockerfile? Thanks!

[2016-02-16 02:49] kdmurray91 commented on #1275
I can, however I realised that you'll need to use the development version of the skbio debian package that has a few patches to the tests to make things work.

[2016-02-16 04:18] ebolyen commented on #1275
@kdmurray91 given that these tests are all gzip related, I would hazard a guess that it has to do with timestamp. gzip sticks the timestamp at the front of the file, if that isn't there (probably the case) or is different somehow (?), then the "offset" that the tests use will be different. All of the gzip tests skip the first 10 bytes which are volatile, but this probably doesn't hold in all situa

[2016-02-16 17:57] jairideout opened #1276 "provide better error message when supplying NaNs to DistanceMatrix"
Current error message points to symmetry because NaN never compares equal to itself:

[code]

[2016-02-16 18:20] jairideout commented on #1175
Fixed in #1273.

[2016-02-16 18:20] #1175 closed

[2016-02-16 19:51] kdmurray91 commented on #1275
So it turns out this is going to be a right pain in the butt for you guys to reproduce, as I can only get it to happen inside the build environment (I think). Is there anything I can do locally that can help test your theory @ebolyen? Or should I just make a Docker image that sets up the build environment? Or do one of you run Debian?

[2016-02-16 22:08] ebolyen commented on #1275
I run Ubuntu, how Debian-y does it need to be to reproduce?

Also, I think I have an idea for how to fix it: instead of skipping bytes, we just read so many from the back of the file. Then it doesn't matter what gzip does to the front of the file. If we can't reproduce it locally, would you be willing to try that on some of the failing tests to see if that fixes the problem?

[2016-02-16 22:12] kdmurray91 commented on #1275
Well you need to be able to pull packages from debian unstable and set up a git pbuilder, so actual Debian levels of Debian are required :smile:.

Luckily I'm running debian unstable here, so if you can give me a patch (or branch or whatever) implementing the above it's pretty easy for me to test it.

[2016-02-16 22:26] jairideout commented on #1275
Thanks @kdmurray91! I think we should be able to just compare the last 8 bytes of the file since that includes the checksum and uncompressed data length. I'll get those changes pushed to a branch so you can test.

[2016-02-16 22:52] jairideout commented on #1275
@kdmurray91 the potential fix I described is on my fork's `issue-1275` branch: https://github.com/jairideout/scikit-bio/tree/issue-1275

Is this sufficient for you to be able to test locally?

[2016-02-16 23:02] kdmurray91 commented on #1275
Yep, that's perfect. Testing now

[2016-02-16 23:02] jairideout commented on #1256
@ebolyen @kdmurray91 maybe it would be better for the code to raise an error that isn't a subclass of `RuntimeError` for now until the bug is fixed in Python? This way users won't get spinlocked if they have a newer version of contextlib2, and we can remove the version cap.

[2016-02-16 23:09] kdmurray91 commented on #1275
@jairideout can confirm your fix works! Thanks for the fast debugging.

Out of interest, when are you likely to do the 0.4.2 release? If this is in the next few days I'll hold off on the debian release till then, otherwise I'll upload today.

[2016-02-16 23:15] jairideout commented on #1275
Great, glad to hear that fixed it! Thanks for testing locally. I'll submit a PR to get the fix in scikit-bio.

We're planning on releasing 0.4.2 tomorrow. If you notice anything else in the meantime, please let us know and we'll do our best to fix it for the release. I had one release-related question [here](https://github.com/biocore/scikit-bio/issues/1256#issuecomment-184911155) that might be go

[2016-02-16 23:17] kdmurray91 commented on #1256
@jairideout That sounds sane to me. Will that break any user code doing `try: x except RuntimeError: pass`though? (This isn't a part of skbio i'm very familiar with).

[2016-02-16 23:27] jairideout commented on #1256
It's possible, but we're only raising `NotImplementedError` in a single place: it happens when trying to read a FASTQ or QSEQ file with `variant='solexa'`, which immediately raises the error. Technically this is a backwards-incompatible stable API change but we didn't explicitly document that `NotImplementedError` would be raised and I doubt user code would be broken, so in practice this change ma

[2016-02-16 23:29] ebolyen commented on #1256
Probably better than spinlocking the process... Would we change it to `ValueError` for now?

[2016-02-16 23:31] #1275 closed

[2016-02-16 23:31] jairideout commented on #1256
Yeah that makes sense. I'll add this issue back to the 0.4.2 milestone.

[2016-02-17 17:32] #1276 closed

[2016-02-17 18:44] jairideout commented on #896
Fixed in #904.

[2016-02-17 18:44] #896 closed

[2016-02-17 18:54] jairideout commented on #1256
#1279 implements the temporary `ValueError` change.

[2016-02-17 18:59] ebolyen commented on #1256
Merged, I'm going to bump this to 0.5.0 where we can revisit if this has been fixed.

[2016-02-17 19:18] jairideout commented on #1256
@kdmurray91 heads up that you shouldn't need to comment out that spinlocked test case or contextlib2 version cap for the Debian package. (I'm hoping with 0.4.2 you won't need to make any source code changes when creating the Debian package, please let us know if that isn't the case.)

[2016-02-17 19:24] kdmurray91 commented on #1256
@jairideout Sweet as, I'll test that as soon as 0.4.2 is released.

Thanks for being so friendly to package maintainers!! Makes life much easier for us. As an aside, you can view the current patch stack for debian [on git.debian.org](http://anonscm.debian.org/cgit/debian-med/python-skbio.git/tree/debian/patches)

[2016-02-17 19:30] jairideout commented on #967
Fixed in #1243 and #1270.

[2016-02-17 19:30] #967 closed

[2016-02-17 21:15] jairideout commented on #1256
Great, thanks! We're working on fixing some of those patches now. Just posted a couple questions on Gitter about the ones we're not sure of. Note that [this patch](http://anonscm.debian.org/cgit/debian-med/python-skbio.git/tree/debian/patches/0005-Fix-test-failure-patch-from-upstream.patch) can be dropped for 0.4.2.

[2016-02-17 22:09] kdmurray91 opened #1283 "Debian documentation build error"
Hi @ebolyen @jairideout,

Here is the doc build error I spoke of on gitter. Turns out that it doesn't kill the build even with that patch disabled, which is strange.

[code]

Cheers,
K

[2016-02-17 22:13] ebolyen commented on #1283
Are you running the doc build in Python 3 or 2? This error looks like it is caused by `io.StringIO` which will work fine in Py3 as string literals are unicode, but will make Python 2 all upset.

[2016-02-17 22:13] ebolyen commented on #1283
Basically our docs only build in Python 3.

[2016-02-17 22:13] kdmurray91 commented on #1283
Hmm. that could be it

[2016-02-17 22:14] kdmurray91 commented on #1283
I'll see if I can force a python3 build

[2016-02-17 22:14] ebolyen commented on #1283
Thanks @kdmurray91!

[2016-02-17 23:27] jairideout commented on #1283
Closing since this ended up being a Python 2 issue (see gitter).

[2016-02-17 23:27] #1283 closed

[2016-02-18 17:04] jairideout opened #1288 "add PairwiseAlignment class"
This class should store two `GrammaredSequence` objects, the pairwise alignment score, and the start/end positions of the respective sequences. This class should have a `to_tabular_msa` method to convert itself into a `TabularMSA`. Note that the `TabularMSA` will not store the score and start/end positions.

Once this class is implemented, the pairwise alignment functions in `skbio.alignment` shou

[2016-02-18 17:05] jairideout commented on #1015
Closing in favor of #1288.

[2016-02-18 17:05] #1015 closed

[2016-02-18 17:05] jairideout commented on #1288
@anderspitman are you interested in working on this?

[2016-02-18 17:06] jairideout commented on #1071
@anderspitman are you interested in working on this? It'd be a good next step now that we have `GrammaredSequence`.

[2016-02-18 17:09] jairideout commented on #913
@Kleptobismol are you interested in working on this?

[2016-02-18 17:15] Kleptobismol commented on #913
Yes.

[2016-02-18 18:30] Kleptobismol commented on #913
@gregcaporaso the analysis that ``kmer_distance`` performs appears to be qualitative--finding only how many unique kmers exist. Should this be the default functionality as opposed to quantitative? Also, I have no problem writing tests for this ported code, but I cant seem to find any tests in your code. Are there any? Thanks!

[2016-02-22 22:40] jsevo commented on #835
Hey,

How are you getting on with this? I actually implemented all these functions myself last week and am happy to look over you prototype / discuss. The prototype is not accessible to me at the moment though.

[2016-02-22 22:50] mortonjt commented on #835
Hi @jsevo .  Glad that you are interested!

All of the core methods have been implemented as of #860 and #892 - the functions can be found [here](https://github.com/biocore/scikit-bio/blob/master/skbio/stats/composition.py).

Let me know if you have any trouble using these functions.  Also if you have code for visualizing compositional biplots or ternary plots, I'll be happy to review it.

[2016-02-23 19:47] jairideout commented on #835
@mortonjt can this issue be closed now that #892 is merged?

[2016-02-23 19:49] mortonjt commented on #835
:+1: on closing it

On Tue, Feb 23, 2016 at 11:47 AM, Jai Ram Rideout <notifications@github.com>
wrote:

[2016-02-23 19:53] #835 closed

[2016-02-23 20:44] jsevo commented on #835
:+1: on closing it

[2016-02-24 19:18] jairideout commented on #905
Closing in favor of #913.

[2016-02-24 19:18] #905 closed

[2016-02-26 08:21] RNAer opened #1291 "`skbio.io.write` does not play well with `tempfile.NamedTemporaryFile`"
[code]

errors:
[code]

[2016-02-26 17:54] ebolyen commented on #1291
:+1: This should be possible to support once Python 2.7 is dropped. The `NameTemporaryFile` will then be composable file object.

[2016-02-26 18:29] RNAer commented on #1291
cool. just curious, when is the plan to drop python2 support?

On Fri, Feb 26, 2016 at 9:54 AM, Evan Bolyen <notifications@github.com>
wrote:

[2016-02-26 18:47] jairideout commented on #1291
I'm in the process of dropping Python 2 from the codebase, PR coming soon. The next release of scikit-bio will be Python 3 only.

[2016-02-26 18:49] RNAer commented on #1291
:+1: awesome!

On Fri, Feb 26, 2016 at 10:47 AM, Jai Ram Rideout <notifications@github.com>
wrote:

[2016-02-26 20:43] #913 closed

[2016-02-26 21:14] gregcaporaso opened #1293 "ancom should report mean/std abundance of OTUs"
This information helps in interpreting results, and computing it outside of ANCOM isn't good, as it requires the user to reproduce the grouping. For example, a dataframe like this would be ideal (building on the docstring example):

<img width="403" alt="screenshot 2016-02-26 14 13 47" src="https://cloud.githubusercontent.com/assets/192372/13365599/2ff03a58-dc93-11e5-9cb0-ff422d19a959.png">

I'll

[2016-02-27 03:34] RNAer opened #1294 "cleaner unittest with mock"
Some of the unittests can be improved with `unittest.mock` (https://docs.python.org/3/library/unittest.mock-examples.html)?

[2016-02-29 16:32] jairideout commented on #1294
That looks useful! If there are specific tests that you think should be using this, can you create new issue(s) with those details? I'll mark this issue as a question and close it.

[2016-02-29 16:32] #1294 closed

[2016-02-29 16:38] RNAer commented on #1294
not at the moment, I'll create specific issues when I see them. just
brought this to the spotlight.

On Mon, Feb 29, 2016 at 8:32 AM, Jai Ram Rideout <notifications@github.com>
wrote:

[2016-02-29 16:44] jairideout commented on #1294
Awesome, thanks!

[2016-03-01 04:47] #1038 closed

[2016-03-01 05:07] mortonjt commented on #1038
This seems to overlapping with the IntervalMetadata object : https://github.com/biocore/scikit-bio/issues/1159

[2016-03-01 05:49] mortonjt commented on #1293
If I'm understanding this correctly.

There are some preprocessing steps within `ancom` that you want to take advantage of correct?
Otherwise you could just do something like
[code]

But now since we are adding in additional statistics, why limit to mean and std?  How about 25%, 75% quartiles, min and max?

The point is, I'm not completely convinced that this sort of information should be coupled

[2016-03-01 09:25] kyu999 opened #1295 "Not available at python2.7?"
I am new to this library, and tried to install at python2.7.
But, pip install failed.
[code]

[2016-03-01 09:26] kyu999 commented on #1295
Of course, python is installed.

[2016-03-01 12:30] gregcaporaso commented on #1293
Yes, the issue is that I want to make sure that the abundances that we're looking at are the same as the ones that ancom is comparing. Five-number summary, like you're suggesting, is probably a better idea.

This will be really important for QIIME 2, so I'm putting this in the 0.5.0 milestone.

[2016-03-01 14:24] #1295 closed

[2016-03-01 15:09] ebolyen commented on #1295
Hey @kyu999, the issue is with Matplotlib (from the error it looks like you are on a Mac?).

 As a general rule: Python packaging is a total mess/nightmare. To mitigate this I would recommend using either `VirtualEnv`, or `conda`. `conda` is pretty nice because it also acts as a distribution manager in addition to a Python sandbox.

[2016-03-01 15:10] ebolyen commented on #1295
Also, we are going to be dropping support for Python 2.7 very soon, so switch to 3 if possible (once again, `conda`/`VirtualEnv` can do this for you.

[2016-03-01 16:41] jairideout commented on #1293
I agree with @mortonjt that this info shouldn't be coupled with ANCOM output. For now I think it's okay to add the summary stats you guys are suggesting (since there is an immediate use-case, and it is an experimental API), but we'll need to revisit this when we have the contingency table class. I think those stats make more sense there.

[2016-03-01 16:57] jairideout opened #1296 "remove numpy bootstrap hack in setup.py"
This hack causes #997, which doesn't have a clear/clean fix. Since we're moving forward with conda, which doesn't have this problem, I think we should remove the hack and acknowledge that when installing scikit-bio with pip/setup.py, numpy must be installed first.

Update README.rst pip install instructions to be:

[code]

[2016-03-01 16:59] jairideout commented on #997
Closing in favor of #1296.

[2016-03-01 16:59] #997 closed

[2016-03-01 17:01] souravsingh commented on #1296
I would like to work on the issue

[2016-03-01 17:02] ebolyen commented on #1296
Sounds great, thanks @souravsingh!

[2016-03-01 18:24] gregcaporaso commented on #1293
That makes sense about getting the stats from contingency table. ANCOM should get the distributions of feature abundances by group from there (they'd need to be computed there to get the stats on them), which would address my concern about making sure the summaries are of the same distributions that ANCOM is operating on.

[2016-03-02 00:56] kyu999 commented on #1295
@ebolyen Thanks for your help!

[2016-03-03 17:58] #833 closed

[2016-03-04 18:26] #1222 closed

[2016-03-05 07:57] mr-karan commented on #1048
I'd like to work on this

[2016-03-07 07:02] aaajjj333 commented on #941
I got this error when installing Scikit-bio on Windows 7..
Any Ideas???

`PS H:\> pip install scikit-bio
Collecting scikit-bio
  Using cached scikit-bio-0.4.2.tar.gz
Requirement already satisfied (use --upgrade to upgrade): bz2file>=0.98 in c:\python27\lib\site-packages (from scikit-bi
o)
Requirement already satisfied (use --upgrade to upgrade): lockfile>=0.10.2 in c:\python27\lib\site-packages (f

[2016-03-07 07:07] aaajjj333 opened #1300 "Installation error when I "pip install scikit-bio" on Windows 7 related to Visual C++ for Python"
I got this error when installing Scikit-bio on Windows 7..
Any Ideas???

cl : Command line error D8021 : invalid numeric argument '/Wno-error=declaration-after-statement'
error: command '"C:\Users\n8451214\AppData\Local\Programs\Common\Microsoft\Visual C++ for Python\9.0\VC\Bin\cl.exe"' failed with exit status 2

[2016-03-07 16:15] ebolyen commented on #1300
Hey @aaajjj333, I suspect this is related to the SSW package and Windows support in general (#702). We are planning on replacing those finicky components in 0.5.0 which should make scikit-bio installable on Windows. Until then, Windows isn't supported yet.

[2016-03-07 16:15] #1300 closed

[2016-03-07 16:15] jairideout commented on #1048
Thanks @mr-karan! Let us know if you have any questions or need further details.

[2016-03-07 16:48] jairideout commented on #941
@aaajjj333 scikit-bio isn't supported on Windows yet. We are planning to support Windows in the near future (within the next release or two, see #702 to track progress).

[2016-03-10 09:09] mr-karan commented on #1048
Hi. I have some issue implementing this. My approach:

[code]

And I get `TypeError: non-empty format string passed to object.__format__`

[2016-03-10 14:06] jhcepas opened #1301 "scipy not installed automatically when using conda"
Hi guys,
Our ETE Travis tests stopped working recently due to unresolved dependencies of scikit-bio (conda 4.0.2, skbio 0.4.0):
https://travis-ci.org/etetoolkit/ete/jobs/115001565

we solved it by adding scipy explicitly to the conda installation (https://travis-ci.org/etetoolkit/ete/jobs/115063171 ), but you may want to check.

[2016-03-10 15:29] jairideout commented on #1301
@jhcepas it looks like your `conda install` command is grabbing scikit-bio 0.4.0 from Anaconda's default channel, which AFAIK we don't have control over. The official conda scikit-bio releases are available under the `biocore` channel (versions 0.4.1 and later). You can install that with:

[code]

I'll close this for now, please reopen if that doesn't resolve your issue.

[2016-03-10 15:29] #1301 closed

[2016-03-10 15:32] jairideout opened #1302 "add conda badges to README and website"
[These conda badges](https://anaconda.org/biocore/scikit-bio/badges) would be cool to have in the README and website.

[2016-03-11 03:09] ebolyen commented on #1048
@mr-karan sorry for the delay, we are all on a tight schedule at the moment, but looking at your code, nothing seems wrong (though we don't need the plain `format` method). The error honestly looks like `__format__` isn't getting overridden. I would double check that perhaps, could you post a commit or patch showing the exact changes made so far?

[2016-03-11 15:18] mr-karan commented on #1048
@ebolyen I made some changes in the original code shared, doesn't seem to work though

[2016-03-11 16:04] ebolyen commented on #1048
I see the problem, sorry this issue wasn't clearer (and that I didn't notice last night).

So one of the principle features of scikit-bio's IO system is the ability to define your format logic in one place and register that functionality with many classes. File-formats to objects are a many-to-many relationship, so we use the registry to bridge this gap. How it works, is it scans the formats and r

[2016-03-15 01:08] kdm9 opened #1305 "skbio cannot read newick trees with partitions"
Hi all,

I'm working a lot recently with genome simulations using tools like `scrm` and `ms`. These simulators output newick trees with a partition length (representing recombinations). The format of this is:

[code]

An example of this [comes with seq-gen](https://github.com/rambaut/Seq-Gen/blob/master/examples/recombinant.tree).

Currently `skbio.read('filename.nwk', into=TreeNode)` fails with:

[2016-03-16 05:24] kdmurray91 opened #1306 "Generic `LabeledMatrix` type"
Hi all,

A project I maintain uses pairwise similarity matricies that are essentially distance matricies pre-normalisation and conversion to distances. I would love to be able to manipulate these matricies in a way that is consistent with DistanceMatrix objects with regards to IO and metadata  storage, but I can not find a type in `skbio` that allows storing non-hollow labeled square matrices.

Is

[2016-03-16 16:48] izaakm opened #1307 "Ordination module not found"
Similar to a previous issue I had: #1258, if I do the following:

[code]

I get this error:

[code]

...checking `dir`:
[code]

However, I can import the ordination module like this:

[code]

[2016-03-16 19:08] jeffdaily commented on #1001
@gregcaporaso
@anderspitman

I don't have a lot of experience with production-quality python packages, so I need some advice on how to appropriately package parasail's python bindings.

I have full CMake support for parasail, so I am able to create a parasail.dll for Windows.  I originally wrote the python bindings as a cython compiled extension package but I have no idea how to make that work in

[2016-03-17 21:39] #1302 closed

[2016-03-17 22:01] jairideout opened #1308 "master is broken using latest pandas release"
Using the latest pandas release breaks many many unit tests and doctests. The default pandas index is now `RangeIndex` instead of `Int64Index`, and data frame/series `repr` adds trailing `.0` to whole numbers.

[2016-03-18 16:23] jairideout commented on #1305
@kdmurray91 this sounds like a useful feature to have in scikit-bio, thanks for offering to work on it! Do you have a reference to where this format extension is defined?

I'm wondering if this should be its own format, separate from `format='newick'`. I could see having a generator reader (`into=None`) that yields a partition length and `TreeNode`, similar to what `iter_part_nwk` is doing.

@ebol

[2016-03-18 16:43] jairideout opened #1309 "include subpackages in __init__.py files"
Importing a module should have its sub-modules/packages available. For example, the following paths should be accessible:

[code]

These examples currently fail with an `AttributeError`.

To fix this, sub-modules/packages need to be imported in the package's `__init_.py` and added to `__all__`.

See #1258 and #1307 for original discussion.

[2016-03-18 16:44] jairideout commented on #1307
@izaakm thanks for pointing out the issue! This is a problem for most subpackages in scikit-bio so I created #1309 to fix this across the codebase. Closing in favor of that issue.

[2016-03-18 16:44] #1307 closed

[2016-03-18 18:36] jsevo opened #1310 "`skbio.stats.composition` add biplot, use as agnostic information for binary partitioning"
Hi,

I would like to begin contributing to the composition functions. In particular, I think that adding another way(s) to construct an orthogonal basis for the ILR transform would be neat. I have no good overview over the state of scikit-bio, but it seems that you guys are in some form of transition state (I get a lot of "broken with latest pandas" etc emails).
Is there at all interest in moving

[2016-03-18 18:41] ebolyen commented on #1310
Hey @jsevo master should be fixed by Monday, the `pandas` thing is just something that happens in this ecosystem. Pinging @mortonjt who knows more about the composition statistics in scikit-bio.

[2016-03-18 19:13] mortonjt commented on #1310
Hi @jsevo . Yes, we have definite interest in adding in other ways to construct orthogonal bases in the ILR transform.  This is why I added a [basis](https://github.com/biocore/scikit-bio/blob/master/skbio/stats/composition.py#L510) option in the `ilr` function

If you want to commit some code to make this happen - I'll be more than happy to review it.

[2016-03-18 20:35] iosonofabio commented on #254
I have SWIG-wrapped C++ functions from [SeqAn](http://www.seqan.de/) for local and global pairwise alignments in [seqanpy](https://github.com/iosonofabio/seqanpy). The global alignment has three versions:

- no gaps at the edges
- edge gaps only in second sequence
- right edge gap in first sequence, left edge gaps in second sequence (for chaining sequences)

Any interest in this?

[2016-03-19 03:26] kdmurray91 commented on #1305
Hi @jairideout

I have no reference (and can't find one) but the earliest program I know of that produces this format is [Hudson's ms](http://home.uchicago.edu/~rhudson1/source/mksamples.html).

[2016-03-20 22:33] jsevo commented on #1310
Awesome,
I'm only getting into compositional data analysis, so it might not happen
that rapidly. Will let you know when I got something I think worthwhile
committing!
J

On Fri, 18 Mar 2016 at 15:13 Jamie Morton <notifications@github.com> wrote:

[2016-03-21 17:06] jairideout commented on #1310
@jsevo thanks for your interest in contributing to scikit-bio!

Adding to what @ebolyen said:

scikit-bio is currently in beta and under active development (see the disclaimer on http://scikit-bio.org). scikit-bio's public API has varying degrees of stability, see the [API stability guide](http://scikit-bio.org/docs/0.4.0/user/api_stability.html) for details. All functionality in `skbio.stats.comp

[2016-03-22 01:14] RNAer opened #1311 "overloading operators for `Sequence` class"
support the + operator for concatenation and * for repetition. The API would be a little cleaner

[2016-03-22 15:58] ebolyen commented on #1311
I've got no opposition to that. They can call through to the `concat` method.

[2016-03-22 16:09] jairideout commented on #1311
:+1:

[2016-03-22 16:36] jairideout commented on #1305
@kdmurray91 thanks for investigating!

[2016-03-22 16:46] jairideout commented on #1001
@jeffdaily I don't have much experience with Python bindings nor Windows support. You might check existing Python packages for examples (e.g., [h5py](https://github.com/h5py/h5py) wraps the HDF5 library and supports Windows).

@ebolyen @Jorge-C do you have any tips for @jeffdaily?

[2016-03-22 16:56] jairideout commented on #254
@iosonofabio thanks for pointing us to seqanpy! In the coming months @anderspitman will be redesigning the pairwise alignment API in `skbio.alignment` and evaluating existing aligner packages with Python bindings (ideally scikit-bio's alignment API will support more than one aligner backend). Ultimately this will result in a [scikit-bio RFC](https://github.com/biocore/scikit-bio-rfcs) to get input

[2016-03-22 19:15] iosonofabio commented on #254
Even if you rewrite the C++ code, please bear in mind the 3 types of global alignments, i.e. their different behaviours w.r.t. gaps at either edge. Thanks!

[2016-03-22 19:58] jairideout commented on #254
Thanks for the info @iosonofabio, we will definitely keep that in mind when evaluating aligners and designing the API.

[2016-03-23 01:44] RNAer opened #1313 "IO: return empty generator instead of raising StopIteration for empty file"
For file read into generator, currently it raises `StopIteration` instead of return a generator if the file has zero record in it. This is a surprising behavior that does not comply with idiomatic python. It should return a generator and raise `StopIteration` only after the call of `__next__`, like the `open` and other builtin python iterator creators do.

[code]
On line 509, what if we just allow

[2016-03-23 02:17] ebolyen commented on #1313
:+1: This is an edge case we hadn't thought of. Typically the empty file
sniffer jumps in first.
On Mar 22, 2016 6:45 PM, "Zech Xu" <notifications@github.com> wrote:

[2016-03-23 03:22] RNAer commented on #1313
yep, this happens for multiple formats I have tested... The ultimate solution is to modify skbio.io.registry

[2016-03-23 03:24] mortonjt commented on #1313
:+1:

On Tue, Mar 22, 2016 at 9:22 PM, Zech Xu <notifications@github.com> wrote:

[2016-03-23 17:17] jairideout commented on #1306
@kdmurray91 how about a `SimilarityMatrix` class that supports non-hollow, asymmetric square matrices? If we were to add it, I'd imagine a hierarchy like this:

[code]

where `LabeledMatrix` is a package-private class that exists purely for code reuse. `SubstitutionMatrix` (#161) could then inherit from `LabeledMatrix` in the future.

Does this factoring make sense? `DissimilarityMatrix` and `Simi

[2016-03-23 17:37] jairideout commented on #1313
:+1:

[2016-03-23 19:13] jairideout commented on #1308
To fix this correctly requires some large-ish changes to the codebase (mostly code deletion). I'm almost done with a PR that will drop Python 2 support, so want that to be merged first to avoid conflicts. I'll submit a PR now to cap the pandas version so master will be passing, then will fix the issue for real once Python 2 support is removed.

[2016-03-23 20:51] jeffdaily commented on #1001
I managed to put parasail's python bindings into pypi.  This was my first time ever with such things and it was a bit of a climb.  Binary wheels available for Win32 and Win64 and OSX 10.10 multiarch lib.  Linux users will need to make sure and install libparasail.so first and get it on their LD_LIBRARY_PATH or else ctypes won't find it.  For the binary wheels, the *.dylib and *.dll are installed a

[2016-03-23 22:33] kdmurray91 commented on #1306
Sounds great. This would also allow conversion and normalisation functions to turn a `SimilarityMatrix` into a `DistanceMatrix`.

[2016-03-23 23:27] jairideout commented on #1306
Awesome!

[2016-03-23 23:35] kdmurray91 commented on #1306
One thing though, shouldn't the similarly matrix be symmetric? It's just the non normalised inverse of the distance matrix.

[2016-03-24 00:00] jairideout commented on #1306
I found some asymmetric similarity measures (e.g., [Tversky index](https://en.wikipedia.org/wiki/Tversky_index), [asymmetric text similarity measures](http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=1264505&tag=1)) and wikipedia seems a bit fuzzy on the issue (taken from [here](https://en.wikipedia.org/wiki/Similarity_measure)):

"""
Although no single definition of a similarity measure exist

[2016-03-24 00:25] kdmurray91 commented on #1306
That makes sense, yes. You can always store a symmetric similarity matrix,  and then have a helper or member function to convert to a `DistanceMatrix` that only works if the matrix is symmetric.

[2016-03-24 00:26] kdmurray91 commented on #1306
Which of those would be preferred, by the way? `similarity_to_distance()`, `SimilarityMatrix.to_distance()`, or (a class method) `DistanceMatrix.from_similarity()`

[2016-03-24 15:58] ebolyen commented on #1306
`similarity_matrix.to_distance_matrix()`

[2016-03-24 17:35] jairideout commented on #1001
Great, thanks for letting us know @jeffdaily! See my comment [here](https://github.com/biocore/scikit-bio/issues/254#issuecomment-199904782) for our planned next steps re: alignment packages.

[2016-03-24 17:46] jairideout commented on #1306
@kdmurray91 cool, thanks for verifying. We could also have a method to convert a `DissimilarityMatrix` into a `DistanceMatrix`, where it would only work if the matrix is symmetric. I think the `DistanceMatrix` constructor already works this way but having an explicit method is probably a good idea.

:+1:

[2016-03-24 17:56] jairideout commented on #1306
According to [this page](http://ordination.okstate.edu/distsim.htm), dissimilarity matrices are often hollow (zeros on the diagonal) but don't have to be. I think the symmetry and hollowness checks should only happen in `DistanceMatrix`, and `SimilarityMatrix` and `DissimilarityMatrix` will allow asymmetric, non-hollow square matrices.

[2016-03-24 18:52] antgonza commented on #1306
Out of curiosity, what's the difference between a DissimilarityMatrix and a SimilarityMatrix? Can it just be a flag in the object? Perhaps it will make more sense to simply have symmetric and asymmetric objects, not sure.

[2016-03-24 20:10] jairideout commented on #1306
That's a great question! The current `DissimilarityMatrix` API makes sense for `SimilarityMatrix`. Are there operations we'd add in the future that only make sense for one type and not the other? Totally unsure about this.

It seems valuable to make a type distinction between similarities and dissimilarities so that, for example, a function expecting a similarity matrix can state that succinctly i

[2016-03-24 20:51] antgonza commented on #1306
In biology/ecology we have [similarity and dissimilarity matrices (1 - similarity)] (http://www.davidzeleny.net/anadat-r/doku.php/en:similarity), which are given by the method used. Thus, shouldn't be easier to simply have one object to represent either one and have a property with the name of the metric and a boolean to see if it's similarity or dissimilarity? Also, this could give the opportunit

[2016-03-25 00:50] kdmurray91 commented on #1306
@antgonza this is more or less what I will do. Essentially all `DissimilarityMatrix` functionality will be moved to `LabelledMatrix`, and both `SimilarityMatrix` and `DissimilarityMatrix` will be thin subclasses of this object. I would like to keep them a separate objects, for clarity in user code and in the documentation as @jairideout explains above. It would also allow divergence in the API if

[2016-03-25 18:13] jairideout opened #1316 "add Python 3-only disclaimer to front page"
This is a follow-up issue for #1315. Detailed in [py3-only RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/002-py3-only.md) implementation step 3.

[2016-03-25 18:17] jairideout opened #1317 "add guide for Python 2 devs transitioning to Python 3"
This is a follow-up issue for #1315. Detailed in [py3-only RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/002-py3-only.md) implementation step 4.

@Jorge-C you wrote the [supporting Python 2/3 guide](http://scikit-bio.org/docs/latest/development/py3.html), which will be removed in #1315. Do you have any interest in submitting a guide for Python 2 devs transitioning to Python 3?

[2016-03-25 18:19] jairideout opened #1318 "test against latest dev version of Python 3"
This is a follow-up issue for #1315. Detailed in [py3-only RFC](https://github.com/biocore/scikit-bio-rfcs/blob/master/active/002-py3-only.md) implementation step 8.

[2016-03-28 16:56] anderspitman commented on #1071
@jairideout since we're going to be using our deprecation process for this, do I need to start by making a PR that marks all the nondegenerate stuff as deprecated as of our next release? I could also change the names of things but keep the old names as aliases that simply call the new names and mark the aliases as deprecated.

[2016-03-28 17:11] jairideout commented on #1071
That sounds good, you can do this all in a single PR

[2016-03-28 17:41] anderspitman commented on #1071
OK. Also, for the tests, should I change all of them to use `definite`? This would introduce a small amount of surface area for bugs, but I don't think the risk is very high. The safest solution would be to duplicate at the tests for `nondegenerate` and `definite` then remove the old tests when we completely get rid of `nondegenerate` in 2 releases.

[2016-03-28 17:48] jairideout commented on #1071
for safety I'd duplicate the tests and then remove them when the deprecated names are removed

[2016-03-28 17:49] anderspitman commented on #1071
:+1:

[2016-03-28 20:14] jairideout commented on #1168
Fixed in #1315.

[2016-03-28 20:14] #1168 closed

[2016-03-28 20:22] wasade commented on #1168
Congratulations!!

[2016-03-28 20:37] jairideout commented on #1306
@antgonza:

(1 - similarity) is one way to convert similarities to dissimilarities, but there are many other ways to do this (e.g., 1 / similarity) and the "correct" conversion depends on your data and the metric used (e.g., see [this R mailing list discussion](https://stat.ethz.ch/pipermail/r-help/2004-December/062513.html)).

See my previous comment for reasons why I think having separate types

[2016-03-28 21:14] antgonza commented on #1306
@kdmurray91, thanks, I think that separation makes sense.

@jairideout thanks for the explanation. I'm just worry that we are over designing something that we are not sure about, as you mentioned before, we are not sure what we will need. Anyway, I see the benefits and more with @kdmurray91 plan.

[2016-03-28 23:01] RNAer commented on #1168
woo-hoo!

On Mon, Mar 28, 2016 at 1:22 PM, Daniel McDonald <notifications@github.com>
wrote:

[2016-03-29 01:58] kdmurray91 opened #1319 "More Debian build failures"
This is for version 0.4.2 on i386. The package builds fine, however tests segfault. Is this a known issue (I can't see any GH issues that match)?

The build daemon log is [here](https://buildd.debian.org/status/fetch.php?pkg=python-skbio&arch=i386&ver=0.4.2-1&stamp=1458222699).

Cheers,
Kevin

[2016-03-29 02:05] ebolyen commented on #1319
My first guess is probably SSW. We had a similar issue with i686 in #409 which was theoretically solved with #761, but not really. Can you run the tests in verbose mode to verify?

If it is SSW (90% sure it is) then I'm not even sure if it's worth fixing, that time would be better invested in replacing it entirely, it's currently blocking Windows support as is.

[2016-03-29 05:37] kdmurray91 commented on #1319
That's my assumption too. It's annoyingly difficult to accurately reproduce these builds locally, short of changing and re-uploading the package. I'm happy to assume that this is SSW, and await a fix in the form of removing libssw.

On that topic, has a replacement C implementation been found?

[2016-03-29 17:02] jairideout commented on #1012
Fixed in #1320.

[2016-03-29 17:02] #1012 closed

[2016-03-29 17:06] jairideout commented on #1319
We haven't found a replacement yet, @anderspitman will be starting to work on that soon though.

[2016-03-31 16:29] mortonjt opened #1322 "CCA issues"
There are actually three problems going on

1. The environmental labels are being dropped.  [Here](https://github.com/biocore/scikit-bio/blob/master/skbio/stats/ordination/_canonical_correspondence_analysis.py#L224), you can see that no column or row labels are being passed into biplot_scores
2. The column rows don't actually match up with what is given in vegan.  In the example from [SO](http://s

[2016-04-07 23:04] #1071 closed

[2016-04-08 16:07] jairideout opened #1326 "skbio.io.read: improve error message when format has no generator reader"
When reading a file using the procedural `skbio.io.read` interface, the error message could be improved when `into` isn't provided and there isn't a generator reader. For example:

[code]

It'd be helpful to provide a hint about passing `into`, including valid classes for the provided `format`. In this example (Stockholm), `TabularMSA` is the only class the file can be read into.

[2016-04-08 16:16] jairideout opened #1327 "Stockholm I/O: improve error message when `constructor` is missing"
Improve the error message when `constructor` isn't provided (e.g., `TabularMSA.read(fp)`). It currently states ``Must provide `constructor` parameter.``. It'd be helpful to give a hint to users, e.g. ``Must provide `constructor` parameter indicating the type of sequences in the alignment. `constructor` must be a subclass of `GrammaredSequence` (e.g., `DNA`, `RNA`, `Protein`).``

Thanks for catchin

[2016-04-08 16:56] jairideout opened #1328 "Stockholm I/O: add space if necessary when joining multi-line text"
Stockholm files with multi-line text do not always include a trailing space at the end of each line. For example, reading [this file](http://rfam.xfam.org/family/RF00634#tabview=tab2) produces the following:

[code]

Here, `sensingof` should be `sensing of`.

Since we have examples of files with and without trailing spaces, I think the reader should add a single space when joining GF/GS multi-line

[2016-04-08 23:47] Carreau commented on #1316
#1315 says:

I just discover that if you publish a `tar.gz` on PyPI that end in `-py3.4.tar.gz`, pip will assume it can only install on this specific version of Python. Thus you might be able to publish a few source dist, and have python 2 user just never see the upgrade and not get their system broken by upgrade.

cf https://github.com/pypa/pip/issues/3182

Hope that can help.

[2016-04-09 00:14] benpullman opened #1330 "Supporting mass spectrometry file formats"
Is there is an interest in adding mass spectrometry (MS) data to this project?  If so, we have a nice implementation to support MS data formats e.g. mzXML and mgf,  please let us know how to proceed.

cc: @mwang87

[2016-04-09 00:16] jairideout commented on #1316
Awesome, thanks for finding this and letting us know @Carreau! We'll definitely do this for our next release.

[2016-04-09 00:19] ElDeveloper commented on #1330
👍

[2016-04-09 00:20] mortonjt commented on #1330
👍

[2016-04-09 00:31] Carreau commented on #1316
Well I don't know if it's a pip "feature", but for now it works. You just have to be carefull not tu publish a tgz without a pyX.Y ending, and maybe also pre-publish py3.6 and py3.7 in advance just in case... Which is not optimal, but at least you don;t break legacy python user that try to upgrade.

[2016-04-09 02:06] jairideout commented on #1316
Thanks for the info! It seems like a relatively simple change to our release process (we have a similar step for conda releases). I'll keep the setup.py install-time guards in case this "feature" stops working at some point.

[2016-04-11 23:48] jairideout commented on #1294
@gregcaporaso and I made use of `unittest.mock` for mocking parts of the QIIME 2 plugin system in unit tests ([PR here](https://github.com/biocore/qiime2/pull/42)). It's incredibly handy, thanks for pointing out this package @RNAer!

[2016-04-11 23:52] RNAer commented on #1294
no problem! I have been using it in micronota - it is very handy.

On Mon, Apr 11, 2016 at 4:48 PM, Jai Ram Rideout <notifications@github.com>
wrote:

[2016-04-12 16:16] jairideout commented on #1330
Thanks for your interest in contributing to scikit-bio, this would be a nice addition! Can you create an RFC as a pull request to [this repo](https://github.com/biocore/scikit-bio-rfcs)? That way we can discuss what file formats would be supported initially, what data structures they would be read into, and the relevant API/operations you'd apply to MS data.

Other useful info:

- The [contributin

[2016-04-12 17:39] #1327 closed

[2016-04-12 18:17] ebolyen commented on #1326
:+1:

[2016-04-12 18:20] ebolyen opened #1332 "Incorrect docs for skbio.io.registry.Format.readers"
It mentions `writers` instead of `readers`.

See [here](http://scikit-bio.org/docs/0.4.2/generated/generated/skbio.io.registry.Format.readers.html#skbio.io.registry.Format.readers)

[2016-04-12 21:43] #1332 closed

[2016-04-15 19:15] jairideout opened #1334 "Stockholm reader errors on multi-line tree with no ID"
The following error is raised when reading a Stockholm file containing a multi-line tree without an identifier:

[code]

[code]

Multi-line tree(s) with identifiers are handled correctly but there are no test cases for this. Add the following test cases:

Single tree with identifier:

[code]

Multiple trees:

[code]

[2016-04-19 16:21] ElDeveloper opened #1335 "Add ability to parse lower/upper triangular matrices"
It would be handy if we could parse distance matrices from text files where only the lower/upper triangle is stored.

[2016-04-19 16:23] ebolyen commented on #1335
:+1:
On Apr 19, 2016 9:22 AM, "Yoshiki Vázquez Baeza" <notifications@github.com>
wrote:

[2016-04-19 16:34] josenavas commented on #1221
Just want to ping on this issue as I think the potential use cases for this are increasing.
@gregcaporaso @jairideout @wasade @ebolyen which is the best way of starting a formal discussion to get this API changes into scikit-bio?

[2016-04-19 16:59] ElDeveloper commented on #1335
Just FYI, this was an OK workaround, could probably limit it to use just numpy arrays, but the matrix was small enough that it was not inconvenient:

[code]

[2016-04-19 17:05] wasade commented on #1221
Thanks, @josenavas, for following up on this.

From looking at the code, I think I may have a solution that does not necessitate an API change:

[code]

I think this would accomplish what is necessary. So then the only addition to the public API would be a method `partial_pw` which is metric agnostic. There would not need to be any modification to existing APIs.

If this seems reasonable, I can is

[2016-04-19 18:48] #1328 closed

[2016-04-19 19:13] gregcaporaso commented on #1221
@wasade, I think that would work. I guess the main question is would we want to support this through the ``pairwise_func``, or though the ``beta_diversity`` interface directly. Note that we can add new parameters to ``beta_diversity``, so it seems like we might be able to build this into the existing API and take some burden off the user.

[2016-04-19 19:23] wasade commented on #1221
Excellent point. So perhaps the following?

[code]

[2016-04-19 19:40] wasade commented on #1221
Just a note, working on a PR right now so we can see what this looks like.

[2016-04-19 20:41] wasade commented on #1221
@gregcaporaso, ran into a wall: supporting metrics as `str` is not trivial as it doesn't looks like scipy exposes their [lookup](https://github.com/scipy/scipy/blob/v0.17.0/scipy/spatial/distance.py#L1249). UniFarc and `callable` should be fine, however. Curious to hear your thoughts on this. Currently circumventing this by not supporting `str` except for unifrac as it's implicit

[2016-04-19 21:46] wasade commented on #1221
HAH! The 1337 hax0r PR ftw

[2016-04-19 21:49] ebolyen commented on #1221
Out of curiosity how is this different from something like

`map(metric, map(lambda a, b: (counts[a], counts[b]), id_pairs))`?

Are the ID pairs always "complete" in that it produces a subset of the all-pairwise distance matrix?

If so, wouldn't the ideal solution be to allow view-based subsetting of the eventual  `FeatureTable`?

[2016-04-19 22:01] wasade commented on #1221
I don't think it is different.

The expectation, though not stated, is that the resulting distance matrix is a subset of the all-pairwise one such that `reduce(add, partial_dms) == full_dm` assuming all pairs were enumerated.

A view is ideal as well, but not sufficient by itself. In the case of the block decomposition method (POC [here](https://github.com/wasade/yummy-octo-duck/blob/master/ipynb/

[2016-04-19 22:08] ebolyen commented on #1221
Thanks for the explanation @wasade, makes sense why subsetting wouldn't necessarily work in the optimized case.

Given that, what is it that a partial beta diversity returns? It is kind of a "jagged"/"incomplete" distance matrix. This would also prevent us from just adding a parameter to `beta_diversity` as the return type is dependant unless we changed how `DistanceMatrix` works.

[2016-04-19 22:11] wasade commented on #1221
Right now, it is returning a full distance matrix that is zero'd for all non computed pairs. That is not ideal, but easiest to drop in. For [instance](https://github.com/biocore/scikit-bio/pull/1337/files#diff-220a2f5681654199aa60a12904851b0bR618)

I like the functional approach particularly as it circumvents the construction of what is likely a sparse matrix (which would be bad in the block decom

[2016-04-19 22:12] wasade commented on #1221
Sorry! It's the full distance matrix then run through `squareform` to return the condensed form, so that it can then be fed into `DistanceMatrix`...

[2016-04-19 22:17] ebolyen commented on #1221
Right, it seems that something like an alternate constructor on `DistanceMatrix` "might" be a better way to recompose the fragments. OR we allow `DistanceMatrix` to exist as a fragment, which you could just add together, like your `reduce` example.

[2016-04-19 22:18] ebolyen commented on #1221
Although reducing would probably be just as inefficient as dealing with zeros.

[2016-04-19 22:27] wasade commented on #1221
I'm intrigued by the condensed form though as it should be possible to do:

[code]

...Still have a large number of zeros, but at least it's `((m * m) - m) / 2)`...

[2016-04-19 22:30] wasade commented on #1221
The method I did in the POC did full DMs but they were only of size `len(ids)`. The full matrix was then reassembled from the individual blocks.

The reduction wouldn't actually work anyway as `ids` needs to correspond to `counts`, yet the reduction assumes that `ids` represents the full set and not just those being computed on.

[2016-04-20 15:56] wasade commented on #1221
I believe #1337 is good for close review. I have one open question about example documentation.

Separate from this specific issue, but just to make a note for those reading along, once #1337 is merged, I'll issue a PR for the block decomposition method for beta diversity. I'll also issue a separate PR with an optimized derivative of `TreeNode.shear`, which is a critical performance optimization f

[2016-04-21 18:01] RNAer commented on #1291
The problem still persists since py2 support is dropped

[2016-04-21 18:05] jairideout commented on #1291
Right, I think there's additional work to be done to get this working but it's technically possible now that Python 2 isn't supported.

[2016-04-21 18:06] ebolyen commented on #1291
Looks like `NamedTemproraryFile` doesn't subclass `io.BufferedRandom`, instead wraps transparently. So all that is needed is to add an IOSource for `NamedTemporaryFile` to the `io` package. IO had to be written fairly defensively to avoid odd things between Py2/3.

Something that should be verified is that the file is actually deleted when it goes out of scope.

[2016-04-21 18:10] RNAer commented on #1291
should check `delete` attribute of `NamedTemporaryFile` object to decide
whether to delete the file.

On Thu, Apr 21, 2016 at 11:06 AM, Evan Bolyen <notifications@github.com>
wrote:

[2016-04-22 21:25] jwdebelius opened #1338 "Different results scikit-bio and ecodist for mantel test"
I was running a mantel test in scikit-bio 0.4.2 and R's ecodist 1.2.9.

In R, I coded my binary data to two vectors, and then converted it to a binary distance matrix, `pred`, and loaded my UniFrac distance matrix, `uwu`.
[code]
I ran the same thing in scikit-bio, using the same two distance matrices.
[code]

[2016-04-22 21:36] jairideout commented on #1338
Can you please post some example data that reproduces the issue?

[2016-04-22 21:50] jairideout commented on #1338
It looks like you're running a Pearson Mantel test in R and a Spearman Mantel test in scikit-bio. Can you try comparing results using the same correlation coefficient?

[2016-04-24 03:29] nvictus commented on #805
Hello!

In case this is useful at all, I recently wrote a module to parse SVG path shapes into matplotlib paths and use it to make [sequence logo plots](https://github.com/nvictus/svgpath2mpl/blob/master/examples/seqlogo.ipynb) from font characters by plotting them as patches as in @widmannj's code.

On a less serious note, one could just as easily throw in arbitrary SVG glyphs (sequence emoji, an

[2016-04-26 22:14] wasade opened #1339 "Depsy"
Because we should have more tags. And to also better track utilization and statistics. Came across [Depsy](http://depsy.org/) as [matplotlib (depsy link)](http://depsy.org/package/python/matplotlib) is tied into it. The project itself is NSF [funded](http://blog.impactstory.org/impactstory-awarded-300k-nsf-grant/), so may be of broader @biocore interest.

I'm filing this under CI but not sure if t

[2016-04-26 23:36] josenavas commented on #1339
You can actually already access to the scikit-bio link:
http://depsy.org/package/python/scikit-bio

[2016-04-26 23:39] wasade commented on #1339
Nifty...

[2016-04-27 00:07] josef-pkt commented on #1259
Hi,

The following two explain what happened with scipy 1.7.0
https://github.com/scipy/scipy/issues/6062
https://github.com/scipy/scipy/pull/6100
The current plan is to revert to the old behavior for 1.7.1, see PR

[2016-04-27 16:57] jairideout commented on #1259
Thanks @josef-pkt!

[2016-04-28 18:18] jairideout commented on #1335
👍 , in the future `DistanceMatrix` will only store one of the triangles, perhaps at that time we should support a compact, efficient distance matrix file format (the current QIIME one *really* bites).

[2016-04-28 22:29] genomematt commented on #1335
Probably not a big issue but don't forget non reversible and non symmetric models.  This was why pycogent was implemented with full matrix although math issues limited these models.

Matthew Wakefield

The information contained in this e-mail is confidential and is intended
solely for the addressee. If you are not the named addressee, you must not
disclose or use in any way the information in the

[2016-04-29 12:09] haraball opened #1340 "target_end_optimal in StripedSmithWaterman alignment is off by one"
When I do a protein sequence alignment using StripedSmithWaterman the resulting `target_end_optimal` is off by one.

Code to reproduce:
[code]
The Blosum62 matrix I'm using can be found in [this gist](https://gist.github.com/haraball/d061b85e62063d5f1daa94387a4f9491)

[code]

The `al.cigar` indicates that the length of the alignment should be 9, the `optimal_alignment_score` is correct when adding

[2016-04-29 15:00] haraball commented on #1340
Ok, I might have have misunderstood the result. When using the indices provided from `target_begin` and `target_end_optimal` in a python slice of the `target_sequence` as I've done above, it will be one position off. If I pad the `target_end_optimal` with 1 it returns the full matching string.

From what I can find in the code, the result is [zero-indexed](https://github.com/biocore/scikit-bio/blo

[2016-04-29 16:35] jairideout commented on #1335
Thanks @genomematt! `DistanceMatrix` only supports hollow, symmetric matrices so I think we should be okay (`DissimilarityMatrix` allows asymmetry). What do you mean by a "non reversible" model?

[2016-04-30 00:37] genomematt commented on #1335
Things like methyl C > T having a different probability to T > C which alters likelihood depending on position of the tree root.  Were limited at the time we tried by matrix decomposition issues but hardware has caught up so Taylor series on say Xeon phi may now be practical

--=-=--=-=--=-=--=-=--=-=--
Matthew Wakefield
wakefield@wehi.edu.au
+61 402 916 018

______________________________________

[2016-04-30 04:46] ebolyen commented on #1340
Hey @haraball, you are actually using the "low-level" API to SSW. The result of running `query` against the target results in a very very light wrapper around the struct produced by [SSW](https://github.com/mengyao/Complete-Striped-Smith-Waterman-Library), so it's indexing scheme doesn't feel particularly obligated to match python's `[start, end)` rules for ranges.

In terms of a slightly nicer wa

[2016-05-02 08:04] haraball commented on #1340
Thanks for the clarification and the suggestion, @ebolyen!

[2016-05-02 10:18] wwood opened #1341 "setup.py test does not run tests"
Hi,

I'm attempting to package scikit-bio for GNU Guix, and it would be helpful if `python setup.py test` ran the unit tests just to be standard.

There's a bunch of tests which can be run using `make test`, but this way assumes that scikit-bio is already installed or otherwise available e.g. through PYTHONPATH, where `setup.py test` takes care of this.

These are small things I realise. Thanks.

[2016-05-02 17:04] gregcaporaso commented on #1335
Those would be substitution matrices though, not distance matrices, so
would be in a different data structure.

Sent from my phone, please excuse typos and brevity.
On Apr 29, 2016 5:37 PM, "Matthew Wakefield" <notifications@github.com>
wrote:

[2016-05-02 17:04] #1340 closed

[2016-05-02 21:43] genomematt commented on #1335
If your substitution matrix is asymmetric so should be likelihood based distance but I agree this is an edge case

--=-=--=-=--=-=--=-=--=-=--
Matthew Wakefield
wakefield@wehi.edu.au
+61 402 916 018

______________________________________________________________________

The information in this email is confidential and intended solely for the addressee.
You must not disclose, forward, print or us

[2016-05-02 21:59] jairideout commented on #1341
👍 this would be handy. Running `python setup.py test` runs the tests (in verbose mode) but somehow there are a lot more tests being discovered than `make test` (7917 vs. 2108 tests). We're already hacking around nose to make all skbio tests discoverable so I guess it isn't too surprising that `python setup.py test` doesn't work out of the box.

This isn't a high priority for us right now since `ma

[2016-05-02 22:17] jairideout commented on #1339
This looks really cool, nice find! Somehow @gregcaporaso is showing up as the only scikit-bio contributor, not sure where they're getting those stats from.

I'll tag this as a quick fix in case anyone's interested in adding the badge to scikit-bio's README.

[2016-05-02 22:49] ElDeveloper opened #1342 "Slow versions of unweighted/weighted UniFrac should raise a warning"
I naïvely ran `beta_diversity` passing `skbio.diversity.beta.unweighted_unifrac` as a function, instead of a string (as recommended by the docs), this resulted in a few notebooks that ran for a few hours. As I started investigating I decided to follow the advise and using `'unweighted_unifrac'` instead of the function itself computed the matrix within a few seconds. I think it would make sense to

[2016-05-02 22:51] jairideout commented on #805
This looks really useful, thanks for pointing us to your module @nvictus!

@Kleptobismol, pinging you so you're aware of this when wrapping up sequence logo.

[2016-05-02 23:04] wwood commented on #1341
Thanks. It isn't a blocker really, just makes it easier to maintain so skbio is more likely to remain up to date in the repo, helps other package managers assimilate it, and aids users who bother to run tests on their end.

[2016-05-02 23:06] mortonjt opened #1343 "Request: DissimiliarityMatrix.from_iterable"
Right now, only the DistanceMatrix only has a `from_iterable` function.

It would be really nice if the DissimiliarityMatrix has an equivalent function.  This can be useful when calculating stuff like correlation matrices, where the coefficients don't need to be symmetric.

[2016-05-02 23:08] jairideout commented on #1342
👍

[2016-05-02 23:42] jairideout commented on #1335
Thanks for the details @genomematt! I think we'll be able to handle this case because the asymmetric "distances" can be loaded into `DissimilarityMatrix`.

[2016-05-02 23:44] jairideout commented on #1335
@gregcaporaso does that sound right to you? Apologies if I'm missing something here.

[2016-05-03 01:19] genomematt commented on #1335
That sounds like it covers it as long as DissimilarityMatrix does not get unnecessary blocked downstream

--=-=--=-=--=-=--=-=--=-=--
Matthew Wakefield
wakefield@wehi.edu.au
+61 402 916 018

______________________________________________________________________

The information in this email is confidential and intended solely for the addressee.
You must not disclose, forward, print or use it with

[2016-05-03 06:08] wasade opened #1344 "ANCOM documentation confusion"
The `notes` section for `ancom` describes statistical tests that the authors recommend, but I believe there is a typo. The specific line is [here](https://github.com/biocore/scikit-bio/blob/master/skbio/stats/composition.py#L724), where it indicates that the authors recommend method `w` and `x` when "the number of groups is greater than 2", and in the same sentence, it then recommends methods `y`

[2016-05-03 16:13] jairideout commented on #1341
OK thanks. Is this something you'd be interested in working on?

[2016-05-03 16:24] mortonjt opened #1345 "BUG: CA missing proportion_explained"
Looks like correspondence analysis is missing the `proportion_explained` variable [here](https://github.com/biocore/scikit-bio/blob/master/skbio/stats/ordination/_correspondence_analysis.py#L188).

There should be

`proportion_explained=eigvals / eigvals.sum()`

All of the other ordination methods have this.

[2016-05-03 16:26] mortonjt commented on #1344
Not quite - you can only run the `ttest_ind` and `mann-whitney` if there are two groups.

Fixing

[2016-05-03 16:28] mortonjt commented on #1344
Actually, I'm looking over the wording, and am a little confused where the confusion is stemming from.

The first two methods are parametric, and the second two methods are non-parametric.  Do you have any suggestions on improving this?

[2016-05-03 16:35] wasade commented on #1344
Remove the repetition of "greater than 2"?
On May 3, 2016 9:28 AM, "Jamie Morton" <notifications@github.com> wrote:

[2016-05-03 16:58] jairideout commented on #1344
The current text is correct but hard to parse. I followed up on #1346 with a suggested rewording.

[2016-05-03 17:09] jairideout commented on #1343
👍

[2016-05-03 17:24] mortonjt commented on #1344
Thanks!

[2016-05-03 17:31] wasade commented on #1344
Thanks!

On Tue, May 3, 2016 at 10:24 AM, Jamie Morton <notifications@github.com>
wrote:

[2016-05-04 17:33] jairideout commented on #1344
Fixed in #1346.

[2016-05-04 17:33] #1344 closed

[2016-05-04 20:06] #1308 closed

[2016-05-04 21:09] Kleptobismol opened #1347 "Stockholm I/O: invitation for input on dealing with reference tags"
Thanks @squirrelo for bringing this to my attention. In Stockholm, tree tags are handled differently than normal tags, as described [here](http://scikit-bio.org/docs/latest/generated/skbio.io.format.stockholm.html#module-skbio.io.format.stockholm). This is the only tag type that has a different rule associated with it, or so I thought. There is another type of tag; reference, which appears to have

[2016-05-04 22:03] jakereps commented on #1347
It looks like [`skbio.io.format.stockholm.add_gf_metadata`](https://github.com/biocore/scikit-bio/blob/779750e3adbbe98e6ab0c56bbf5a622f414002ba/skbio/io/format/stockholm.py#L461) is handling a few special cases and then everything outside of those cases is either being created as a string, or if the feature already exists it is concatenating the new data onto the existing data, resulting in a sing

[2016-05-04 22:11] Kleptobismol commented on #1347
Thanks for commenting @jakereps, yes that is exactly what is happening.

That's a good idea for storing this data, I'm thinking it's going to have to be something similar to the way we store trees, documented [here](http://scikit-bio.org/docs/latest/generated/skbio.io.format.stockholm.html#module-skbio.io.format.stockholm).

Maybe some sort of nested ``OrderedDict``?

[2016-05-04 23:09] jakereps commented on #1347
I'm not familiar enough with how these are used to speculate on which way is the best way, but they could either be stored as each Reference in a single object with each `RN` as the key, or keep them all as their separate `RN`, `RM`, etc... keys with the `RN` being the key to the data for each, so something along the lines of:

 `msa.metadata['REFS']['[1]']['RA'] // this seems pretty heavy`
[code]

[2016-05-05 16:30] jairideout commented on #1347
Thanks for the discussion on this @Kleptobismol and @jakereps!

Since the reference number isn't all that useful (it just assigns an increasing number to each reference), we could store the references as a list of dicts (`OrderedDict` shouldn't be necessary here since the list maintains order for us). By storing the references in a list, users can access each reference by index position (basically

[2016-05-05 16:39] Kleptobismol commented on #1347
This sounds great, @jairideout! I think it's a good idea to store the data under the ``RN`` tag, because that way when they index in like this:
[code]
it will be like you are pointing from metadata --> **R**eference **N**umbers --> reference number, which seems intuitive for the user.

[2016-05-05 17:30] jakereps commented on #1347
Oh, nice. Yeah that's definitely cleaner, @jairideout. I wasn't sure if the `RN` was being used somewhere else in the data, so was trying to hold onto it, but a pure list instead of `...['[1]']` is much easier to use. So for the single reference, but multiline feature data concatenation, you could just hold onto the `RN` you're currently at until either hitting a new reference number, or hitting s

[2016-05-05 18:00] Kleptobismol commented on #1347
Well, the reference number is always stored under the ``RN`` tag, so any time the parser sees that, it will append a new dictionary to the list. Additionally, the dictionary will initially populate with empty strings, so anytime it sees a tag, for example ``RM``, it will simply add it like this:
If the ``RM`` tag was seen and stored in ``feature_tag``, and its data in ``feature_data``:
[code]

[2016-05-05 19:30] squirrelo commented on #1347
I really like the `['RN'][0] == {'RM': '0000000000', ...}` idea, as it seems the cleanest of all proposed, and easiest to program.  From [wikipedia](https://en.wikipedia.org/wiki/Stockholm_format) it looks like only reference tags start with R, but that might not be a safe assumption in the future.

[2016-05-05 20:23] ebolyen commented on #1347
Regarding the top-level key, are there any symbols excluded by Stockholm we could use? I like the concept of `refs` or something like that a bit better than `RN`, but `RN` is a safe fallback I suppose.

[2016-05-05 21:22] Kleptobismol commented on #1347
I think using ``RN`` is a safe bet, especially since the index of the list sort of becomes the Reference Number.

[2016-05-05 21:49] jakereps commented on #1347
@Kleptobismol if you padded the 0 index of the list upon creation, with either an empty string or a counter of total ref fences, then they could all match exactly as the index from the input, and could avoid any translation confusion between the 1 based RN and a 0 based Python list. Or is this mostly used by programmers where using 0 to get the `[1]` would make more sense?

[2016-05-05 21:53] jakereps commented on #1347
@ebolyen I can definitely see where a refactor like this could make it strange to lump everything under the `RN` tag, where typing `metadata['RN']` would dump all of the references and their data instead of just the reference numbers, and using `refs` or something similar as the top level could help with the readability.

[2016-05-05 21:56] Kleptobismol commented on #1347
@jakereps the reference number appears to only be a numbering on a list of references, not a unique id. I think the only reason it exists is to clearly separate the references in the Stockholm file. So, I don't think it matters to hold on to that data, it appears the only thing that needs to be maintained is the order.

[2016-05-05 22:22] ebolyen commented on #1347
Agree with @Kleptobismol, padding the list would also make the list far harder to deal with (polymorphic vs monomorphic). It is also very likely the the user doesn't have a particular reference they are interested in, if they knew, they would already have the data... so just collecting them together in an iterable should be more than sufficient.

Still feels strange to call it `RN` though:
[code]

[2016-05-06 16:06] Kleptobismol commented on #1347
In order to be sure the tag doesn't interfere with other tags, we could name it something more unique, like ``collected_references`` or something. Thoughts?

[2016-05-06 16:46] jairideout commented on #1347
I agree it'd be ideal to store the references under a key with a more descriptive name. Stockholm doesn't have any exclusions to tag names except that they can't contain whitespace, so we could safely use a key that has whitespace (e.g., `msa.metadata['reference list']`). Having a key name with spaces in it seems likely to frustrate users, and it would be difficult to come up with an intuitive mul

[2016-05-08 23:19] wwood commented on #1341
as much as you are interested in keeping python-2 support :P

[2016-05-09 06:04] colinbrislawn commented on #1341
@gregcaporaso Which versions of python will scikit-bio use in the future? 2️⃣  x 🐍 ?

[2016-05-09 16:41] jairideout commented on #1341
@wwood fair enough :)

@colinbrislawn scikit-bio is supported on Python 3.4 and later.

[2016-05-09 18:24] Kleptobismol opened #1348 "Add support for reference tags to Stockholm reader and writer"
Based on the discussion in #1347, tags will be stored as a list of dictionaries.

[2016-05-17 15:38] jhcepas opened #1355 "Incorrect branch support values after phylogenetic tree rooting"
Hi guys,
I have recently expanded the analysis by Czech and Stamatakis regarding the [incorrect mapping of support values after tree rooting](http://biorxiv.org/content/early/2015/12/25/035360) in tree viewers, and found that multiple toolkits might also be affected.
@lczech, @stamatak  and I are now working on reporting/confirming the bug in more frameworks and tree viewers.

I know scikit-bio tr

[2016-05-17 16:35] lczech commented on #1355
Hi all,

nice that you pick up this issue. Let me know if you have any questions or need help testing it with our toy test cases ;-)

So long
Lucas

[2016-05-17 22:21] RNAer commented on #1347
instead of creating arbitrary keywords, what about just store all those text as a string and let users process it whatever they like?

[2016-05-18 15:53] ebolyen commented on #1355
Thanks @jhcepas! Presently we don't have any handling of support (or even calculating it), the best we can do right now is to put it in the length property of our `TreeNode` (obviously that's not ideal).

It is interesting that the pycogent tree appears to become unrooted, but I'm not familiar enough with the codebase to explain why. @wasade do you know why that might be happening?

[2016-05-18 15:57] jairideout commented on #1347
Can you post an example of how the data would be stored?

[2016-05-18 16:02] jhcepas commented on #1355
ok, I just thought you may want to keep it in mind for future implementations. There is also the problem of  defining what's the standard way of encoding branch support values in newick.

[2016-05-18 16:30] wasade commented on #1355
For support values in cogent, we always just used to just add on attributes to the nodes although you could use the `params` attribute as well. Same strategy should work with skbio.

Unsure with the unrooted issue and whether that is expected. Those are parts of the cogent codebase that I'm not familiar. However, the code for cogent's [`TreeNode.rootedAt`](https://github.com/pycogent/pycogent/blob

[2016-05-18 17:20] RNAer commented on #1347
like the following, since in most cases, users don't need to do any compute on references, so it probably fine to just store them unparsed.

[code]

[2016-05-18 17:32] jairideout commented on #1347
As discussed above, we can't define a `'references'` tag because Stockholm files are composed of arbitrary tags that could include `'references'` (namespace conflict). Also, storing the references unparsed differs from how other Stockholm tags are stored in `.metadata`/`.positional_metadata` (see [scikit-bio Stockholm docs](http://scikit-bio.org/docs/latest/generated/skbio.io.format.stockholm.html

[2016-05-18 17:38] RNAer commented on #1347
right, we can change `reference` for other keyword. My point is not to parse it. Just MHO.

[2016-05-18 17:46] jairideout commented on #1347
Regardless of what name we pick for the key, it could have a namespace conflict because of how general the Stockholm format is. The issue isn't specifically with the name `'references'`. I don't think it's a good idea to leave the references unparsed because it is inconsistent with how other tags are handled and will likely be unexpected to users.

Are there any objections to storing a list of par

[2016-05-18 17:46] jhcepas commented on #1355
thanks @wasade - it might be an issue with the node/edge distinction in pycogent, so only edges can be used for rooting. But I guess there must be a way to produce a rooted tree with single-tip outgroup.
Btw, do you know if pycogent permits to parse those node labels as branch support values?

[2016-05-18 17:47] ebolyen commented on #1347
:+1:

On Wed, May 18, 2016 at 10:46 AM, Jai Ram Rideout <notifications@github.com>
wrote:

[2016-05-18 18:29] Kleptobismol commented on #1347
👍

[2016-05-19 08:03] wasade commented on #1355
You had to do a custom parse on `TreeNode.Name` after instantiation, it is not supported directly afaik from `LoadTree`.

[2016-05-19 09:25] lczech commented on #1355
@wasade: Hm, this might be confusion for users who expect the inner labels to belong to the branches (for example, but not limited to, support values). Users usually don't read too much of the manual, and always expect software to work with exactly their use case...

How much effort would it be to offer a flag for `LoadTree` that would read those data directly to some field of the branches instead

[2016-05-19 11:43] wasade commented on #1355
Can you open an issue with pycogent please?
On May 19, 2016 10:25, "Lucas Czech" <notifications@github.com> wrote:

[2016-05-19 22:38] anderspitman opened #1361 "Large regression on master"
In the process of getting our benchmarking pipeline up and running, I noticed there was apparently a large regression (4x-5x performance loss across about half our current benchmarks) introduced on master starting at commit [`f9016283`](https://github.com/biocore/scikit-bio/commit/f9016283638ef49ffccb3bb5f79e5a421462cfd1). asv plots can be examined [here](https://s3-us-west-2.amazonaws.com/scikit-

[2016-05-24 23:15] jairideout commented on #1221
Fixed in #1337.

[2016-05-24 23:15] #1221 closed

[2016-05-26 20:24] jairideout commented on #1338
@jwdebelius, can you confirm there is a discrepancy between scikit-bio and ecodist? We're having a release on June 7 so would be good to know if this is a bug or if the issue can be closed.

[2016-05-27 19:21] jwdebelius commented on #1338
@jairideout: I will update you by tomorrow. I remember running with pearson R and still seeing the discrepancy, but I will track down and let you know. Sorry for the delay.

[2016-05-29 21:55] jwdebelius commented on #1338
I can't reproduce the error. So, I must have done something wrong that day.

[2016-05-29 21:55] #1338 closed

[2016-05-30 16:34] jairideout commented on #1338
Thanks for verifying!

[2016-06-01 17:48] jairideout commented on #1347
Marking this API proposal as accepted, supporting issue is #1348.

[2016-06-01 17:48] #1347 closed

[2016-06-01 20:26] jairideout commented on #1293
@gregcaporaso is this something you're still wanting for 0.5.0, and if so do you have bandwidth to work on it?

[2016-06-01 20:38] jairideout commented on #1256
Confirmed this bug still exists in Python, removing from 0.5.0 milestone.

[2016-06-01 20:46] jairideout commented on #1002
@mortonjt are you available to work on this for 0.5.0? We're shooting for June 7 to cut the release.

[2016-06-01 20:50] jairideout commented on #807
@wasade are you available to work on these bugs for 0.5.0? We're shooting for June 7 to cut the release.

[2016-06-01 21:02] wasade commented on #807
Would a sufficient resolution be to just disallow nontips? If so, then I can issue a PR on that in the next few days. Not able to invest much more though right now, sorry

[2016-06-01 21:52] jairideout commented on #1322
@mortonjt are you available to work on these bugs (items 1 and 2) for 0.5.0? We're shooting for June 7 to cut the release.

[2016-06-01 22:00] jairideout commented on #807
👍 for disallowing non-tips for now. `lca` and `distance` give incorrect results right now for this case, so having an error message would be much better than a silent bug. Thanks @wasade!

[2016-06-01 22:02] jairideout commented on #1247
@wasade, any bandwidth to work on this for the release? Ideally this could be fixed proper, but raising a `NotImplementedError` is also a big improvement over a silent bug.

[2016-06-01 22:55] wasade commented on #1247
Sure. Just for reference, I believe the only change necessary is to make [`include_self=True`](https://github.com/biocore/scikit-bio/blob/master/skbio/tree/_tree.py#L382)...

[2016-06-01 23:30] jairideout commented on #1247
Awesome, thanks @wasade!

[2016-06-01 23:42] wasade commented on #807
This is not actually an issue. However, it does seem to be the case that distance is incorrectly computed when the LCA of the nodes is one of the nodes to determine the LCA of.

[code]

[2016-06-01 23:50] jairideout commented on #807
I think the output is incorrect in @wwood's [original example](https://github.com/biocore/scikit-bio/issues/807#issue-54690349). It seems the bug happens in `lca` and `distance` when the LCA between two nodes is one of the nodes.

[2016-06-01 23:56] wasade commented on #807
But, are you your own ancestor? If so, then the output is incorrect. If
not, then the output is correct. The issue with distance is related but
different.
On Jun 1, 2016 4:50 PM, "Jai Ram Rideout" <notifications@github.com> wrote:

[2016-06-02 00:05] jairideout commented on #807
From one of @wwood's [previous comments](https://github.com/biocore/scikit-bio/issues/807#issuecomment-70403854), Wikipedia LCA seems to think you're your own ancestor. I don't know what the correct definition is but the docs should probably be updated at minimum if we decide this is a feature and not a bug.

[2016-06-02 00:15] mortonjt commented on #1322
The main reason why I haven't pushed a PR for this is because I'm still not
on the same page exactly is going on with the `biplot_scores`.  If @Jorge-C
is still available, I think it would be best if he could take a look.

On Wed, Jun 1, 2016 at 2:52 PM, Jai Ram Rideout <notifications@github.com>
wrote:

[2016-06-02 00:18] mortonjt commented on #1002
That's a pretty tight deadline - particularly with finals week approaching
...

If the deadline were couple days later, I'd be more inclined to try to
knock out this.

On Wed, Jun 1, 2016 at 1:46 PM, Jai Ram Rideout <notifications@github.com>
wrote:

[2016-06-02 00:49] jairideout commented on #1322
I don't think @Jorge-C is available. Is there anyone else that can maintain the CCA code in scikit-bio?

[2016-06-02 00:52] mortonjt commented on #1322
Alright. Let me take another look at it
On Jun 1, 2016 5:49 PM, "Jai Ram Rideout" <notifications@github.com> wrote:

[2016-06-02 00:52] jairideout commented on #1002
I'm okay with pushing the release date back a couple of days. @gregcaporaso @ebolyen any objections?

[2016-06-02 00:54] jairideout commented on #1322
Thanks!

[2016-06-02 12:26] gregcaporaso commented on #1002
No objections.

[2016-06-02 12:44] gregcaporaso commented on #1293
Yes, this would be good to get in since it's small and will be important for the QIIME 2 alpha release.

[2016-06-02 17:29] #1334 closed

[2016-06-02 17:35] jairideout commented on #1002
@mortonjt we're now shooting for Friday 6/10 as the release date, does that work for you?

[2016-06-02 17:38] jairideout commented on #1293
Sounds good, let me know if you need me or someone else to work on it (you're currently assigned to it).

[2016-06-02 17:39] mortonjt commented on #1002
My final is on the 8th.  Let me see what I what I can do by this weekend.
That might be OK.

On Thu, Jun 2, 2016 at 10:35 AM, Jai Ram Rideout <notifications@github.com>
wrote:

[2016-06-02 17:44] #1339 closed

[2016-06-02 17:45] jairideout commented on #1002
Sounds good, let us know if you'll need more time

[2016-06-02 19:21] wasade commented on #807
Resolving this appropriately will represent a backwards incompatible change with respect to scikit-bio, and will make skbio inconsistent with PyCogent and ete3. Specifically, all three packages currently implement `ancestors` as not including `self`. So while the current implementation may not mesh with wikipedia, it is consistent with the other implementations.

Note, I still do agree that the `d

[2016-06-02 20:51] jairideout commented on #807
👍 for matching LCA in PyCogent and ete3, thanks for checking!

[2016-06-02 21:25] #1247 closed

[2016-06-02 21:25] jairideout commented on #807
Fixed in #1367. Thanks for finding and reporting this @wwood!

[2016-06-02 21:26] #807 closed

[2016-06-03 04:01] mortonjt commented on #1002
Ok, I think I figured out exactly what is going on in vegan.

In vegan, they are normalizing the eigenvalues by the number of samples

So their eigenvalues reported are actually as follows

[code]

Where `s` is the eigenvalues from the `np.linalg.svd`,  `n` is the number of samples, and `eigvals` is the reported eigenvalues.

TL;DR  I think we were are doing here is perfectly legit.  Its just a ma

[2016-06-03 04:57] antgonza commented on #1002
What about adding an option, by default set to False, so the results match? Does vegan's manual state that deviation?

[2016-06-03 05:10] mortonjt commented on #1002
👎 Its off by a constant, which can be easily corrected by the user if need be.  Adding an extra flag would add unnecessary complexity to the API.

I think we should opt for the vegan approach, or use the existing approach.  We can add documentation if necessary, explaining exactly what happened.  Thoughts?

[2016-06-03 05:11] mortonjt commented on #1002
And no, vegan doc's didn't state this at all.  It required a little guesswork to validate this.

[2016-06-03 05:13] antgonza commented on #1002
OK, what about adding two methods: rda, and rda_vegan, similar to beta divs: bray_curtis, bray_curtis_faith, bray_curtis_magurran? Agree on adding documentation about this difference is important.

[2016-06-03 06:38] mortonjt commented on #1322
I think I figured out the index/column headers for `rda` - `index=env_ids` and `columns=pc_ids`.
The same is the same for `cca`, but for some reason, some of the rows (i.e environmental variables) are being excluded.  No idea why ...

[2016-06-03 06:52] mortonjt commented on #1322
OK. I found the bloody bug.

Turns out to be in the [unittest](https://github.com/biocore/scikit-bio/blob/master/skbio/stats/ordination/tests/test_canonical_correspondence_analysis.py#L73)

We are ignoring the last column, which is why debugging this was really confusing.

[2016-06-03 17:46] jairideout commented on #1002
Since it's just off by a constant, how about updating the docs for now to describe how the eigenvalues are different from vegan, and how to obtain vegan's normalized eigenvalues if that's desired? Probably worth noting that scikit-bio's eigenvalues match Legendre & Legendre.

[2016-06-03 18:34] ebolyen commented on #1002
:+1: for updating docs
On Jun 3, 2016 11:51 AM, "Jai Ram Rideout" <notifications@github.com> wrote:

[2016-06-03 19:29] antgonza commented on #1002
Only updating the documentation is one solution and should be done either way but not having both implementations means that users will have to use R vs. skbio to reproduce plots.

[2016-06-03 21:53] jairideout commented on #1361
Nice catch! I confirmed the large runtime regressions locally. Even after the pandas 0.18.0 RangeIndex update (commit [here](https://github.com/biocore/scikit-bio/commit/87d577a1ba30215cac508d6496b45fbfefd9347e)), there is still a large enough performance hit that this needs to be fixed before release. We were prepared to take a small memory hit when merging [`f9016283`](https://github.com/biocore

[2016-06-03 21:56] #1348 closed

[2016-06-03 23:12] jairideout commented on #1002
👎, we already deviate from R/vegan API in several places. scikit-bio isn't a replacement for R/vegan, and if R behavior is desired, use R. vegan is one of many R packages implementing ecological statistics, and they all have different APIs and (sometimes) different results. If we implement functions to match vegan exactly, we'd also need to implement functions that match any number of other R pack

[2016-06-03 23:16] wasade commented on #1002
:+1: on docs. IMO, a clear note on how it differs from vegan is sufficient.

On Fri, Jun 3, 2016 at 4:12 PM, Jai Ram Rideout <notifications@github.com>
wrote:

[2016-06-03 23:18] rob-knight commented on #1002
Agree with Jai. Ideally we will write a series of short papers
identifying/benchmarking such discrepancies and justifying why we use the
optimal one in skbio, but skbio should not be the variorum edition of every
method tweak in microbial ecology...

Note that the microbial ecology indices and analyses, although we typically
use them now for amplicon data, will need to be repurposed and
re-benchma

[2016-06-04 20:23] #1296 closed

[2016-06-06 15:35] ebolyen commented on #1361
Thanks for the detailed write-up @jairideout!

[2016-06-06 16:35] #1291 closed

[2016-06-06 17:54] jairideout commented on #1322
Fixed in #1368, thanks @mortonjt!

[2016-06-06 17:54] #1322 closed

[2016-06-06 18:01] jairideout commented on #1002
@mortonjt, I noticed `skbio/stats/ordination/tests/test_redundancy_analysis.py` has a few comments of the form `# These are wrong. See issue #1002`. When the docs are updated to "fix" this issue, can you also remove those comments from the code or update them to note why the expected eigenvalues are different?

[2016-06-06 18:11] jairideout commented on #1313
Fixed in #1369.

[2016-06-06 18:11] #1313 closed

[2016-06-06 18:14] jairideout commented on #1326
@Kleptobismol ping on this issue, would be nice to have for 0.5.0 (release scheduled for Friday 6/10). The `StopIteration` error you were receiving should now be fixed upstream (#1369).

[2016-06-06 18:40] wasade commented on #1313
Possibly relevant:

https://www.python.org/dev/peps/pep-0479/

On Mon, Jun 6, 2016 at 11:11 AM, Jai Ram Rideout <notifications@github.com>
wrote:

[2016-06-06 21:04] jairideout commented on #1002
Fixed in #1370, thanks @mortonjt!

[2016-06-06 21:04] #1002 closed

[2016-06-06 21:05] ebolyen commented on #1313
We handled that PEP in #1245, we used to raise `StopIteration`, but now we behave better. This `StopIteration` was a legit call of `next` happening without handling it like other iterators.

[2016-06-07 00:24] antgonza opened #1371 "general data validation for method"
This is specific to ancom but might be something that could apply generally to skbio pr perhaps it should be part of qiime2, not sure.

The issue is that ancom validates and expects to have the same number of samples both in the table and  the grouping. However, as we all know the map file (grouping) will have more samples than the features table. Where should this validation/filtering be?

[2016-06-07 00:28] antgonza opened #1372 "ancom zero values"
ancom doesn't work with zero values. the current solution is to add 1 to all fields/features, should this be a default behavior as our data is sparse?

[2016-06-07 00:33] mortonjt commented on #1372
I think this should also be a qiime2 specific feature, because there are many different types of pseudo count strategies out there.  Keeping that sort of logic separate in qiime2 imho would simplify the scikit-bio api.

[2016-06-07 00:35] antgonza commented on #1372
Agree with this. However, not having the option in skbio means that all tools that use it will need to add this functionality: qiita, qiime2, others ...

[2016-06-07 00:36] ebolyen commented on #1371
Related to #756 (wow, that's an old one!)

[2016-06-07 00:43] mortonjt commented on #1372
Not really.  We can develop these pseudo-count methods into skbio.  We already have two options readily available `multiplicative_replacement`, and the constant pseudocount.

There are 2 reasons why I think it is OK keep the interface the way it is

1. Zeros are bad.  They actually mess up the results in ANCOM.  The more zeros.  The worse the results.  If the user actively accounts for this, they'

[2016-06-07 15:44] gregcaporaso commented on #1293
@mortonjt, @jairideout - is there a specific reason why we default to no multiple comparison correction? It seems like a better option would be to default to ``holm-bonferroni`` (which is currently the only option other than ``None``).

[2016-06-07 16:15] jairideout commented on #1372
👍 for the current interface. Since there's already many different ways to deal with zeros and it's an active area of research, keeping those replacement strategies separate from ANCOM will keep the method itself simple. We could always provide a convenience API to perform replacement *within* ANCOM in the future, but we'd still need the replacement API itself to exist (e.g., as it currently does,

[2016-06-07 16:20] jairideout commented on #1371
Thanks for bringing this up @antgonza. It will be really important for the stats in scikit-bio to have a common interface for this, as it affects ancom, anosim, permanova, mantel, and any other stats that have primary keys shared across their inputs.

[2016-06-07 16:22] jairideout commented on #1293
I don't think there's a specific reason, should be fine to change the default since it's an experimental API (just be sure to note in the changelog).

[2016-06-07 16:51] gregcaporaso commented on #1293
@mortonjt, is there a p-value that would make sense to report from ANCOM?

[2016-06-07 16:53] mortonjt commented on #1293
Nope. ANCOM has no p-values yet
On Jun 7, 2016 9:51 AM, "Greg Caporaso" <notifications@github.com> wrote:

[2016-06-07 17:00] gregcaporaso commented on #1293
Ok, thanks. And am I right that the input should be raw (un-rarefied) counts (not relative abundances)? That's the case in the docstring example, but just want to confirm that that's the expectation as QIIME 2 will type-check for both of those requirements.

[2016-06-07 17:04] mortonjt commented on #1293
I don't think that should be type checked. It should not care about the
sequencing depth. Rarefied vs not rarefied shouldn't matter.

The only thing that should matter is that there are no zeros,  which is
currently being checked.
On Jun 7, 2016 10:00 AM, "Greg Caporaso" <notifications@github.com> wrote:

[2016-06-07 17:13] gregcaporaso commented on #1293
Ok, so that'd mean no requirement for rarefied, but we specifically don't want them to be relative abundances, right? They should be counts.

[2016-06-07 17:22] ebolyen commented on #1293
Wouldn't a composition-based method basically treat everything as relative
(relative is just the unit simplex right)?

On Tue, Jun 7, 2016 at 10:13 AM, Greg Caporaso <notifications@github.com>
wrote:

[2016-06-07 17:23] gregcaporaso commented on #1293
Yes, but it does that conversion internally which is why we wouldn't want
to pass it relative abundance data.

On Tue, Jun 7, 2016 at 10:22 AM, Evan Bolyen <notifications@github.com>
wrote:

[2016-06-07 17:35] jairideout commented on #1293
Even though the method "works" (i.e. doesn't raise an error) on rarefied input, is the researcher using the method correctly? Probably not necessary for scikit-bio to make this distinction, but we'll be tracking that kind of semantic information in QIIME 2 and can warn (at least) if the user is doing something that's likely a mistake.

[2016-06-07 17:37] gregcaporaso commented on #1293
If I understand correctly, they are not using the method correctly if they pass rarefied data or relative frequency data (hence wanting to type check in QIIME 2, but agree that skbio doesn't need to check for this).

[2016-06-07 17:39] mortonjt commented on #1293
Exactly.  It shouldn't even matter if they are counts or not.
On Jun 7, 2016 10:22 AM, "Evan Bolyen" <notifications@github.com> wrote:

[2016-06-07 21:20] jairideout commented on #1361
After more discussion with @gregcaporaso and @ebolyen, we decided to reinstate the empty/missing metadata optimizations that were removed in #1321. We decided to revert for the following reasons:

- avoid breaking stable public API
- the current API is convenient for users because they don't have to check whether metadata is `None` before doing something with it
- private-state unit tests will exi

[2016-06-08 04:11] antgonza opened #1375 "ancom reject column is misleading"
Currently, "significant" values are True in the reject column, perhaps the column should be called "significant" or invert the values so False are those that shouldn't be rejected ...

[2016-06-08 04:12] antgonza opened #1376 "ancom returns false positives in small tables"
When you are dealing with small tables, 10-20 features, it's possible to get a W of 0 and True in the reject  column (significant features with a W of 0). This is expected based on how the algorithm works so it should raise a warning/error on this cases.

[2016-06-08 04:13] mortonjt commented on #1376
:+1:  We probably should raise a warning if a table with <20 features is
used.

On Tue, Jun 7, 2016 at 9:12 PM, Antonio Gonzalez <notifications@github.com>
wrote:

[2016-06-08 10:34] saketkc commented on #805
Hi everyone,

I have another version(more of a proof of concept) that follows tricks from the [seqLogo](http://bioconductor.org/packages/release/bioc/html/seqLogo.html) package.

https://github.com/saketkc/motif-logos-matplotlib/blob/master/Motif%20Logos%20using%20matplotlib.ipynb

My license understanding says that BSD-3 clause and LGPL are compatible. I am unaware of the `scikit-core` license po

[2016-06-08 13:49] gregcaporaso commented on #1376
I agree that this would be useful. Where does the number 20 come from? Do the developers of ANCOM recommend that?

[2016-06-08 13:57] gregcaporaso commented on #1375
We wouldn't want to invert the values and keep the column name, as it's implying that the null hypothesis is rejected, but I agree that it's not the most intuitive (and the docs aren't super clear on it). I also hesitate to call it *significant* since we don't have a p-value (which bugs me a little about the method, and I think we're going to field a lot of questions about that).

What if it were

[2016-06-08 13:58] antgonza commented on #1375
👍

[2016-06-08 14:01] gregcaporaso commented on #1375
@mortonjt, what do you think about this change?

[2016-06-08 15:34] jairideout commented on #1375
Is it possible to report the actual p-values instead? `ancom` take `alpha` as input and uses that to determine significance. What if we remove the `alpha` parameter and let the user decide what's significant?

[2016-06-08 15:48] gregcaporaso commented on #1375
I don't think so, unfortunately. See the content from @mortonjt on my pr.

Sent from my phone, please excuse typos and brevity.

Is it possible to report the actual p-values instead? ancom take alpha as
input and uses that to determine significance. What if we remove the alpha
parameter and let the user decide what's significant?

—
You are receiving this because you were assigned.
Reply to this e

[2016-06-08 16:10] mortonjt commented on #1375
I actually don't see why this has to change. This is standard statistical
terminology. If you look at the modules in statsmodels, this is commonly
used.

And I don't like differentially abundant. It implied that there is an
increase.

I'm ok with updating the docs to make this clear. I don't think this column
should change.
On Jun 8, 2016 7:01 AM, "Greg Caporaso" <notifications@github.com> wrote: